.grid {
  .items {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    background: var(--gray-500);
    border-radius: rem(8px);
  }

  .btn-load-more {
    margin: auto;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}
