.grid {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: flex-start;
  grid-row-gap: rem(16px);

  .items {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--gap, rem(8px));
  }

  .item {
    background: var(--gray-500);
    border-radius: rem(8px);
  }

  .btn-load-more {
    margin: auto;
  }
}
