.app-main {
  &.is-overflow-off {
    overflow: visible;
  }

  .carousel {
    max-height: rem(308px);
    height: 100%;
  }

  .carousel__viewport {
    border-radius: 8px;
  }

  .carousel__pagination {
    padding: rem(8px) 0 0 0;
    display: flex;
    margin: 0;
  }

  .carousel__pagination-button {
    @extend %flex-all-center;
    border-radius: var(--vc-pgn-height);
    transition: background-color .2s ease-in-out;
    width: #{rem(20px)};
    height: #{rem(20px)};
    padding: 0;

    --vc-pgn-margin: 0;
    --vc-pgn-width: #{rem(8px)};
    --vc-pgn-height: #{rem(8px)};

    &:after {
      --vc-pgn-border-radius: 50%;
      --vc-pgn-background-color: var(--gray-600);
    }

    @include use-hover {
      &:hover {
        &:after {
          background-image: var(--gradient-radial);
          --vc-pgn-active-color: var(--gray-600);
        }
      }
    }
  }

  .carousel__pagination-button--active {
    --vc-pgn-active-color: var(--yellow-500);

    &:after {
      background-image: var(--gradient-radial);
      --bg: var(--yellow-500);
    }

    @include use-hover {
      &:hover {
        &:after {
          background-image: var(--gradient-radial);
          --vc-pgn-active-color: var(--yellow-500);
        }
      }
    }
  }

  .carousel__icon {
    width: #{rem(18px)};
    height: #{rem(18px)};
  }

  .carousel__prev, .carousel__next {
    color: var(--white);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    margin: 0;
    --vc-nav-background: var(--gray-800);
    --vc-nav-border-radius: 8px;
    --vc-nav-width: #{rem(32px)};
    --vc-nav-height: #{rem(32px)};
    transition: all .2s ease-in-out;

    &:hover {
      color: var(--white);
    }

    &:active {
      color: var(--yellow-500);
    }

    @include use-hover {
      &:hover {
        color: var(--yellow-500);
      }
    }
  }

  .carousel__prev {
    transform: translateX(-50%) translateY(-100%);
  }

  .carousel__next {
    transform: translateX(50%) translateY(-100%);
  }

  .carousel__slide {
    border-radius: 8px;
    overflow: hidden;
  }
}
