@use "ds/colors";
@use "ds/variables";

:root {
  --container-max-width: #{rem(2264px)};
  @each $color, $val in colors.$colors {
    --#{$color}: #{$val};
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-webkit-autofill-strong-password,
input:-webkit-autofill-strong-password-viewable,
input:-webkit-autofill-and-obscured {
  -webkit-text-fill-color: var(--color, var(--white)) !important;
  -webkit-box-shadow: inset 0 0 0 1000px var(--bg, var(--gray-800)) !important;
  transition: background-color 5000s ease-in-out 0s ;
  border: 1px solid var(--white) !important;
  background-color: var(--gray-800) !important;
}

input, button, ::placeholder, textarea {
  font-family: Rubik, sans-serif;
}

@mixin radius($size) {
  border-radius: $size;
}

$font-path: '~/assets/fonts/';

@font-face {
  font-family: 'Rubik';
  src: url('#{$font-path}Rubik-Regular.woff2') format('woff2'),
  url('#{$font-path}Rubik-Regular.woff') format('woff'),
  url('#{$font-path}Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('#{$font-path}Rubik-Medium.woff2') format('woff2'),
  url('#{$font-path}Rubik-Medium.woff') format('woff'),
  url('#{$font-path}Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('#{$font-path}Rubik-Bold.woff2') format('woff2'),
  url('#{$font-path}Rubik-Bold.woff') format('woff'),
  url('#{$font-path}Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent
}

:focus-visible,
input,
textarea,
button,
select,
a {
  outline: none;
}

html {
  font-size: variables.$base-font-size;
  scroll-behavior: smooth;
}


//@import "ds/mixins";
//@import "ds/placeholders";

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  background-color: var(--black-primary);
  @extend %scrollbar-hide;

  &.nav-user-open {
    --nav-user-visibility: visible;
    --nav-user-translate-x: 0;
    --nav-user-translate-y: 0deg;
    --nav-user-rotate-y: 0;
    --opacity-layer-visibility: visible;
    --header-z-index: 3;
    --close-decor-index: 2;
    --close-btn-visibility: visible;
    --drawer-transition: (transform .2s ease-in);

    @include media(sm) {
      --close-btn-visibility: hidden;
      --drawer-transition: none;
      --opacity-layer-visibility: hidden;
    }
  }

  &.drawer-open {
    --drawer-translate-x: translateX(0);
    --opacity-layer-visibility: visible;
    --drawer-visibility: visible;
  }

  &.nav-currency-open {
    --opacity-layer-visibility: visible;
    --body-overflow: hidden;
    --nav-currency-visibility: visible;
    --nav-currency-translate-y: 0;

    @include media(sm) {
      --opacity-layer-visibility: hidden;
      --body-overflow: auto;
    }
  }

  &.hidden-overflow {
    overflow: hidden !important;
  }
}

.main-layout {
  display: grid;
  grid-template-areas:
    "drawer app-header"
    "drawer app-main"
    "drawer app-footer";
  grid-template-columns: var(--body-template-columns, 0 1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  align-items: flex-start;

  @include media(l) {
    --body-template-columns: #{rem(240px)} 1fr;
    --drawer-translate-x: translateX(0);

    &.drawer-minimize {
      --body-template-columns: #{rem(72px)} 1fr;
    }
  }
}

.app-main {
  grid-area: app-main;
  @extend %container;
  padding: var(--padding, #{24px} #{16px});
  pointer-events: var(--main-pointer-events, initial);
  position: relative;
  z-index: 0;
  min-height: rem(375px);
  overflow: hidden;

  &.is-overflow {
    overflow: hidden;
  }

  @include media(sm) {
    --padding: #{rem(24px)} #{rem(32px)}
  }

  @include media(l) {
    --padding: #{rem(24px)} #{rem(48px)}
  }

  .group-games, .group-winners, .group-promotions, .favorite-recently, .cards-wrap, .group-turbo, .cards-providers {
    margin-bottom: rem(32px);

    @include media(l) {
      margin-bottom: rem(40px);
    }
  }
}

.form {
  display: grid;
  grid-gap: rem(24px);

  .group {
    display: flex;
  }
}

@import "carousel";

.vfm {
  display: flex;
  justify-content: center;
}

.vfm__overlay {
  background-color: rgba(0, 0, 0, 0.88) !important;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
}

.vfm__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(8px) 0;
  margin: auto;
}

.stop-transition * {
  transition: none !important;
}

// CLASSES FOR VUE TRANSITIONS ELEMENT
.fade-down {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(100%);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: all 0.8s;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }
}
