.betting {
  display: grid;
  grid-template-areas:
    "container nav"
    "panel nav"
    "seo nav";
  align-items: var(--align-items, flex-end);
  grid-template-columns: 1fr auto;
  margin: -24px -16px 0 -16px;

  @include media(sm) {
    margin-right: -2rem;
    margin-left: -2rem;
  }

  @include media(l) {
    width: 100%;
    margin: 0;
  }

  .container {
    background-color: var(--black-primary);
    grid-area: container;
    position: relative;
    width: 100%;
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    height: calc(var(--vh, 1vh) * 100 - 120px - var(--safe-area-inset-bottom));

    @include media(l) {
      height: calc(100vh - 88px);
    }

    iframe {
      display: block;
      max-width: 100%;
      border: none !important;
    }
  }

  .text-wrap {
    grid-area: seo;
  }
}
