.documents-block {
  display: grid;
  width: 100%;
  grid-template-areas:
  "identity identity"
  "address address"
  "payment payment";
  grid-template-columns: repeat(2, 1fr);
  grid-gap: rem(16px);

  @include media(sm) {
    grid-template-areas:
    "identity identity"
    "address payment";
  }

  @include media(md) {
    grid-gap: rem(24px);
  }

  .identity {
    grid-area: identity;
  }

  .address {
    grid-area: address;
  }

  .payment {
    grid-area: payment;
  }
}
