.sumsub-verify {
  display: flex;
  flex-direction: column;
  gap: rem(8px);
  padding: rem(24px);
  background: var(--layer-01);
  border-radius: 12px;

  @include media(sm) {
    flex-direction: row;
    gap: rem(16px);
  }
}