.tb-transactions-history {
  @extend %tb;
  @extend %scrollbar;
  overflow-x: auto;
  overscroll-behavior: auto;

  .row {
    grid-template-columns:
      minmax(rem(100px), 1fr)
      minmax(rem(102px), 1fr)
      minmax(rem(154px), 1fr)
      minmax(rem(128px), 1fr)
      minmax(rem(158px), 1fr)
      minmax(rem(52px), 1fr);
  }

  .actions {
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 1/7;
    padding-bottom: rem(16px);
  }

  &__short {
    margin-bottom: 32px;

    @include media(md) {
      margin-bottom: 100px;
    }
  }
}
