.bonus-page {
  margin-top: rem(-24px);
  > .header {
    background: var(--bg, var(--layer-01));
    height: var(--height, #{rem(200px)});
    padding:  #{rem(16px)} 0 #{rem(16px)};
    margin: var(--margin, 0 #{rem(-16px)});
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: var(--gradient-tint-dark-b2t-half);
    }

    @include media(sm) {
      --margin: 0 #{rem(-48px)}
    }

    &[data-bg="gray"] {
      --bg: var(--layer-01);
    }

    &[data-bg="red"] {
      --bg: var(--red-900);
    }

    &[data-bg="yellow"] {
      --bg: var(--orange-900);
    }

    &[data-bg="green"] {
      --bg: var(--green-900);
    }

    &[data-bg="blue"] {
      --bg: var(--blue-900);
    }

    .picture {
      height: 100%;
      display: block;
      position: relative;
      z-index: 1;

      img {
        height: 100%;
        width: auto;
        margin: auto;
        display: block;
        max-width: 100%;
      }
    }

    @include media(xs) {
      --height: #{rem(280px)};
    }
  }

  .content {
    @include text-page-max;
    padding-top: rem(40px);

    > .title {
      @include font($heading-1);
      color: var(--text-accent);
      margin: 0 0 rem(8px);
      padding: 0;
    }

    > .sub-title {
      @include font($heading-7);
      color: var(--text-primary);
      margin: 0 0 rem(16px);
      padding: 0;
    }

    > .description {
      @include font($body-3-paragraph);
      color: var(--text-tertiary);
      margin: 0 0 rem(16px);
      padding: 0;
    }

    > .list-title {
      @include font($heading-3);
      color: var(--text-primary);
      margin: 0 0 rem(16px);
      padding: 0;
    }

    > ol {
      margin: 0;
      padding: 0;
      list-style: none;
      @include font($body-3-paragraph);
      color: var(--text-tertiary);

      li {
        margin: rem(12px) 0;
      }

      > ul {
        margin: 0;
        padding: 0;
        list-style: disc inside;
        @include font($body-3-paragraph);

        li {
          margin: rem(12px) 0;
          padding: 0 0 0 rem(20px);
        }
      }
    }
  }

  .detail {
    margin-top: rem(40px);
  }
}
