.dropdown {
  position: relative;
  width: var(--select-width, 100%);
  outline: none;
  @include font($body-2);

  .icon {
    color: var(--icon-color, var(--gray-400));
    transform: var(--icon-transform, rotate(0));
    transition: transform .2s ease-in-out;
  }

  .selected {
    border-radius: 8px;
    border: 1px solid var(--border-color, var(--gray-800));
    color: var(--color, var(--white));
    cursor: pointer;
    user-select: none;
    padding: var(--select-padding-y, rem(11px)) rem(36px) var(--select-padding-y, rem(11px)) rem(16px);
    display: flex;
    align-items: center;
    background-color: var(--bg, var(--gray-800));
    position: relative;
    transition: border-color .2s ease-in-out;
    min-height: rem(42px);
    grid-column-gap: rem(8px);

    .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 8px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .placeholder {
    color: var(--color, var(--gray-400));
  }

  .label {
    color: var(--white);
    margin-bottom: rem(8px);
    display: block;
  }

  .items {
    position: absolute;
    left: 0;
    min-width: 100%;
    padding: rem(8px);
    visibility: var(--items-visibility, hidden);
    max-height: calc((#{rem(38px)} * 4) + #{4px});
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--gray-800);
    transform: translateY(#{rem(8px)});
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    @extend %scrollbar;
  }

  .item {
    color: var(--color, var(--white));
    padding: rem(8px);
    cursor: pointer;
    user-select: none;
    background-color: var(--bg, transparent);
    transition: background-color .2s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    grid-column-gap: rem(8px);
    text-overflow: ellipsis;
    white-space: nowrap;

    .icon {
      margin-left: auto;
      position: relative;
      transform: var(--icon-transform, rotate(0));
      transition: transform .2s ease-in-out;
      --icon-color: var(--white);
    }

    &:hover {
      border-radius: 4px;
      --bg: var(--gray-700);
    }
  }

  .mask {
    width: rem(22px);
    height: rem(18px);
  }

  .hint {
    margin-top: rem(6px);
  }

  &.is-open {
    z-index: 2;
    .selected {
      --border-color: var(--gray-300);
      --color: var(--white);
      --bg: var(--gray-700);
      --icon-transform: rotate(180deg);
    }

    --items-visibility: visible;
  }

  &.has-error {
    --border-color: var(--red-800);

    .selected {
      --color: var(--white);
      --icon-color: var(--red-500);
      --border-color: var(--red-800) !important;
    }
  }

  &.is-disabled {
    pointer-events: none;

    .selected {
      --border-color: var(--gray-800);
      --color: var(--gray-500);
      --bg: var(--gray-800);
       --icon-transform: rotate(0deg);
    }

    .placeholder {
      --color: var(--gray-500);
    }

    --icon-color: var(--gray-500);
  }

  &.size-xs {
    --select-padding-y: #{rem(4px)};
    @include upd-font($body-1);
  }

  &.size-sm {
    --select-padding-y: #{rem(8px)};
    @include upd-font($body-1);
  }

  &.size-md {
    --select-padding-y: #{rem(11px)};
    @include upd-font($body-2);
  }

  &.size-lg {
    --select-padding-y: #{rem(19px)};
    @include upd-font($body-2);
  }
}



