.input-deposit {
  @include radius(999px);
  @include font($heading-2);
  @extend %flex-items-center;
  background-color: var(--gray-900);
  color: var(--gray-500);

  .amount {
    @extend %flex-items-center;
    padding-left: rem(16px);

    span:first-child {
      color: var(--white);
    }
  }

  .label {
    @extend %flex-items-center;
    margin: 0 rem(8px) 0 rem(4px);
  }
}
