@use "font-sizes";
@use "font-weights";
@use "line-heights";
@use "letter-spacings";
@use "sass:map";

$heading-0: (
  font-size: map.get(font-sizes.$font-sizes, 25),
  font-weight: map.get(font-weights.$font-weights, medium),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-1: (
  font-size: map.get(font-sizes.$font-sizes, 50),
  font-weight: map.get(font-weights.$font-weights, medium),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-2: (
  font-size: map.get(font-sizes.$font-sizes, 75),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-3: (
  font-size: map.get(font-sizes.$font-sizes, 100),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-4: (
  font-size: map.get(font-sizes.$font-sizes, 300),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-4: (
  font-size: map.get(font-sizes.$font-sizes, 300),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-5: (
  font-size: map.get(font-sizes.$font-sizes, 400),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-6: (
  font-size: map.get(font-sizes.$font-sizes, 500),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-7: (
  font-size: map.get(font-sizes.$font-sizes, 600),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-8: (
  font-size: map.get(font-sizes.$font-sizes, 900),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-9: (
  font-size: map.get(font-sizes.$font-sizes, 1100),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$heading-uppercase-1: (
  font-size: map.get(font-sizes.$font-sizes, 50),
  font-weight: 600,
  text-transform: uppercase,
);

$heading-uppercase-2: (
  font-size: map.get(font-sizes.$font-sizes, 75),
  font-weight: map.get(font-weights.$font-weights, bold),
  text-transform: uppercase,
);

$heading-uppercase-3: (
  font-size: map.get(font-sizes.$font-sizes, 100),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 1),
  text-transform: uppercase,
);

$heading-uppercase-4: (
  font-size: map.get(font-sizes.$font-sizes, 300),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 1),
  text-transform: uppercase,
);

$heading-uppercase-5: (
  font-size: map.get(font-sizes.$font-sizes, 400),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 1),
  text-transform: uppercase,
);

$heading-uppercase-6: (
  font-size: map.get(font-sizes.$font-sizes, 500),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 1),
  text-transform: uppercase,
);

$heading-uppercase-7: (
  font-size: map.get(font-sizes.$font-sizes, 600),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 1),
  text-transform: uppercase,
);

$heading-uppercase-8: (
  font-size: map.get(font-sizes.$font-sizes, 900),
  font-weight: map.get(font-weights.$font-weights, bold),
  line-height: map.get(line-heights.$line-heights, 1),
  text-transform: uppercase,
);

$subheading-0: (
  font-size: map.get(font-sizes.$font-sizes, 25),
  font-weight: map.get(font-weights.$font-weights, medium),
  line-height: map.get(line-heights.$line-heights, 1.3),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$subheading-1: (
  font-size: map.get(font-sizes.$font-sizes, 50),
  font-weight: map.get(font-weights.$font-weights, medium),
  line-height: map.get(line-heights.$line-heights, 1.3),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$subheading-2: (
  font-size: map.get(font-sizes.$font-sizes, 75),
  font-weight: map.get(font-weights.$font-weights, medium),
  line-height: 130%,
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$subheading-3: (
  font-size: map.get(font-sizes.$font-sizes, 100),
  font-weight: map.get(font-weights.$font-weights, medium),
  line-height: 130%,
);

$subheading-4: (
  font-size: map.get(font-sizes.$font-sizes, 300),
  font-weight: map.get(font-weights.$font-weights, medium),
  line-height: map.get(line-heights.$line-heights, 2),
);

$subheading-6: (
  font-size: map.get(font-sizes.$font-sizes, 500),
  font-weight: map.get(font-weights.$font-weights, medium),
  line-height: 130%,
);

$body-0: (
  font-size: map.get(font-sizes.$font-sizes, 25),
  font-weight: map.get(font-weights.$font-weights, regular),
  line-height: map.get(line-heights.$line-heights, 3),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$body-1: (
  font-size: map.get(font-sizes.$font-sizes, 50),
  font-weight: map.get(font-weights.$font-weights, regular),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$body-1-paragraph: (
  font-size: map.get(font-sizes.$font-sizes, 50),
  font-weight: map.get(font-weights.$font-weights, regular),
  line-height: map.get(line-heights.$line-heights, 3),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$body-2: (
  font-size: map.get(font-sizes.$font-sizes, 75),
  font-weight: map.get(font-weights.$font-weights, regular),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$body-2-paragraph: (
  font-size: map.get(font-sizes.$font-sizes, 75),
  font-weight: map.get(font-weights.$font-weights, regular),
  line-height: map.get(line-heights.$line-heights, 3),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$body-3: (
  font-size: map.get(font-sizes.$font-sizes, 100),
  font-weight: map.get(font-weights.$font-weights, regular),
  line-height: map.get(line-heights.$line-heights, 2),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$body-4: (
  font-size: map.get(font-sizes.$font-sizes, 300),
  font-weight: map.get(font-weights.$font-weights, regular),
  line-height: 130%,
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$body-3-paragraph: (
  font-size: map.get(font-sizes.$font-sizes, 100),
  font-weight: map.get(font-weights.$font-weights, regular),
  line-height: map.get(line-heights.$line-heights, 3),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);

$link-0: (
  font-size: map.get(font-sizes.$font-sizes, 25),
  font-weight: map.get(font-weights.$font-weights, regular),
  line-height: map.get(line-heights.$line-heights, 3),
  letter-spacing: map.get(letter-spacings.$letter-spacings, 1),
);
