$base-font-size: 16px;
$use-rem: 1;
$app-header-height: 62px;

$breakpoints: (
  xxs:  360px,  // default
  xs:   528px,  // 33 rem
  sm:   768px,  // 48 rem
  md:   1024px, // 64 rem
  l:    1280px, // 80 rem
  xl:   1617px, // 101.0625 rem
  xxl:  1833px, // 114.5625 rem
  xxxl: 2264px, // 141.5 rem
);
