.accumulated-rewards {
  display: grid;
  grid-template-areas:
          "content img"
          "content img";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  width: 100%;
  grid-column-gap: 16px;
  background-color: var(--layer-03-low-contrast);
  border-radius: 8px;
  align-self: stretch;
  justify-content: center;
  position: relative;

  .modal-quest-hub & {
    padding: 16px;

    @include media(md) {
      padding: 16px 16px 20px 16px;
      grid-template-columns: 1fr 128px;
    }
  }

  .quest-hub & {
    padding: 8px 16px;
  }

  &__label {
    @include font($subheading-1);
    color: var(--text-secondary);
    margin-bottom: 4px;
    grid-area: label;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    grid-area: content;
    position: relative;
    flex-grow: 1;

    .quest-hub & {
      @include media(md) {
        &:has(.accumulated-rewards__list) {
          .accumulated-rewards__amount-current {
            &:after {
              content: '';
              position: relative;
              border-left: 1px solid var(--border-02-low-contrast);
              height: 100%;
              margin: 0 8px;
            }
          }
        }
      }
    }

    &-label {
      @include font($subheading-1);
      color: var(--text-secondary);
      margin-bottom: 4px;
    }
  }

  &__amount {
    display: flex;
    flex-direction: column;

    .quest-hub & {
      @include media(md) {
        flex-direction: row;
      }
    }

    &-current {
      display: flex;
      grid-column-gap: 4px;
    }

    &-value, &-currency {
      @include font($heading-4);
      color: var(--text-accent);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    grid-column-gap: 4px;

    &-items {
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    &-item {
      @include font($subheading-1);
      color: var(--text-primary);
      display: flex;
      align-items: center;
      text-transform: uppercase;
      white-space: nowrap;

      &:not(:last-of-type) {
        margin-right: 2px;

        &:after {
          content: ',';
          color: var(--text-helper);
        }
      }

      &-value {
        margin-right: 4px;
      }
    }

    &-more {
      @include font($body-0);
      color: var(--text-tertiary);
      display: flex;
      grid-column-gap: 2px;
      margin-left: 4px;
      white-space: nowrap;
      cursor: pointer;
      --line-height: auto;

      &:hover {
        color: var(--button-icn-ghost-hover);
      }
    }
  }

  &__img {
    grid-area: img;

    display: flex;
    align-items: center;

    .quest-hub & {
      width: 64px;
      height: 64px;
    }

    .modal-quest-hub & {
      width: 64px;
      height: 64px;

      @include media(md) {
        width: 128px;
        height: 128px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) translateX(16px);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
}