.quest-current-timer {
  display: flex;
  padding: 4px 14px;
  justify-content: center;
  background: var(--layer-03-low-contrast);
  border-radius: 12px;
  border: 1px solid var(--border-alert);
  background: var(--red-000);
  grid-column-gap: 1px;

  &__item {
    color: var(--item-color, var(--text-primary));
    display: flex;
    align-items: center;
    line-height: initial;
    flex-direction: column;
    grid-row-gap: 2px;

    &.has-null  {
      --time-color: #8E949F;
    }

    &-time {
      @include font($heading-3);
      color: var(--time-color, var(--border-alert));
      width: 20px;
      text-align: center;

      @include upd-font($heading-1);
    }

    &-label {
      @include font($body-0);
      color: var(--text-helper);
    }
  }

  &__dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--text-tertiary);
    padding: 1px;
    height: 16px;
    @include font($heading-1);
    transform: translateY(-1px);
    width: 5px;
  }
}
