.quest-tab {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__load-more {
    --width: 100%;
    --color: var(--button-text-ghost-low-contrast);
  }

  .quest-empty {
    margin-top: 48px;

    &__image {
      max-height: 192px;
      max-width: 192px;

      @include media(sm) {
        max-height: 240px;
        max-width: 240px;
      }
    }
  }
}