.email-verification {
  background-color: var(--layer-01);
  border-radius: 16px;
  padding: 24px;

  &__title {
    text-align: center;
    @include font($heading-4);
    color: var(--text-primary);
    margin-bottom: 16px;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);

    .is-warning {
      --color: var(--orange-500);
    }

    .is-success {
      --color: var(--green-500);
    }
  }

  .btn-primary {
    width: 100%;
    margin-top: 24px;
  }
}