.input-checkbox {
  color: var(--text-primary);
  @include font($body-2);

  .label {
    display: grid;
    grid-column-gap: rem(8px);
    grid-template-columns: auto 1fr;
    align-items: flex-start;

    &:hover {
      cursor: pointer;
    }
  }

  .checkbox {
    position: absolute;
    visibility: hidden;
  }

  span {
    margin: 0;
    color: var(--text-primary);

    @include font($body-2);

    a {
      color: var(--text-link);
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .icon {
    background-color: var(--bg, var(--field-00));
    border-radius: 4px;
    @include box(18px);
    box-shadow: var(--shadow, none);
    --color: transparent;
  }

  .label {
    --shadow: 0 0 0 2px var(--border-02);


    @media (hover: hover) {
      &:hover {
        --shadow: 0 0 0 2px var(--border-hover);
        .icon {
          --bg: var(--field-00)
        }
      }
    }
  }

  &.input-checkbox--checked .label {
    --shadow: 0 0 0 2px var(--support-success-default);

    .icon {
      --bg: var(--support-success-default);
      --color: var(--icon-contrast);
    }

    @media (hover: hover) {
      &:hover {
        .icon {
          --shadow: 0 0 0 2px var(support-success-default);
          --bg: var(--support-success-low-contrast);
        }
      }
    }
  }

  .checkbox[disabled] ~ .label {
    --shadow: 0 0 0 2px var(--field-00);

    .icon {
      --bg: var(--field-00);
      --color: transparent;
    }
    pointer-events: none;
  }

  .checkbox[disabled]:checked ~ .label {
    --shadow: 0 0 0 2px var(--field-00);

    .icon {
      --bg: var(--field-00);
      --color: var(--icon-secondary);
    }
  }

  &.has-error {
    .label {
      --shadow: 0 0 0 2px var(--support-alert-default);

      .icon {
        --bg: transparent;
        --color: transparent;
      }
    }

    &.input-checkbox--checked .label {
      .icon {
        --color: var(--icon-contrast);
        --bg: var(--support-alert-default);
      }
    }
  }

  p {
    margin: 0;
  }
}
