.input-checkbox {
  @include font($body-2);

  .label {
    display: grid;
    grid-column-gap: rem(8px);
    grid-template-columns: auto 1fr;
    align-items: var(--label-align, flex-start);
    color: var(--label-color, var(--text-primary));

    &:hover {
      cursor: pointer;
    }
  }

  .checkbox {
    position: absolute;
    visibility: hidden;
  }

  span {
    margin: 0;
    color: var(--label-color, var(--text-primary));
    transition: color 0.2s ease-in-out;

    @include font($body-2);

    a {
      color: var(--text-link);
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .icon {
    --color: var(--icon-color, transparent);
    --shadow: var(--icon-shadow, unset);
    background-color: var(--icon-bg, var(--field-00));
    border-radius: 4px;
    width: var(--icon-size, 18px);
    height: var(--icon-size, 18px);
    box-shadow: var(--shadow, none);
  }

  .label {
    --icon-shadow: 0 0 0 2px var(--border-02);

    @media (hover: hover) {
      &:hover {
        --icon-shadow: 0 0 0 2px var(--border-hover);

        .icon {
          --icon-bg: var(--icon-bg-hover, var(--field-00));
        }
      }
    }
  }

  &.input-checkbox--checked .label {
    --icon-shadow: 0 0 0 2px var(--support-success-default);
    --label-color:  var(--labe-color-checked, var(--text-primary));

    .icon {
      --icon-bg: var(--support-success-default);
      --icon-color: var(--icon-color-checked, var(--icon-contrast));
    }

    @media (hover: hover) {
      &:hover {
        .icon {
          --icon-shadow: 0 0 0 2px var(support-success-default);
          --icon-bg: var(--support-success-low-contrast);
        }
      }
    }
  }

  .checkbox[disabled] ~ .label {
    --icon-shadow: 0 0 0 2px var(--field-00);
    pointer-events: none;

    .icon {
      --icon-bg: var(--field-00);
      --icon-color: var(--icon-color-disabled, transparent);
    }
  }

  .checkbox[disabled]:checked ~ .label {
    --icon-shadow: 0 0 0 2px var(--field-00);

    .icon {
      --icon-bg: var(--field-00);
      --icon-color: var(--icon-color-checked-disabled, var(--icon-secondary));
    }
  }

  &.has-error {
    .label {
      --icon-shadow: 0 0 0 2px var(--support-alert-default);

      .icon {
        --icon-bg: transparent;
        --icon-color: var(--icon-color-error, transparent);
      }
    }

    &.input-checkbox--checked .label {
      .icon {
        --icon-color: var(--icon-color-checked-disabled, var(--icon-contrast));
        --icon-bg: var(--support-alert-default);
      }
    }
  }

  p {
    margin: 0;
  }
}
