.input-copy {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;

  @extend %input-label;

  .row {
    position: relative;
    display: flex;
  }

  .field {
    background-color: var(--bg, var(--field-00));
    padding: var(--input-padding-y, #{rem(11px)}) rem(16px);
    border: 1px solid var(--border-color, var(--field-00));
    color: var(--color, var(--text-tertiary));
    border-radius: 8px 0 0 8px;
    @include font($body-2);
    transition: border-color .2s ease-in-out;
    flex-grow: 1;

    &::placeholder {
      color: var(--text-tertiary);
    }

    &:focus {
      --border-color: var(--border-click);
      --bg: var(--field-00);
    }
  }

  &__clone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    max-width: 100%;
    display: inline-block;
    pointer-events: none;
    text-wrap: nowrap;
    overflow: auto;
    flex-shrink: 0;

    span {
      @include font($body-2);
      padding: 0 !important;
    }
  }

  .hint {
    margin-top: rem(8px);
  }

  &.has-error {
    --border-color: var(--border-alert);
  }

  .btn-copy {
    @extend %skip-btn;
    border-radius: 0 8px 8px 0;
    padding: rem(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;

    @extend %btn-primary;
  }

  &__tooltip {
    position: absolute;
    bottom: calc(100% + 4px);
    right: 0;
    padding: 2px 8px;
    background-color: var(--green-700);
    color: var(--text-primary);
    white-space: nowrap;

    @include font($body-1);
  }
}
