@use "~/skeleton/assets/styles/flatpickr-calendar.scss";

.input-date {
  @extend %input-label;
  position: relative;
  width: 100%;

  .row {
    position: relative;
  }

  .form-control {
    background: none;
    background-color: var(--bg, var(--field-00));
    padding: var(--input-padding-y, #{rem(7px)}) rem(44px);
    border: 1px solid var(--border-color, var(--field-00));
    color: var(--color, var(--text-primary));
    border-radius: 8px;
    @include font($heading-2);
    transition: border-color .2s ease-in-out;
    width: 100%;
    cursor: pointer;
    min-height: 40px;

    &::placeholder {
      color: var(--text-tertiary);
      @include font($body-1);
    }

    &:focus {
      --border-color: var(--text-primary);
      --bg: var(--field-00-click);
    }

    &.active {
      ~ .mask-toggle {
        --icon-transform: rotate(180deg);
      }
    }
  }

  .mask-placeholder {
    position: absolute;
    left: rem(16px);
    top: 0;
    bottom: 0;
    margin: auto;
    --color: var(--icon-primary);
    pointer-events: none;
  }

  .mask-toggle {
    position: absolute;
    right: rem(16px);
    top: 0;
    bottom: 0;
    margin: auto;
    color: var(--icon-color, var(--icon-primary));
    transform: var(--icon-transform, rotate(0));
    transition: transform .2s ease-in-out;
    pointer-events: none;
  }

  .label {
    color: var(--white);
  }
}
