.input-deposit {
  @include radius(12px);
  display: flex;
  background-color: var(--layer-01);
  color: var(--text-helper);
  user-select: none;
  position: relative;
  margin-left: -8px;
  width: fit-content;

  @include media(xs) {
    margin-left: 0;
  }

  .amount {
    @extend %flex-items-center;
    color: var(--text-primary);
  }

  .label {
    @extend %flex-items-center;
  }

  .select {
    display: flex;
    position: relative;
    flex-shrink: 1;
    align-items: center;
    padding: 0 8px 0 16px;
    grid-column-gap: 4px;

    @include media(l) {
      padding: 0 16px;
    }

    &__content {
      display: grid;

      @include media(l) {
        display: flex;
      }

      .amount {
        @include font($heading-1);

        @include media(l) {
          @include upd-font($heading-2);
        }
      }

      .label {
        @include font($heading-0);
        order: -1;

        @include media(l) {
          margin: 0 0 0 rem(4px);
          @include upd-font($heading-2);
          order: 0;
        }
      }
    }

    @include use-hover {
      &:hover {
        cursor: pointer;
      }
    }

    &.is-open {
      .icon-expand {
        --icon-transform: rotate(-180deg);
        --color: var(--icon-contrast);
      }
    }
  }

  .icon-expand {
    transform: var(--icon-transform, rotate(0));
    transition: transform 0.2s ease-in-out;
    --color: var(--icon-primary);
    --icon-size: 20px;
  }
}
