.dropdown {
  position: relative;
  width: var(--select-width, 100%);
  outline: none;
  @include font($body-2);

  &.is-open  {
    .placeholder {
      color: var(--text-tertiary);
    }
  }

  &.is-fit-content {
    .items {
      max-width: none;
      width: auto;

      span {
        overflow: unset;
      }
    }
  }

  .icon {
    color: var(--icon-color, var(--icon-primary));
    transform: var(--icon-transform, rotate(0));
    transition: transform .2s ease-in-out;
  }

  .selected {
    border-radius: 12px;
    border: 1px solid var(--border-color, var(--field-00));
    color: var(--color, var(--text-primary));
    cursor: pointer;
    user-select: none;
    padding: var(--select-padding-y, #{rem(8px)} #{rem(36px)} #{rem(8px)} #{rem(16px)});
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--bg, var(--field-00));
    position: relative;
    transition: border-color .2s ease-in-out;
    min-height: 40px;
    grid-column-gap: rem(8px);

    .filters & {
      @include font($body-1);
    }

    .icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: rem(8px);
      margin-top: auto;
      margin-bottom: auto;

    }

    span {
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include use-hover {
      &:hover {
        --border-color: var(--border-hover);
        --bg: var(--field-00);

        .placeholder {
          --color: var(--text-primary);
        }

        .icon {
          --color: var(--icon-primary);
        }
      }

    }
  }

  .label {
    color: var(--text-primary);
    margin-bottom: rem(8px);
    display: block;
  }

  .items {
    position: absolute;
    left: 0;
    max-width: 100%;
    width: 100%;
    padding: 0;
    visibility: var(--items-visibility, hidden);
    max-height: calc(40px * 4 + 16px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--layer-02);
    transform: translateY(#{rem(8px)});
    box-shadow: var(--shadow-group);
    border-radius: 12px;
    border: 8px solid var(--layer-02);

    @extend %scrollbar;
  }

  .item {
    color: var(--color, var(--text-primary));
    padding: rem(8px);
    cursor: pointer;
    user-select: none;
    background-color: var(--bg, transparent);
    transition: background-color .2s ease-in-out;
    position: relative;
    align-items: center;
    grid-column-gap: rem(8px);
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 40px;
    border-radius: 8px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;

    .filters & {
      @include font($body-1);
    }

    span {
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      margin-left: auto;
      position: relative;
      transform: var(--icon-transform, (rotate(0) translateX(#{rem(8px)})));
      transition: transform .2s ease-in-out;
      --icon-color: var(--icon-contrast);
      --icon-size: 20px;
    }

    @include use-hover {
      &:hover {
        --bg: var(--button-bg-secondary-click);
      }
    }
  }

  .mask {
    width: 22px;
    height: 18px;
  }

  .hint {
    margin-top: 6px;
  }

  &.is-open {
    z-index: 2;
    --items-visibility: visible;

    .selected {
      --border-color: var(--border-click);
      --color: var(--text-primary);
      --bg: var(--field-00-click);
      --icon-transform: rotate(180deg);
    }
  }

  &.has-error {
    --border-color: var(--border-alert);

    .selected {
      --color: var(--text-primary);
      --icon-color: var(--icon-alert);
      --border-color: var(--border-alert) !important;
    }
  }

  &.is-disabled {
    pointer-events: none;
    --icon-color: var(--icon-secondary);

    .selected {
      --border-color: var(--field-00);
      --color: var(--text-helper);
      --bg: var(--field-00);
      --icon-transform: rotate(0deg);
    }

    .placeholder {
      --color: var(--text-helper);
    }
  }

  &.size-xs {
    --select-padding-y: #{rem(4px)};
    @include upd-font($body-1);
  }

  &.size-sm {
    --select-padding-y: #{rem(8px)};
    @include upd-font($body-1);
  }

  &.size-md {
    --select-padding-y: #{rem(11px)};
    @include upd-font($body-2);
  }

  &.size-lg {
    --select-padding-y: #{rem(19px)};
    @include upd-font($body-2);
  }

  .disabled-option {
    pointer-events: none;
    --color: var(--text-helper);
  }
}
