.input-file {
  display: grid;
  grid-template-areas: "text" "actions";

  hr {
    display: none;
    border-top: 1px solid var(--border-01);
    margin: 16px 0 rem(16px);
  }

  &.is-show-more-btn {
    grid-template-areas: "actions" "text";

    hr {
      display: block;
    }

    .input-file__actions {
      margin-bottom: rem(8px);
    }

    .input-file__text * {
      text-align: left;
    }
  }

  &__input {
    visibility: hidden;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
  }

  &__load-more {
    display: grid;
    align-items: center;
  }

  &__sub-title {
    @include font($body-0);
    color: var(--text-primary);
    margin: 0;
    padding: 0;

    @include media(sm) {
      text-align: center;
    }
  }

  &__desc {
    @include font($body-0);
    color: var(--text-tertiary);
    margin: 0;
    padding: 0;

    @include media(sm) {
      text-align: center;
    }
  }

  &__text {
    grid-area: text;
  }

  &__actions {
    grid-area: actions;
  }

  &__load-more-btn {
    --width: 100%;
  }
}
