.input-password {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;

  @extend %input-label;

  .row {
    position: relative;
    display: flex;
    align-items: center;
  }

  .field {
    background-color: var(--bg, var(--field-00));
    padding: var(--input-padding-y, #{rem(11px)}) rem(44px) var(--input-padding-y, #{rem(11px)}) rem(16px);
    border: 1px solid var(--border-color, var(--field-00));
    color: var(--color, var(--text-primary));
    border-radius: 12px;
    @include font($body-2);
    transition: border-color .2s ease-in-out;
    width: 100%;
    @extend %inputMask;

    &::placeholder {
      color: var(--text-tertiary);
    }

    &:focus {
      --border-color: var(--border-click);
    }

    &::-ms-reveal {
      display: none !important;
    }
  }

  .hint, .pass-progress {
    margin-top: rem(6px);
  }

  &.has-error {
    --border-color: var(--border-alert);
  }

  &.is-disabled {
    pointer-events: none;

    .field {
      --border-color: var(--field-00);
      --color: var(--text-helper);
      --bg: var(--field-00);
      --icon-transform: rotate(0deg);
    }

    .placeholder {
      --color: var(--text-helper);
    }
  }

  &.size-xs {
    --input-padding-y: #{rem(4px)};
    @include upd-font($body-1);
  }

  &.size-sm {
    --input-padding-y: #{rem(8px)};
    @include upd-font($body-1);
  }

  &.size-md {
    --input-padding-y: #{rem(11px)};
    @include upd-font($body-2);
  }
}
