.input-phone {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(0, auto) auto;
  grid-template-areas: "label label";
  grid-column-gap: 8px;
  width: 100%;

  .hint {
    margin-top: rem(6px);
    grid-column: 1/3;
  }

  @extend %input-label;

  .dropdown {
    min-width: rem(150px);

    .selected {
      height: 42px;
    }
  }

  .field {
    width: 100%;
    background-color: var(--bg, var(--gray-800));
    padding: var(--input-padding-y, #{rem(11px)}) rem(16px);
    border: 1px solid var(--border-color, var(--gray-800));
    color: var(--color, var(--white));
    border-radius: 12px;
    @include font($body-2);
    transition: border-color .2s ease-in-out;
    @extend %inputMask;
    height: 42px;


    &::placeholder {
      color: var(--gray-400);
    }

    &:focus {
      --border-color: var(--gray-300);
    }
  }

  &.has-error {
    .field {
      --border-color: var(--border-alert);
    }
  }
}
