.input-search {
  .row {
    display: flex;
    align-items: center;
    position: relative;
  }

  .field {
    width: 100%;
    height: rem(40px);
    @include font($body-2);
    border: 1px solid var(--border-color, var(--field-00));
    background-color: var(--bg, var(--gray-800));
    color: var(--text-primary);
    border-radius: 12px;
    padding: rem(10px) rem(16px) rem(10px) rem(44px);
    transition: all .2s ease-in-out;

    &::placeholder {
      color: var(--text-tertiary);
    }

    &:focus {
      --border-color: var(--gray-300);

      ~ .icon {
        --color: var(--icon-contrast);
      }
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-self: center;
    width: rem(20px);
    height: rem(20px);
    left: rem(16px);

    --color: var(--icon-contrast);
  }
}
