.cat-heading {
  display: flex;
  align-items: center;
  @include font($heading-4);
  color: var(--white);
  grid-column-gap: rem(8px);
  padding-top: var(--padding-top, #{rem(8px)});

  @include media(l) {
    --padding-top: #{rem(24px)};
  }

  .icon {
    --color: var(--gray-400);
  }
}
