.tabs {
  @include radius(16px);
  padding: rem(16px) rem(16px) rem(8px);
  background-color: var(--gray-900);

  .header {
    @extend %flex-items-center;
    padding: var(--padding, 0 0 8px 0);

    @include media(sm) {
      display: none;
    }

    .btn {
      @include font($body-1);
      --width: 100%;

      &.is-active {
        --bg: var(--gray-800);
        --icon-color: var(--white);
        --color: var(--white);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }


  @include media(sm) {
    padding-bottom: rem(16px);

    .content {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: rem(24px);
      grid-auto-columns: minmax(0, 1fr);
    }

    .tab {
      display: block;
    }
  }
}
