.drawer {
  background-color: var(--gray-800);
  grid-area: drawer;
  transition: transform .2s .2s ease-in;
  width: var(--drawer-width, #{rem(240px)});
  position: var(--drawer-position, fixed);
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  transform: var(--drawer-translate-x, translateX(calc(-100% - #{rem(32px)})));
  z-index: 3;
  will-change: width, transition;

  .header {
    background-color: var(--drawer-header-bg, var(--gray-800));
    padding: var(--drawer-header-padding, 0);
    position: relative;
    display: grid;
    top: 0;
    z-index: 1;
    grid-row-gap: var(--drawer-header-row-gap, 0);

    .drawer-minimize &, .drawer-open & {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    }

    .drawer-open & {
      --drawer-header-bg: var(--gray-900);
    }

    .drawer-minimize & {
      --drawer-header-bg: var(--gray-800);
      --drawer-header-padding: 0 0 16px 0;

      &:after {
        content: '';
        position: absolute;
        display: block;
        left: 16px;
        right: 16px;
        bottom: 0;
        border-bottom: 1px solid var(--gray-700);
      }
    }
  }

  .content {
    @extend %scrollbar;
    height: var(--drawer-content-height, 100vh);
    position: relative;
    z-index: 0;
    padding: var(--drawer-content-padding, #{rem(16px)});
    overflow-y: auto;
    overscroll-behavior: contain;
    margin: #{rem(8px)} #{rem(8px)} #{rem(8px)} 0;

    .drawer-minimize & {
      --drawer-content-padding: 0 #{rem(16px)} #{rem(16px)};
    }

    .drawer-open & {
      --drawer-content-padding: #{rem(16px)};
      --drawer-content-height: calc(100vh - #{rem(62px)});
    }

    .drawer-open.drawer-minimize & {
      --drawer-content-height: calc(100vh - #{rem(160px)});
    }
  }

  &.is-compact {
    --drawer-width: #{rem(72px)};
    --drawer-header-row-gap: #{rem(16px)};
  }
}



