.form-deposit-crypto {
  position: relative;
  grid-gap: 0 !important;

  .row {
    display: flex;
    min-height: rem(44px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    position: relative;

    &.is-blured {
      user-select: none;
      &:before {
        pointer-events: unset;
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--alpha-fade-layer-01);
        backdrop-filter: blur(2px);
        z-index: 2;
      }
    }
  }

  .dropdown-network {
    margin-bottom: rem(24px);
    position: relative;
    z-index: 4 !important;

    &__info {
      @include font($heading-4);
      color: var(--text-primary);
      text-align: center;
      position: relative;
      height: 0;
      z-index: 3;
      user-select: none;

      > p {
        margin: 0;
      }
    }
  }

  .wallet-destination-tag {
    .wallet-warning {
      margin: rem(8px) 0;
    }
  }

  hr {
    margin: 0;
  }
}
