.get-file {
  border-radius: 16px;
  align-self: flex-start;

  &__title {
    @include font($heading-4);
    margin: 0 0 rem(4px);
    padding: 0;
    color: var(--text-primary);
  }

  &__description {
    @include font($heading-1);
    padding: 0;
    color: var(--text-secondary);
    margin: rem(16px) 0 rem(40px) 0;

    &:has(li:nth-child(3)) {
      + .show-more-btn {
        @include media(md) {
          display: none;
        }
      }
    }

    &:has(li:nth-child(3)):not(.is-expanded) {
      li:nth-of-type(1n + 2) {
        @extend %text-elipsis;
      }

      li:nth-of-type(1n + 3) {
        display: none;

        @include media(md) {
          display: flex;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
    }

    li {
      @include font($body-1);
      position: relative;
      display: block;
      grid-column-gap: 8px;
      padding-left: 20px;

      &::before {
        position: absolute;
        display: block;
        content: '';
        background-color: var(--icon-primary);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left: 6px;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }

      &:has(p) {
        margin: 0;
      }

      &:not(&:has(p)) {
        + li {
          margin-top: rem(12px);
        }
      }
    }

    p {
      @include font($body-1);

      + p {
        margin-top: rem(12px);
      }
    }

    &.is-expanded {
      + .show-more-btn {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  .show-more-btn {
    @extend %skip-btn;
    display: flex;
    grid-column-gap: rem(4px);
    align-items: center;
    text-decoration: none;
    @include font($heading-1);
    font-family: inherit;
    color: var(--text/primary);
    transform: translateY(calc(-100% - #{rem(4px)}));
    margin: 0 auto;

    .icon {
      --icon-size: 20px;
    }

    @include use-hover {
      cursor: pointer;
    }
  }

  &__files {
    display: grid;
    grid-gap: rem(16px);

    @include media(md) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }

  .btn-submit {
    margin: rem(16px) auto 0;
  }
}

.dropzones-list {
  display: grid;
  grid-gap: rem(16px);

  @include media(sm) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
