.form-profile {
  display: grid;
  grid-gap: rem(16px);

  .row {
    display: flex;
    grid-gap: rem(24px);
    flex-direction: var(--flex-direction, column);

    &:first-child {
      display: flex;
      align-items: center;
    }

    @include media(l) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      --flex-direction: row;
    }
  }

  .actions {
    display: flex;
    grid-gap: rem(8px);
  }

  .loyalty-avatar {
    flex-shrink: 0;
    --avatar-size: 96px;
  }
}
