.form-withdraw {
  position: relative;
  grid-gap: 0 !important;

  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    position: relative;

    &.is-blured {
      user-select: none;
      &:before {
        pointer-events: unset;
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -10px;
        background: rgba(28, 33, 43, 0.88);
        backdrop-filter: blur(2px);
        z-index: 2;
      }
    }
  }
  .dropdown-network {
    margin-bottom: rem(24px);
    position: relative;
    z-index: 4;

    &__info {
      @include font($heading-4);
      color: var(--white);
      text-align: center;
      position: relative;
      height: 0;
      z-index: 3;
      user-select: none;

      > p {
        margin: 0;
      }
    }
  }
}
