.profile-bonuses {
  .link-bonus {
    @include font($body-2);
    color: var(--text-link);
    text-decoration: none;
    display: flex;
    width: fit-content;
    margin-top: -16px;
    grid-column-gap: rem(4px);
    align-items: center;
    min-height: rem(22px);

    .icon {
      color: var(--icon-accent);
    }
  }

  .bonuses-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    flex-wrap: wrap;

    @include media(sm) {
      grid-template-columns: 1fr 1fr;
    }

    &__title  {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--text-primary);
      flex: 1 1 100%;
      margin-bottom: 8px;
      @include font($heading-5);

      @include media(sm) {
        grid-column: 1 / span 2;
      }

      &-count {
        color: var(--text-tertiary);
        @include font($body-3);
      }
    }
  }

  &__blocks-divider {
    --margin: 16px 0;
  }
}
