.profile-bonuses {
  .link-bonus {
    @include font($body-2);
    color: var(--text-link);
    text-decoration: none;
    display: flex;
    width: fit-content;
    margin-top: -16px;
    grid-column-gap: rem(4px);
    align-items: center;
    min-height: rem(22px);

    .icon {
      color: var(--icon-accent);
    }
  }

  .bonuses-grid {
    &__title {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--text-primary);
      flex: 1 1 100%;
      margin-bottom: 8px;
      @include font($heading-5);

      &__count {
        color: var(--text-tertiary);
        @include font($body-3);
      }
    }

    hr {
      flex: 1 1 100%;
      --margin: 24px 0;
    }
  }
}
