.row-user {
  display: flex;
  flex-direction: column;
  grid-row-gap: rem(24px);

  @include media(md) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "avatar";
    grid-column-gap: rem(24px);
  }

  &__info {
    display: grid;
    padding: 16px;
    border-radius: 16px;
    background: var(--layer-01);
    grid-column-gap: 12px;
    grid-template-areas: "avatar nickname" "avatar progress";
    grid-template-columns: 96px 1fr;
    position: relative;
    grid-column: 1/3;

    &-avatar {
      grid-area: avatar;
    }

    &-nickname {
      grid-area: nickname;
      color: var(--text-primary);
      @include font($heading-3);
    }

    &-progress {
      grid-area: progress;
    }
  }
}
