.limits {
  width: 100%;

  &__header {
    margin: rem(8px) 0 rem(24px);

    @include media(sm) {
      display: flex;
      justify-content: space-between;
      grid-column-gap: rem(8px);
    }
  }

  &__heading {
    @include font($heading-6);
    color: var(--text-primary);
    margin: 0;
  }

  &__mode {
    display: flex;
    align-items: center;
    grid-column-gap: rem(8px);
    justify-content: space-between;

    &-label {
      @include font($body-2);
      color: var(--gray-400);
    }
  }

  &__grid {
    display: flex;
    grid-gap: rem(16px);
    flex-wrap: wrap;
  }

  &__card {
    padding: rem(24px);
    background-color: var(--layer-01);
    border-radius: 16px;
    width: var(--card-width, 100%);
    user-select: none;

    @include media(l) {
      --card-width: calc(50% - 8px);

      &.is-full-width {
        --card-width: 100%;
      }
    }

    &-actions {
      display: flex;
      grid-column-gap: 8px;
      justify-content: center;

      .btn-primary, .btn-secondary {
        @include font($heading-2);
        margin: rem(24px) 0 0;
        --padding: 7px 20px;
      }
    }

    &-title {
      @include font($heading-4);
      color: var(--text-primary);
      margin: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      grid-column-gap: 8px;

      .tooltip__message {
        transform: translateY(calc(-100% - 14px));
      }
    }

    &-sub-title {
      @include font($body-1-paragraph);
      color: var(--text-tertiary);
      margin: rem(4px) 0 0;
      text-align: center;
    }

    &-info {
      @include font($body-1);
      color: var(--text-tertiary);
      margin: 16px 0 0;

      * {
        margin: 0;
      }

      a {
        color: var(--text-link);
        text-decoration: none;
      }

      &.is-text-center {
        text-align: center;
      }
    }

    &-dropdown {
      display: flex;
      align-items: center;
      grid-column-gap: 8px;
      margin-top: 24px;

      .selected {
        min-height: 32px;
      }

      .btn-primary {
        @include font($heading-2);
        --padding: 7px 20px;
      }
    }
  }
}
