.row-user {
  display: flex;
  flex-direction: column;
  grid-row-gap: rem(24px);

  @include media(md) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "avatar";
    grid-column-gap: rem(24px);
  }

  .items {
    display: flex;
    flex-direction: column;
    grid-row-gap: rem(4px);
    @include font($body-3);

    .nickname {
      @include font($heading-4);
      color: var(--text-primary);
      margin-bottom: rem(4px);
    }

    .icon {
      --color: var(--gray-400);
      --icon-size: #{rem(20px)};

      &.is-warning {
        --color: var(--orange-500);
      }

      &.is-success {
        --color: var(--green-500);
      }
    }
  }

  .item {
    display: flex;
    grid-column-gap: rem(4px);
    color: var(--text-primary);

    .btn-primary {
      margin-left: var(--margin-left-btn, auto);

      @include media(md) {
        --margin-left-btn: #{rem(8px)};
      }

      &.disabled {
        pointer-events: none;
        --bg: var(--yellow-900);
        --color: var(--black-primary);
      }
    }
  }

  &__info {
    display: grid;
    padding: 16px;
    border-radius: 16px;
    background: var(--layer-01);
    grid-column-gap: 12px;
    grid-template-areas: "avatar nickname" "avatar ." "avatar progress";
    grid-template-columns: 96px 1fr;
    position: relative;
    grid-column: 1/3;

    &-avatar {
      grid-area: avatar;
    }

    &-nickname {
      grid-area: nickname;
      color: var(--text-primary);
      @include font($heading-3);
    }

    &-progress {
      grid-area: progress;
    }
  }
}
