.msg {
  padding: rem(2px);
  border-radius: var(--radius, #{rem(8px)});
  background: var(--bg, linear-gradient(107.86deg, #28263B 1.67%, #3D3D51 87.33%));
  position: relative;

  &.is-unread {
    --bg: linear-gradient(89.73deg, #FFDC8A 1.37%, #FFC12E 49.58%, #E6A409 98.17%);

    &:after {
      content: '';
      display: grid;
      position: absolute;
      top: 50%;
      left: 0;
      width: rem(10px);
      height: rem(10px);
      transform: translateX(rem(54px)) translateY(rem(14px));
      box-shadow: 0 0 0 2px var(--gray-800);
      border-radius: 50%;
      background-color: var(--green-500);
    }
  }

  .content {
    border-radius: inherit;
    display: grid;
    grid-template-areas:
      "icon title"
      "icon date";
    grid-template-columns: auto 1fr;
    grid-column-gap: rem(8px);
    grid-row-gap: rem(4px);
    padding: rem(14px);
    position: relative;
    align-items: center;
    background: var(--bg-content, linear-gradient(107.86deg, #28263B 1.67%, #3D3D51 87.33%));
  }

  .img {
    width: #{rem(48px)};
    height: #{rem(48px)};
    grid-area: icon;
    display: flex;
  }

  .title {
    @include font($heading-2);
    color: var(--color, var(--white));
    grid-area: title;
  }

  .date {
    color: var(--color, var(--gray-400));
    @include font($body-0);
    grid-area: date;
  }
}
