.bonuses-collected {
  display: flex;
  align-items: center;
  flex: 0;
  margin-bottom: 16px;
  justify-content: center;
  gap: 4px;
  height: 20px;

  @include media(sm) {
    min-height: 77px;
    width: 100%;
    flex: 1;
    margin: 0;
  }

  &__icon {
    --icon-size: 24px;
    --color: var(--icon-success);
  }

  &__label {
    color: var(--text-success);
  }
}
