.bonuses-package {
  padding: 2px;
  background: var(--bg, var(--layer-02));
  border-radius: 16px;
  width: 100%;
  flex: 1 1 100%;

  @include media(sm) {
    grid-column: 1 / span 2;
  }

  &.is-active {
    --bg: linear-gradient(89deg, #FFDC8A -2766.21%, #FFC12E 38.74%, #E6A409 2866.21%);
  }

  &__container {
    background: var(--layer-02);
    padding: 16px 16px 20px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;

    @include media(sm) {
      padding: 22px 22px 26px 22px;
    }
  }

  &__header {
    display: grid;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 8px;
    grid-auto-flow: column;
  }

  &__body {
    display: grid;
    grid-gap: 8px;
    max-width: 410px;
  }

  &__name {
    color: var(--text-primary);
    text-shadow: var(--shadow-layer);
    @include font($subheading-6);
    margin-top: -24px;

    @include media(sm) {
      margin-top: 0;
    }

    > * {
      margin: 0;
    }

    span {
      color: var(--text-accent);
    }
  }

  &__badge {
    --color: var(--icon-inverse);
    --icon-size: 16px;
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 4px;
    color: var(--text-inverse);
    @include font($subheading-1);
    background: var(--support-brand-default);
    border-radius: 8px;
  }

  &__tb {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 8px;

    &-th {
      @include font($body-1);
      color: var(--text-tertiary);
      align-self: flex-start;
    }

    &-td {
      display: grid;
      gap: 8px;
    }
  }

  &__item-status {
    display: flex;
    align-items: center;
    gap: 4px;

    &-icon {
      --color: var(--icon-color);
      --icon-size: 16px;
    }

    &-label {
      color: var(--label-color);
      @include font($subheading-1);
    }

    &.is-done {
      --icon-color: var(--icon-success);
      --label-color: var(--text-success);
    }

    &.is-missed {
      --icon-color: var(--icon-primary);
      --label-color: var(--text-tertiary);
    }
  }

  &__not-received-label {
    color: var(--text-primary);
    @include font($subheading-1);
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &-show-all {
      display: inline-flex;
      width: fit-content;
      position: relative;
      color: var(--text-tertiary);
      @include font($body-1);
      text-decoration: none;
      min-height: 16px;

      &:after {
        content: '';
        position: absolute;
        align-self: stretch;
        border-bottom: 1px dashed var(--border-02);
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .3s;
      }

      &:hover {
        cursor: pointer;
        color: var(--text-link-hover);

        &:after {
          border-color: var(--text-link-hover);
        }
      }
    }
  }

  &__img {
    height: 186px;
    position: relative;

    @include media(sm) {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: auto;
      width: 52%;
    }

    img {
      position: absolute;
      max-height: 100%;
      max-width: 196px;
      width: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      @include media(sm) {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        transform: translateX(28%);
        right: 0;
        top: 12px;
        left: auto;
        bottom: 12px;
        margin: auto;
      }
    }
  }

  .bonuses-wager-progress,
  .bonuses-freespin-progress{
    margin-top: 0 !important;
  }
}