.bonuses-wager {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  &__label {
    color: var(--text-tertiary);
    @include font($body-1);
  }

  &__icon {
    --icon-size: 16px;
    --color: var(--icon-primary);
    margin-left: 4px;
  }

  &__value {
    color: var(--text-secondary);
    @include font($body-1);
    margin-left: 2px;
  }
}