.cards {
  display: grid;
  align-items: center;
  grid-template-areas:
    "icon heading heading arrows"
    "items items items items"
    "btn-show-all btn-show-all btn-show-all btn-show-all";
  grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto) minmax(0, auto);
  grid-column-gap: var(--column-gap, #{rem(8px)});
  grid-row-gap: var(--row-gap, #{rem(16px)});

  @include media(xs) {
    grid-template-areas:
    "icon heading btn-show-all arrows"
    "items items items items";
  }

  > [data-icon] {
    font-size: rem(20px);
    grid-area: icon;
  }

  > .icon {
    grid-area: icon;
    --iccon-size: #{rem(20px)};
    --color: var(--gray-400);
  }

  > .btn-show-all {
    grid-area: btn-show-all;
    @include font($heading-1);

    --font-size: #{rem(12px)};
    --color: var(--gray-500);
    --width: 100%;

    @include media(xs) {
      padding: 0;
      --bg: transparent;

      &:hover {
        --color: var(--white);
      }
    }
  }

  > .arrows {
    grid-area: arrows;

    @include media(xs) {
      margin-left: rem(24px);
    }
  }

  > .title {
    flex-grow: 1;
    grid-area: heading;
    @include font($heading-4);
    color: var(--white);
    margin: 0;
  }

  > .items {
    grid-area: items;
    display: var(--display, flex);
    align-items: center;
    //grid-column-gap: var(--items-column-gap, #{rem(8px)});
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .titles {
    .title {
      @include font($heading-4);
      color: var(--white);
    }

    .sub-title {
      @include font($body-2);
      color: var(--gray-400);
    }
  }
}

.cards-favorites, .cards-recently {
  > .icon, .title {
    display: none;
  }

  > .items {
    align-items: flex-start;
  }

  @include media(xs) {
    grid-template-areas:
    "icon heading heading arrows"
    "items items items items"
    "btn-show-all btn-show-all btn-show-all btn-show-all";

    > .btn-show-all {
      padding: rem(4px) rem(16px);
    }
  }

  @include media(sm) {
    > .icon, > .title {
      display: block;
      @include upd-font($heading-2);
    }

    grid-template-areas:
    "icon heading btn-show-all arrows"
    "items items items items";
  }
}

.cards-promotions {
  > .items {
    align-items: normal;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--items-column-gap, #{rem(8px)});

    --display: grid;

    @include media(sm) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.card-base:nth-of-type(3n + 1) {
  scroll-snap-align: start;
}

.cards-benefits {
  > .items {
    align-items: normal;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--items-column-gap, #{rem(8px)});

    --display: grid;

    @include media(sm) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.cards-latest-winners {
  margin-right: #{rem(-16px)};

  > .items {
    padding-right: #{rem(16px)};
  }

  @include media(md) {
    margin-right: 0;

    > .items {
      padding-right: 0;
    }
  }
}









