.app-footer {
  grid-area: app-footer;
  color: var(--gray-500);
  display: grid;
  padding: var(--padding, #{rem(16px)} #{rem(16px)} #{rem(110px)} #{rem(16px)});
  @extend %container;

  .heading-primary {
    @include font($heading-4);
  }

  .heading-secondary {
    @include font($heading-2);
  }

  p {
    @include font($body-1-paragraph);
    margin: 0;
  }

  .info {
    display: flex;
    flex-direction: column;

    iframe {
      margin: var(--img-margin, 0 auto 24px);
      background-color: var(--gray-700);
      border-radius: 10px;
    }

    &__text {
      a {
        color: var(--gray-500);
        text-decoration: underline;
      }
    }

    @include media(l) {
      flex-direction: row;
      grid-column-gap: rem(16px);
      align-items: center;
      --img-margin: 0;
    }

  }

  .copy-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: var(--margin-bottom, 16px)
    }

    @include media(l) {
      flex-direction: row;
      grid-column-gap: rem(16px);
      align-items: center;
      justify-content: center;
      --margin-bottom: 0;
    }


  }

  .header {
    @include media(xs) {
      --padding: 0 0 #{rem(16px)} 0
    }
  }

  .group {
    display: grid;
    grid-gap: rem(8px);
    margin-top: rem(40px);
    align-items: flex-start;

    @include media(xs) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: rem(24px);

      .btn-toggle {
        visibility: hidden;
      }

      .items {
        grid-template-columns: repeat(2, auto);
        --display: grid;
      }
    }

    @include media(sm) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @include media(sm) {
   --padding: #{rem(16px)} #{rem(32px)} #{rem(110px)} #{rem(32px)}
  }

}
