.card-base {
  --col-count: 3.1;
  --col-gap: 8px;

  height: var(--height, auto);
  @include ratio(104px, 156px);
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  background-color: var(--bg, rgba(black, 0.2));
  background-repeat: var(--bg-repeat, no-repeat);
  background-size: var(--bg-size, 100%);
  background-position: var(--bg-position, center);
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.16));
  border-radius: 8px;
  width: calc(calc(100% / var(--col-count)) - calc(var(--col-gap) - calc(var(--col-gap) / var(--col-count))));
  scroll-snap-align: start;

  @include media(sm) {
    --col-count: 6;
    --col-gap: 16px;
  }

  @include media(xl) {
    --col-count: 9;
  }

  &__info {
    padding: var(--card-info-padding, 8px);
    background-color: var(--bg-info, rgba(50, 6, 71, 0.8));
    display: var(--display, grid);
    position: var(--position-info, absolute);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: var(--opacity-info, 0);
    transition: var(--transition-info, (opacity .6s ease, padding .4s ease));
    pointer-events: var(--pointer-events, none);
    will-change: opacity;

    [data-size="min"] & {
      --card-info-padding: 8px;
    }

    [data-size="def"] & {
      --card-info-padding: 16px;
    }

    [data-size="max"] & {
      --card-info-padding: 24px;
    }

    &-titles {
      max-height: 41px;
    }

    &-title {
      @include font($heading-0);
      color: var(--color-info-title, var(--white));
      @include line-clamp(2);

      [data-size="min"] & {
        @include upd-font($heading-0);
      }

      [data-size="def"] & {
        @include upd-font($heading-2);
      }

      [data-size="max"] & {
        @include upd-font($heading-3);
      }
    }

    &-provider {
      @include font($body-0);
      @extend %text-elipsis;
      color: var(--gray-300);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: none;

      @include media(xs) {
        display: flex;
      }

      [data-size="min"] & {
        @include upd-font($body-0);
      }

      [data-size="def"] & {
        @include upd-font($body-0);
      }

      [data-size="max"] & {
        @include upd-font($body-1);
      }
    }

    &-actions {
      display: grid;
      align-self: center;
    }

    &-footer {
      display: grid;
      grid-template-columns: 1fr repeat(2, auto);
      align-items: flex-end;
    }
  }

  @include media(md) {
    &:hover {
      --pointer-events: auto;
      --opacity-info: 1;
      --transition-info: (opacity .6s ease);

      .btn-play {
        transform: scale(1);
        transition-delay: .2s;
      }
    }
  }

  transition: transform .4s ease-in-out;
  transform: var(--y-offset, translateY(0));

  &.hovered {
    --pointer-events: auto;
    --opacity-info: 1;
    --transition-info: (opacity .6s ease);
    --y-offset: translateY(-16px);

    .btn-try {
      animation: delay-pointer-events .2s ease-in-out;
    }
  }

  img {
    width: var(--width, auto);
    height: var(--height, auto);
    display: var(--display, block);
  }

  .btn-try {
    display: flex;
    align-items: center;
    @include font($body-1);
    margin-left: -8px;
    margin-right: auto;
    background-color: var(--bgc, transparent);
    --padding: 4px 8px;
    --color: var(--violet-100);

    [data-size="max"] & {
      @include upd-font($heading-2);
    }

    @include use-hover {
      &:hover {
        transition: all .2s ease-in-out;
        --color: var(--yellow-500);
        --bgc: var(--violet-900);
      }
    }
  }

  @include use-hover {
    &:hover {
      --transition-info: (opacity .6s ease);
      --y-offset: translateY(-16px);
      --play-btn-opacity: 1;
    }
  }
}
