.card-bet-ordinar {
  border-radius: 16px;

  .date {
    @include font($body-1);
    color: var(--color, var(--text-tertiary));
  }

  .time {
    @include font($body-1);
    color: var(--color, var(--text-tertiary));
  }

  .num {
    @include font($heading-2);
    color: var(--color, var(--text-tertiary));
  }

  .head {
    display: flex;
    grid-column-gap: rem(8px);
    background-color: var(--layer-02);
    padding: rem(11px) rem(24px);
    align-items: center;
    border-bottom: 1px solid var(--border-01);
    border-radius: 16px 16px 0 0;
  }

  .content {
    padding: rem(8px) rem(24px) rem(18px);
    background-color: var(--layer-01);
    border-radius: 0 0 16px 16px;

    .date {
      --color: var(--text-helper);
    }

    .time {
      --color: var(--text-helper);
    }

    .sep {
      height: rem(16px);
      border-left: 1px solid var(--border-01);
    }
  }

  .type {
    @include font($heading-1);
    color: var(--text-primary);
  }

  .desc {
    @include font($body-1);
    color: var(--text-helper);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
  }

  .status {
    display: flex;
    align-items: center;
    grid-column-gap: rem(8px);
    margin-left: auto;
    white-space: nowrap;
  }

  .btn-copy__wrap {
    margin-left: auto;
  }

  .row {
    display: flex;
    align-items: center;
    grid-column-gap: rem(8px);
    white-space: nowrap;

    @include media(md) {
      grid-column-gap: rem(16px);
    }
  }

  .items {
    display: flex;
    grid-column-gap: rem(4px);
    flex-wrap: wrap;

    .label {
      @include font($body-2);
      color: var(--text-tertiary);
      align-self: flex-end;
    }

    .value {
      @include font($body-2);
      color: var(--text-primary);
      align-self: flex-end;
    }

    .sep {
      border-left: 1px solid var(--border-01);
      height: 18px;
      align-self: flex-end;
      margin: 0 rem(8px);
    }
  }

  .amount {
    display: flex;
    grid-column-gap: rem(4px);
    width: 100%;

    @include media(md) {
      margin-left: auto;
      width: auto;
    }

    .label {
      @include font($body-2);
      color: var(--text-helper);
      align-self: flex-end;
      padding-bottom: 2px;
    }

    .value {
      @include font($heading-5);
      color: var(--text-primary);
    }
  }

  .title {
    @include font($heading-3);
    margin: rem(12px) 0 rem(8px);
    color: var(--text-primary);
  }
}
