.cards-bonuses {
  display: grid;
  grid-template-columns: var(--columns, 1fr);
  grid-gap: rem(16px);
  transition: all .2s ease;
  position: relative;

  ~ .cards-bonuses {
    @include media(md) {
      margin-top: rem(16px);
    }
  }

  &__title {
    @include font($heading-5);
    color: var(--text-primary);
    grid-column: 1/2;
    margin: rem(24px) 0 rem(8px);
  }

  @include media(sm) {
    --columns: repeat(2, 1fr);

    &__title {
      grid-column: 1/3;
    }
  }

  @include media(xl) {
    --columns: repeat(3, 1fr);

    &__title {
      grid-column: 1/4;
    }
  }

  @include media(xxl) {

    &__title {
      grid-column: 1/5;
    }
  }
}

.card-bonuses {
  color: var(--text-primary);
  position: relative;
  border: 2px solid transparent;
  border-radius: 16px;
  min-height: rem(158px);
  user-select: none;

  &:before {
    content: '';
    position: absolute;
    top: rem(-2px);
    left: rem(-2px);
    right: rem(-2px);
    bottom: rem(-2px);
    border-radius: 16px;
    background-color: var(--layer-02);
  }

  &.is-active {
    &:before {
      background: var(--border-cta);
    }
  }

  &__body {
    padding: rem(24px) rem(16px);
    background-color: var(--layer-02);
    border-radius: 14px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include media(md) {
      padding: rem(24px);
    }
  }

  &__header {
    grid-column-gap: rem(8px);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: auto;
    padding-bottom: rem(8px);

    .input-toggle {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__title {
    @include font($body-1);
    color: var(--text-primary);
    margin: 0;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: rem(56px);
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    margin-top: rem(4px);

    .tooltip {
      padding-left: 0;
      margin-top: rem(-4px);

      &.is-show {
        .icon {
          --color: var(--text-link)
        }
      }
    }
  }

  &__amount {
    @include font($heading-4);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(16px);
    grid-column-gap: rem(8px);
  }

  &__value {
    @include font($heading-3);
  }

  &__msg {
    color: var(--text-link);
    @include font($body-0);
    display: flex;
    align-items: center;
    grid-column-gap: rem(2px);
    margin-left: auto;

    .icon {
      --color: var(--icon-secondary);
      --icon-size: 20px;
    }

    .trash-icon {
      display: flex;
      align-items: center;

      button {
        background: var(--bg, transparent);
        padding: 0;
        border: 0;

        .icon {
          --color: var(--button-icn-ghost-low-contrast)
        }

        @include use-hover {
          &:hover {
            cursor: pointer;

            --bg: var(--button-bg-secondary-hover);

            .icon {
              --color: var(--button-icn-ghost-hover)
            }
          }
        }
      }
    }
  }

  &__info-title {
    display: block;
    @include font($body-0);
    color: var(--text-link);
    cursor: pointer;
    position: relative;
    white-space: nowrap;

    &:after {
      position: absolute;
      content: '';
      border-bottom: 1px dashed var(--border-color, var(--text-link));
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:hover {
      --border-color: transparent;
    }
  }

  &__progress {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "line line" "start end";
    grid-row-gap: rem(4px);

    &.is-riched {
      --line-bg: var(--support-info-default);
    }

    &.is-greater-zero {
      --start-value-color: var(--text-primary);
    }

    &-line {
      width: 100%;
      border-radius: 2px;
      height: rem(4px);
      background-color: var(--support-system-low-contrast);
      position: relative;
      overflow: hidden;
      transition: width .2s ease-in-out;
      grid-area: line;

      &:after {
        content: '';
        position: absolute;
        width: var(--progress, 0);
        left: 0;
        top: 0;
        bottom: 0;
        background-color: var(--line-bg, var(--support-info-default));
      }
    }

    &-value {
      @include font($body-1);
      text-transform: uppercase;
      display: flex;

      &:nth-of-type(1) {
        grid-area: start;
        color: var(--start-value-color, var(--text-tertiary));
      }

      &:nth-of-type(2) {
        grid-area: end;
        justify-content: flex-end;
        color: var(--end-value-color, var(--text-tertiary));
      }
    }
  }

  &__achive {
    margin-top: rem(4px);
    @include font($body-1);
    display: flex;
    grid-column-gap: rem(4px);
    align-items: center;
    color: var(--text-tertiary);

    .icon {
      --color: var(--text-tertiary);
      --icon-size: 16px;
    }
  }

  &__link {
    display: flex;
    @include font($body-0);
    color: var(--text-link);
    grid-column-gap: rem(4px);

    .title {
      color: inherit;
      text-decoration: none;

      @include use-hover {
        &:hover {
          cursor: pointer;
          color: var(--text-link)
        }
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include font($body-0);
    color: var(--text-tertiary);
    grid-column-gap: rem(8px);
    margin-right: rem(4px);

    &:after {
      content: '';
      display: inherit;
      height: rem(19px);
      border-right: 1px solid var(--border-02);
    }
  }
}
