.cards-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  grid-gap: rem(8px);

  @include media(sm) {
    grid-gap: rem(16px);
  }

  @include media(xxl) {
    flex-direction: row;
  }
}

.cards-cat {
  position: relative;
  display: flex;
  flex-grow: 1;
  grid-gap: rem(8px);

  @include media(sm) {
    grid-gap: rem(16px);
  }
}

.card-cat {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding, #{rem(16px)});
  border-radius: 8px;
  align-content: flex-start;
  flex-grow: 1;
  width: 100%;

  @include media(md) {
    min-height: 188px;
    --card-padding: #{rem(24px)} #{rem(24px)};
  }

  .title {
    @include font($heading-5);
    color: var(--text-primary);
    position: relative;
    z-index: 1;
    margin-bottom: rem(4px);
    width: 57%;

    @include media(md) {
      @include upd-font($heading-6)
    }

    @include media(xxxl) {
      @include upd-font($heading-7)
    }
  }

  .sub-title {
    @include font($body-1);
    color: var(--text-primary);
    position: relative;
    z-index: 1;
    margin-bottom: rem(24px);

    @include media(md) {
      @include upd-font($body-2);
      width: 54%;
    }

    @include media(xxxl) {
      @include upd-font($body-3);
    }
  }

  .btn-secondary {
    z-index: 1;
    margin-top: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    --padding: #{rem(7px)} #{rem(16px)};

    @include media(l) {
      --padding: #{rem(10px)} #{rem(24px)};
    }
  }

  @include media(l) {
    --card-min-height: #{rem(188px)};
  }

  .icon {
    grid-area: icon;
    width: rem(160px);
    height: rem(136px);
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    visibility: var(--icon-visibility, hidden);

    img {
      width: 100%;
      height: 100%;
    }

    @include media(md) {
      --icon-visibility: visible;
      transform: translateX(#{rem(16px)});
      width: rem(260px);
      height: rem(220px);
      top: auto;
    }
  }
}

.card-cat-casino {
  background-color: var(--data-banner-casino-bg);
  background-image: var(--card-category-casino-gradient);
  box-shadow: var(--shadow-modal);
}

.card-cat-betting {
  background-color: var(--data-banner-betting-bg);
  background-image: var(--card-category-betting-gradient);
  box-shadow: var(--shadow-modal);
}
