@use "sass:math";

.card-home {
  display: grid;
  width: 100%;
  position: relative;

  --indent-visible-height: 204px;
  --indent-max-height: 325px;
  --front-bg-height: 325px;
  --front-bg-right-offset: -49px;
  --back-bg-right-offset: -100px;
  --bottom-gradient-height: 0;
  --top-gradient-height: 80px;

  &:before {
    content: '';
    height: var(--indent-visible-height);
  }

  .back-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--indent-max-height);
    background-repeat: no-repeat;
    background-size: auto var(--indent-max-height);
    background-position: top right var(--back-bg-right-offset);

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      right: 0;
      top: 0;
      background-image: linear-gradient(270deg, #11141C 0%, rgba(17, 20, 28, 0.00) 100%);
      z-index: 1;

      @include media(sm) {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: var(--top-gradient-height);
      background: linear-gradient(360deg, #11141C 0%, rgba(17, 20, 28, 0.00) 100%), linear-gradient(0deg, #11141C 0%, rgba(17, 20, 28, 0.0) 100%);
      z-index: 4;
    }
  }

  .front-bg {
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: auto var(--front-bg-height);
    background-position: top right var(--front-bg-right-offset);
    z-index: 3;
    width: 100%;
    height: var(--front-bg-height);
  }

  @include media(sm) {
    --indent-visible-height: 244px;
    --front-bg-height: 325px;
    --indent-max-height: 325px;
    --front-bg-right-offset: 54px;
    --bottom-gradient-height: 0;
    --back-bg-right-offset: 0px;
  }

  @include media(md) {
    --indent-visible-height: 324px;
    --front-bg-height: 425px;
    --indent-max-height: 428px;
    --front-bg-right-offset: 42px;
    --bottom-gradient-height: 302px;
    --back-bg-right-offset: -30px;
  }

  @include media(l) {
    --indent-visible-height: 308px;
    --front-bg-height: 466px;
    --indent-max-height: 430px;
    --front-bg-right-offset: 47px;
    --bottom-gradient-height: 301px;
    --back-bg-right-offset: 0px;
  }

  @include media(xl) {
    --indent-visible-height: 308px;
    --front-bg-height: 514px;
    --front-bg-right-offset: 165px;
    --indent-max-height: 569px;
    --bottom-gradient-height: 438px;
    --back-bg-right-offset: 0px;
    --top-gradient-height: 160px;
  }

  @include media(xxxl) {
    --indent-visible-height: 436px;
    --front-bg-height: 600px;
    --front-bg-right-offset: 394px;
    --indent-max-height: 836px;
    --bottom-gradient-height: 643px;
    --back-bg-right-offset: -32px;
    --top-gradient-height: 360px;
  }

  .title {
    color: var(--text-primary);
    text-shadow: var(--shadow-group);

    max-width: var(--title-max-width, #{rem(190px)});

    @include media(xs) {
      --title-max-width: #{rem(300px)};
    }

    @include media(sm) {
      --title-max-width: #{rem(400px)};
    }

    @include media(xxxl) {
      --title-max-width: #{rem(650px)};
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      padding: 0;
      @include font($heading-4);

      @include media(xs) {
        @include upd-font($heading-6);
      }

      @include media(sm) {
        @include upd-font($heading-7);
      }

      @include media(xxxl) {
        @include upd-font($heading-9);
      }
    }
  }

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .info {
    position: absolute;
    @extend %flex-column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    top: 0;
    bottom: 0;
    grid-row-gap: var(--row-gap, #{rem(16px)});
    width: var(--info-width, 70%);
    padding: var(--padding, #{0 0 0 rem(24px)});
    z-index: 4;

    .home & {
      --info-width: 60%;
    }

    @include media(xs) {
      --padding: #{0 0 0 rem(32px)};
    }

    @include media(sm) {
      --padding: #{0 0 0 rem(40px)}
    }

    @include media(md) {
      --padding: #{0 0 0 rem(56px)};
    }

  }

  ul {
    color: var(--white);
    display: var(--display, none);
    flex-direction: column;
    list-style-type: disc;
    padding: 0 0 0 rem(16px);
    grid-gap: rem(2px);

    li {
      @include font($heading-3);
      text-decoration: none;
    }

    @include media(sm) {
      --display: flex;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    grid-column-gap: rem(8px);
  }

  .btn-primary, .btn-secondary {
    white-space: nowrap;
    @include upd-font($heading-2);
    --padding: #{rem(12px) rem(24px)};

    @include media(md) {
      @include upd-font($heading-3);
      --padding: #{rem(12px) rem(32px)};
    }
  }

}

.promo-card-wrapper {
  margin-top: rem(-24px);
  margin-left: var(--margin-left, #{rem(-16px)});
  margin-right: var(--margin-right, #{rem(-16px)});
  position: relative;
  z-index: 0;

  @include media(sm) {
    --margin-left: #{rem(-32px)};
    --margin-right: #{rem(-32px)};
  }

  @include media(l) {
    --padding: #{rem(40px)} #{rem(40px)};
    --margin-left: #{rem(-48px)};
    --margin-right: #{rem(-48px)};
  }
}
