.card-latest-winners {
  --col-count: 1.4;
  --col-gap: 8px;

  height: var(--height, auto);
  width: calc(calc(100% / var(--col-count)) - calc(var(--col-gap) - calc(var(--col-gap)/var(--col-count))));
  padding: rem(8px);
  background-color: var(--bg, var(--layer-02));
  display: grid;
  align-content: center;
  grid-template-areas:
    "img title"
    "img sub-title"
    "img items";
  grid-template-columns: rem(56px) 1fr;
  flex-shrink: 0;
  align-self: stretch;
  align-items: flex-start;
  text-decoration: none;
  border-radius: 8px;
  grid-column-gap: rem(8px);
  scroll-snap-align: var(--scroll-snap-align, start);
  min-width: var(--card-min-width, 224px);

  @include media(xs) {
    --col-count: 2.4;
  }

  @include media(xs) {
    --col-count: 2.89;
  }

  @include media(md) {
    --col-gap: 16px;
    --col-count: 4;
    --card-min-width: auto;
  }

  @include media(xxl) {
    --col-count: 6;
  }

  .img {
    grid-area: img;
    width: rem(56px);
    height: rem(56px);
    background-repeat: var(--bg-repeat, no-repeat);
    background-size: var(--bg-size, cover);
    background-position: var(--bg-position, top center);
    border-radius: 8px;
    overflow: hidden;
    align-self: center;
  }

  .title {
    grid-area: title;
    @include font($body-1);
    color: var(--text-secondary);
    min-height: 16px;
  }

  .sub-title {
    grid-area: sub-title;
    @include font($heading-1);
    color: var(--text-primary);
  }

  .items {
    grid-area: items;
    @include font($heading-2);
    @extend %flex-items-center;
    grid-column-gap: 8px;
    color: var(--text-accent);
    margin-top: rem(4px);
  }
}
