.card-latest-winners {
  aspect-ratio: 104/156;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  background-color: var(--bg, rgba(black, 0.2));
  background-repeat: var(--bg-repeat, no-repeat);
  background-size: var(--bg-size, 100%);
  background-position: var(--bg-position, center);
  border-radius: 8px;

  flex-basis: calc((100% - (var(--column-count) - 1) * var(--column-gap)) / var(--column-count));
  scroll-snap-align: start;

  &__info {
    padding: 4px;
    display: var(--display, grid);
    position: var(--position-info, absolute);
    border: 1px solid var(--border-accent);
    left: 8px;
    right: 8px;
    bottom: 8px;
    transition: var(--transition-info, (all .4s));
    background: var(--layer-02);
    border-radius: 8px;

    @include media(sm) {
      padding: 4px 8px;
    }

    &-title {
      color: var(--text-secondary);
      text-align: center;
      @include font($body-0);
      overflow: hidden;
      text-overflow: ellipsis;
      height: 16px;
    }

    &-items {
      display: flex;
      justify-content: center;
      grid-column-gap: 2px;
    }

    &-currency, &-amount  {
      color: var(--text-accent);
      @include font($heading-0);

      @include media(md) {
        @include font($heading-1);
      }
    }

    &-img {
      flex-shrink: 0;
      flex-basis: 12px;
      margin-right: 2px;
      display: none;

      @include media(xs) {
        display: flex;
      }
    }
  }

  &__img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
  }
}


