.card-providers {
  background-color: var(--layer-02);
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 8px;
  width: calc((100% - (var(--column-count) - 1) * var(--column-gap)) / var(--column-count));;
  scroll-snap-align: start;
  display: grid;
  overflow: hidden;
  text-decoration: none;
  grid-template-rows: auto 1fr;

  &__header {
    display: block;
    background: var(--layer-02);
    padding: 16px;
  }

  &__img {
    display: flex;
    margin: 0 auto;

    img {
      width: 100%;
      max-width: 100%;
      max-height: 40px;
    }
  }

  &__info {
    background: var(--layer-01);
    padding: 8px;
    text-align: center;

    @include media(sm) {
      padding: 16px 8px;
    }
  }

  &__name {
    color: var(--text-secondary);
    @include font($body-1);

    @include media(sm) {
      @include upd-font($body-2);
    }
  }

  &__count {
    color: var(--text-tertiary);
    @include font($body-0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    @include media(sm) {
      @include upd-font($body-1);
    }
  }
}
