.card-slide {
  display: grid;
  position: relative;
  overflow: clip;
  height: 100%;
  width: 100%;
  border-radius: 16px;

  .main-slider--high & {
    --info-padding: 24px 116px 17px 32px;

    @include media(xs) {
      --info-padding: 24px 140px 24px 32px;
    }

    @include media(md) {
      --info-padding: 32px 180px 32px 40px;
    }

    @include media(md) {
      --info-padding: 32px 180px 32px 40px;
    }

    @include media(xl) {
      --info-padding: 32px 140px 32px 40px;
    }

    @include media(xl) {
      --info-padding: 32px 188px 32px 40px;
    }
  }

  .main-slider--low & {
    --info-padding: 16px 116px 16px 32px;

    @include media(xxl) {
      --info-padding: 16px 120px 16px 40px;
    }
  }

  &__picture {
    position: absolute;
    height: 100%;
    max-width: 100%;
    right: 0;
  }

  &__img {
    aspect-ratio: 214/168;
    object-fit: cover;
    height: 100%;
    right: 0;
  }

  &__info {
    grid-column: 1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: var(--info-padding, 0);
  }

  &__title {
    padding: 0;
    color: var(--text-primary);
    text-shadow: var(--shadow-layer);
    @include font($heading-4);

    + .card-slide__content {
      margin-top: 4px;
    }

    .main-slider--high & {
      @include media(md) {
        @include font($heading-6);
      }
    }
  }

  &__content {
    .main-slider--low & {
      display: none;
    }

    @include font($body-0);
    color: var(--text-primary);

    @include media(xs) {
      @include upd-font($body-1);
    }

    @include media(md) {
      @include upd-font($body-2);
    }

    @include media(xxl) {
      @include upd-font($body-3);
    }

    p {
      margin: 0;
      font: inherit;
    }

    ul {
      margin: 0;
      padding: 0 0 0 20px;

      li {
        font: inherit;
      }
    }
  }

  &__actions {
    display: flex;
    grid-column-gap: 4px;

    .btn-primary, .btn-secondary {
      @include font($heading-2);
      --padding: 6px 20px;

      .main-slider--high & {
        margin-top: 16px;

        @include media(md) {
          @include upd-font($heading-3);
          --padding: 12px 32px;
          --btn-border-radius: 12px;
        }
      }

      .main-slider--low & {
        margin-top: 12px;
      }
    }
  }
}

