.card-slide {
  display: grid;
  position: relative;
  overflow: clip;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  align-items: center;

  &--clickable {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  .main-slider--high & {
    --info-padding: 18px 116px 18px 24px;

    @include media(xs) {
      --info-padding: 24px 140px 24px 24px;
    }

    @include media(md) {
      --info-padding: 32px 180px 32px 32px;
    }

    @include media(md) {
      --info-padding: 32px 180px 32px 32px;
    }

    @include media(xl) {
      --info-padding: 32px 140px 32px 32px;
    }

    @include media(xl) {
      --info-padding: 32px 188px 32px 32px;
    }
  }

  .main-slider--low & {
    --info-padding: 16px 116px 16px 24px;

    @include media(xxl) {
      --info-padding: 16px 120px 16px 32px;
    }
  }

  &__picture {
    position: absolute;
    height: 100%;
    max-width: 100%;
    right: -20px;
  }

  &__img {
    aspect-ratio: 214/168;
    object-fit: cover;
    height: 100%;
    object-position: top left;
  }

  &__info {
    grid-column: 1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: var(--info-padding, 0);
    height: 100%;
  }

  &__title {
    padding: 0;
    color: var(--text-primary);
    text-shadow: var(--shadow-layer);
    @include font($heading-4);
    align-self: flex-end;

    @include media(md) {
      @include upd-font($heading-5);
    }

    + .card-slide__content {
      margin-top: 4px;
    }
  }

  &__content-container {
    display: grid;
    align-content: center;
    height: 100%;

    .card-has-badge & {
      padding-top: 8px;
    }
  }

  &__content {
    color: var(--text-primary);
    @include font($body-0);

    .main-slider--low & {
      display: none;
    }

    @include media(xs) {
      @include upd-font($body-1);
    }

    @include media(md) {
      @include upd-font($body-2);
    }

    @include media(xxl) {
      @include upd-font($body-3);
    }

    p, h1, h2, h3, h4, h5, h6 {
      margin: 0;
      font: inherit;
    }

    ul {
      margin: 0;
      padding: 0 0 0 20px;

      li {
        font: inherit;
      }
    }
  }

  &__actions {
    display: flex;
    grid-column-gap: 4px;

    .btn-primary, .btn-secondary {
      @include font($heading-2);
      --padding: 6px 20px;

      .main-slider--high & {
        margin-top: 16px;

        @include media(md) {
          @include upd-font($heading-3);
          --padding: 12px 32px;
          --btn-border-radius: 12px;
        }
      }

      .main-slider--low & {
        margin-top: 12px;
      }
    }
  }

  &__badge {
    color: var(--card-badge-color, var(--text-secondary));
    background: var(--card-badge-background, var(--alpha-game-tumb));
    border-radius: var(--corner-radius-mapped-system-default, 8px);
    display: flex;
    padding: 4px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    align-self: flex-start;
    @include font($subheading-1);
  }
}

