.card-turbo {
  --col-count: 2.3;
  --col-gap: 8px;

  flex: none;
  order: 1;
  align-self: stretch;
  scroll-snap-align: var(--scroll-snap-align, start);
  border-radius: 8px;

  width: calc(calc(100% / var(--col-count)) - calc(var(--col-gap) - calc(var(--col-gap)/var(--col-count))));

  @include media(sm) {
    --col-count: 4;
    --col-gap: 16px;
  }

  @include media(md) {
    --col-count: 5;
  }

  @include media(l) {
    --col-count: 6;
  }

  @include media(xl) {
    --col-count: 7;
  }

  @include media(xxl) {
    --col-count: 8;
  }

  @include media(xxxl) {
    --col-count: 9;
  }

  .thumb {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: rem(-46px) auto rem(16px);

    &:after {
      width: 100%;
      content: '';
      display: block;
      padding-top: calc(168 / 118 * 100%);
    }
  }

  .content {
    grid-area: content;
    display: grid;
    padding: rem(16px) rem(16px) rem(24px);
    grid-template-rows: auto auto 1fr;
    border-radius: 8px;
    height: 100%;
    background-color: var(--layer-02);
  }

  .title {
    @include font($heading-2);
    color: var(--text-primary);
    margin-bottom: rem(4px);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .sub-title {
    @include font($heading-0);
      color: var(--text-tertiary);
      padding: 0;
      margin: 0 0 rem(16px);
      justify-self: center;
  }

  .btn-primary {
    justify-self: center;

    &:hover {
      cursor: pointer;
    }
  }
}
