.card-wallet {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  flex-basis: rem(334px);
  padding: rem(2px);

  @include media(sm) {
    min-height: rem(199px);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(89.73deg, #FFDC8A 1.37%, #FFC12E 49.58%, #E6A409 98.17%);
    opacity: 0;
    transition: opacity .4s ease-in-out ;
  }

  .title {
    @include font($body-2);
    color: var(--white);
    grid-area: title;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: rem(3px);
  }

  .input-toggle {
    .label {
      flex-direction: row-reverse;
      @include upd-font($body-1);
      color: var(--gray-300);
      grid-area: label;
      position: relative;
      align-self: flex-start;
    }
  }

  .amount {
    grid-area: amount;
    @include font($heading-7);
    color: var(--white);
    grid-column-gap: rem(4px);
    display: flex;
    position: relative;
    margin: var(--margin, #{rem(20px)} 0 #{rem(8px)});

    .amount {
      --margin: 0;
    }
  }

  .currency {
    @include font($body-3);
    position: relative;
    padding-top: rem(11px);
  }

  .content {
    position: relative;
    height: 100%;
    background: linear-gradient(107.86deg, #1C212B 1.67%, #3D4451 87.33%);
    border-radius: inherit;
    padding: rem(24px);
    display: grid;
    grid-template-columns: 1fr minmax(0, auto);
    grid-template-rows: minmax(40px, auto) 1fr;
    grid-template-areas:
      "title label"
      "amount amount"
      "actions actions";

    &:before {
      display: block;
      content: '';
      position: absolute;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA1OTggNTk3Ij48ZWxsaXBzZSBjeD0iMjk5LjIzNSIgY3k9IjI5OC44NjYiIGZpbGw9IiMxMTE0MUMiIG9wYWNpdHk9Ii4xNiIgcng9IjI5OC40NzkiIHJ5PSIyOTcuOTU2Ii8+PC9zdmc+Cg==);
      width: rem(596px);
      right: 0;
      top: 0;
      z-index: 0;
      bottom: 0;
      border-radius: 16px;
      background-position: right rem(-319px) top rem(-25px);
      background-repeat: no-repeat;
      background-size: rem(596px) rem(596px);
    }
  }

  &.is-active {
    padding: rem(2px);
    z-index: 1;

    &:before {
      opacity: 1;
    }

    .content {
      padding: rem(22px);
    }
  }

  .actions {
    display: flex;
    grid-column-gap: rem(8px);
    grid-area: actions;
    position: relative;
  }

  .hide-currency {
    --color: var(--gray-300);
    --padding: #{rem(8px)} 0;
    position: relative;

    @include use-hover {
      &:hover {
        --color: var(--yellow-500);
        --bg: transparent;
      }
    }
  }
}

.cards-wallet {
  display: grid;
  grid-template-columns: var(--columns, 1fr);
  grid-gap: rem(16px);
  transition: all .2s ease;

  @include media(sm) {
    --columns: repeat(2, 1fr);
  }

  @include media(xl) {
    --columns: repeat(3, 1fr);
  }

  @include media(xxl) {
    --columns: repeat(4, 1fr);
  }
}
