.nav-cat-wrap {
  border-radius: 8px;
}

.nav-cat-scroll {
  overflow: auto;
  margin-right: var(--margin-right, #{rem(-16px)});
  margin-left: var(--margin-left, #{rem(-16px)});
  position: relative;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @extend %scrollbar-hide;

  &::-webkit-scrollbar {
    display: none;
  }

  [data-route="main"] & {
    margin-bottom: 24px;

    @include media(md) {
      margin-bottom: 40px;
    }
  }

  .category & {
    margin-bottom: 8px;

    @include media(md) {
      margin-bottom: 24px;
    }
  }

  @include media(sm) {
    --margin-left: #{rem(-32px)};
    --margin-right: #{rem(-32px)};
  }

  @include media(l) {
    overflow: visible;
    max-width: 100%;
    min-width: 0;
    width: 100%;
    --margin-left: 0;
    --margin-right: 0;
  }
}

.nav-cat {
  @extend %flex-items-center;
  padding: rem(4px) rem(22px);
  display: inline-flex;
  border-radius: 8px;
  user-select: none;
  grid-column-gap: 8px;
  position: relative;

  @include media(sm) {
    padding: 0 rem(32px);
  }

  @include media(l) {
    padding: rem(4px) 0;
    overflow-x: visible;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: var(--right, 16px);
    bottom: 0;
    left: var(--left, 16px);
    border-radius: 8px;

    @include media(sm) {
      --left: 32px;
      --right: 32px;
    }

    @include media(l) {
      --left: 0;
      --right: 0;
    }
  }

  &::-webkit-scrollbar {
    display: block;
    width: 0;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}

.nav-cat-item {
  position: relative;
  grid-column-gap: rem(4px);
  padding: var(--item-padding, 0 #{rem(12px)} 0 #{rem(8px)});
  height: var(--item-height, #{rem(40px)});
  cursor: pointer;
  background-color: var(--bg, var(--layer-01));
  color: var(--color, var(--text-secondary));
  text-decoration: none;
  white-space: nowrap;
  transition: color .2s ease-in-out;
  border-radius: 12px;
  @include font($heading-1);
  @extend %flex-items-center;

  @include use-hover {
    &:hover {
      --color: var(--text-accent);
      --bg: var(--layer-01);

      .icon {
        --color: var(--icon-accent);
      }
    }
  }

  @include media(l) {
    --item-padding: 0 #{rem(16px)};
    @include upd-font($heading-2);
  }

  &.is-no-icon {
    --item-padding: 0 #{rem(8px)};

    @include media(sm) {
      --item-padding: 0 #{rem(16px)};
    }
  }

  &.is-hidden {
    @include media(l) {
      position: absolute;
      visibility: hidden;
    }
  }

  .icon {
    --color: var(--icon-primary);
    --icon-size: 20px;
  }

  &.is-active {
    --color: var(--text-primary);
    --bg: var(--button-bg-secondary-click);

    .icon {
      --color: var(--icon-contrast);
    }
  }
}

.nav-cat-select {
  @include font($heading-1);
  display: flex;
  @extend %flex-items-center;
  padding: #{rem(8px)} #{rem(16px)} #{rem(8px)} #{rem(16px)};
  min-height: var(--height, #{rem(40px)});
  border: 1px solid var(--border-color, var(--layer-01));
  background-color: var(--bg, var(--layer-01));
  color: var(--color, var(--text-secondary));
  text-decoration: none;
  white-space: nowrap;
  transition: color .2s ease-in-out;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-column-gap: rem(8px);
  border-radius: 12px;
  cursor: pointer;
  position: var(--position, absolute);
  visibility: var(--visibility, hidden);

  .icon {
    position: relative;
    transition: transform .2s ease-in-out;
    transform: var(--icon-transform, rotate(0));
    --color: var(--icon-primary);
    --icon-size: 20px;
  }

  @include media(l) {
    @include upd-font($heading-2);
    //--height: #{rem(32px)};
    --position: relative;
    --visibility: visible;
  }

  &.is-hidden {
    --position: absolute;
    --visibility: hidden;
  }

  &.is-open {
    --border-color: var(--border-click);
    --bg: var(--field-00-click);
    --color: var(--text-primary);

    > .icon {
      --color: var(--icon-primary);
    }

    .icon-expand {
      --icon-transform: rotate(-180deg);
    }

    .nav-cat-select-items {
      display: grid;
    }
  }

  @include use-hover {
    &:hover {
      --border-color: var(--border-hover);
      --color: var(--text-primary);

      > .icon {
        --color: var(--icon-primary);
      }
    }
  }
}

.nav-cat-select-items {
  display: none;
  position: absolute;
  right: rem(-4px);
  width: 100%;
  padding: rem(8px);
  max-height: calc((#{rem(40px)} * 4) + #{16px});
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--items-bg, var(--layer-02));
  transform: translateY(#{rem(8px)});
  box-shadow: var(--shadow-group);
  border-radius: 12px;
  top: rem(40px);

  @extend %scrollbar;
}

.nav-cat-select-item {
  @include font($body-1);
  background-color: var(--item-bg, transparent);
  color: var(--text-primary);
  padding: rem(8px) rem(8px);
  cursor: pointer;
  user-select: none;
  transition: background-color .2s ease-in-out;
  position: relative;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: rem(40px);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-column-gap: rem(8px);
  border-radius: 8px;

  @include use-hover {
    &:hover:not(.is-active) {
      --item-bg: var(--button-bg-secondary-click);
      color: var(--text-primary);
    }
  }

  span {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    position: relative;
    transition: transform .2s ease-in-out;
    --icon-size: 20px;
    --color: var(--icon-contrast);
    justify-self: flex-end;
  }

  &.is-active {
    color: var(--text-primary);

    .icon {
      --color: var(--text-primary);
    }
  }

  &.is-hidden {
    display: none;
  }
}
