.nav-game {
  background-color: var(--layer-01);
  width: rem(40px);
  display: grid;
  grid-gap: rem(8px);
  align-self: flex-start;
  transition: all .2s ease-in-out;

  .icon {
    --color: var(--icon-tertiary);
  }

  .item {
    @extend %skip-btn;
    background-color: var(--bg, var(--layer-01));
    width: rem(40px);
    height: rem(40px);

    &:hover {
      cursor: pointer;

      &:not(.is-active) {
        --bg: var(--button-bg-secondary-hover);
        .icon {
          --color: var(--button-icn-ghost-hover);
        }
      }
    }

    &.is-active {
      --bg: var(--button-bg-secondary-click);

      .icon {
        --color: var(--button-icn-ghost-click);
      }
    }
  }
}
