.nav-list {
  margin: 0;
  padding: 0;
  grid-gap: rem(4px);
  display: grid;
  user-select: none;

  .item {
    overflow: hidden;
  }

  > .item {
    @extend %flex-column;
  }

  &.nav-list--items-accent {
    > .item {
      background: var(--layer-03-low-contrast);
      border-radius: 8px;
    }
  }

  .items {
    @extend %flex-column;
    padding-left: rem(32px);
    grid-gap: rem(4px);
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-in-out;

    .link {
      max-width: rem(176px);

      .text {
        @include upd-font($body-2);
      }
    }

    .link:first-of-type {
      margin-top: rem(4px);
    }
  }

  .link {
    @extend %link;
    @extend %flex-items-center;
    grid-column-gap: #{rem(8px)};
    padding: var(--padding, #{rem(8px)} #{rem(16px)} #{rem(8px)} #{rem(16px)});
    min-height: rem(40px);
    border-radius: 8px;
    background-color: var(--bg, transparent);
    transition: all .2s ease-in-out;
    --color: var(--text-secondary);

    .icon {
      --color: var(--icon-primary);
    }

    &.is-open {
      .icon {
        --color: var(--icon-accent);
      }

      .text {
        --color: var(--text-accent);
      }
    }

    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 22px;
      flex-shrink: 0;
      @include font($body-1);
      margin-left: auto;
      color: var(--counter-color, var(--text-helper));
      transition: color .2s ease-in-out;
    }

    @include use-hover {
       &:hover {
         cursor: pointer;
        --bg: var(--side-bar-link-hover);

        .icon {
          --color: var(--icon-contrast);
        }

        .text  {
          --color: var(--text-primary);
        }

        .btn-toggle {
          --bg: var(--side-bar-expand-hover);

          .icon {
             --color: var(--button-icn-ghost-hover);
          }
        }

        --counter-color: var(--text-secondary);

      }
    }

    &:active, &.is-active {
      --color: var(--text-accent);

      .icon {
        --color: var(--icon-accent);
      }

      .text {
        --color: var(--text-accent);
      }

      --counter-color: var(--text-secondary);
    }

    &:active {
      --bg: var(--side-bar-link-click);
    }

    &.is-open {
      ~ .items {
        max-height: 100%;
      }
    }

    &.router-link-active {
      --color: var(--text-accent);

      &:hover {
        --color: var(--text-accent);
      }
    }
  }

  .text {
    @include font($subheading-2);
    @extend %text-elipsis;
    color: var(--color, var(--text-secondary));
    transition: color .2s ease-in-out;
  }

  .btn-toggle {
    --margin-left: auto;
  }

  .is-compact & {
    @include media(l) {
      .text, .items, .bage, .btn-toggle, .counter {
        display: none;
      }

      .icon {
        --icon-size: #{rem(24px)};
      }

      .link {
        --padding: 0;
        justify-content: center;
        @include box(40px);
      }
    }
  }
}
