.nav-mob {
  display: flex;
  position: fixed;
  height: var(--height-nav-mob, rem(64px));
  bottom: var(--bottom-nav-mob, 0);
  left: 0;
  right: var(--right-nav-mob, 0);
  flex-direction: var(--direction-nav-mob);
  padding: rem(8px) rem(8px) rem(16px) rem(8px);
  background-color: var(--black-primary);
  z-index: var(--mob-nav-index, 1);
  visibility: var(--mob-nav-visibility, visible);
  width: var(--width-nav-mob, auto);

  @include media(l) {
    visibility: hidden;
  }

  .item {
    @extend %flex-column;
    justify-content: var(--display-mob-nav-justify, flex-end);
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0;

    .icon {
      @include box(22px);
      @extend %flex-all-center;
      transition: color .2s ease-in-out;

      --color: var(--white);
    }

    &.is-accent {
      .icon {
        @include box(36px);
        background: var(--gradient-radial);
        padding: rem(6px);
        @include radius(50%);
      }
    }

    span {
      display: var(--display-mob-nav-item, block);
      color: var(--color, var(--white));
      @include font($heading-1);
      transition: color .1s ease-in-out;
    }

    &:not(.is-accent) {
      &:active {
        --color: var(--yellow-500);

        .icon {
          --color: var(--yellow-500);
        }
      }
    }

    &.active {
      .icon, span {
        color: #FFC12E !important;
      }
    }
  }

  .is-mob-nav-vertical & {
    @media (orientation: landscape) {
      top: 0;
      --direction-nav-mob: column;
      --direction-nav-right: auto;
      --height-nav-mob: auto;
      --width-nav-mob: #{rem(64px)};
      --mob-nav-index: 2;
      --display-mob-nav-item: none;
      --display-mob-nav-justify: center;
    }
  }
}
