.nav-mob {
  display: flex;
  position: fixed;
  height: var(--height-nav-mob, rem(56px));
  bottom: var(--bottom-nav-mob, 0);
  left: 0;
  right: var(--right-nav-mob, 0);
  flex-direction: var(--direction-nav-mob);
  background-color: var(--layer-bg);
  z-index: var(--mob-nav-index, 1);
  visibility: var(--mob-nav-visibility, visible);
  border-top: 1px solid var(--layer-03-main);

  @include media(l) {
    visibility: hidden;
  }

  &__item {
    @extend %flex-column;
    flex-grow: 1;
    text-decoration: none;
    padding: rem(2px) rem(4px) rem(6px) rem(4px);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;

    &.active {
      &:after {
        content: '';
        position: absolute;
        background: var(--gradient-orange-radial-focus);
      }
    }

    @media (orientation: landscape) {
      height: 100%;
      width: fit-content;

      &.active {
        &:after {
          top: 0;
          left: 0;
          right: 0;
          height: rem(4px);
          max-width: rem(40px);
          border-radius: 9999px;
          margin: 0 auto;
        }
      }
    }

    @media (orientation: portrait) {
      width: 100%;

      &.active {
        &:after {
          top: 0;
          left: 0;
          right: 0;
          height: 4px;
          max-width: rem(40px);
          border-radius: 9999px;
          margin: 0 auto;
        }
      }
    }

    .icon {
      @extend %flex-all-center;
      transition: color .2s ease-in-out;
      --color: var(--icon-primary);
      --icon-size: 22px;
    }

    &.is-accent {
      .icon {
        @include radius(50%);
        --color: var(--icon-accent);
      }

      &:active {
        .icon {
          --bg: var(--button-bg-primary-icn-only-click);
        }
      }
    }

    .nav-mob__text {
      display: var(--display-mob-nav-item, block);
      color: var(--color, var(--text-tertiary));
      @include font($heading-1);
      transition: color .1s ease-in-out;
    }

    &:not(.is-accent) {
      @include use-hover {
        &:active {
          --color: var(--text-primary);

          .icon {
            --color: var(--text-primary);
          }
        }
      }
    }

    &.active {
      --color: var(--text-primary);

      .icon {
        --color: var(--icon-contrast);
      }
    }

    &.chat-indicator {
      position: relative;

      &:after {
        display: block;
        content: '';
        @include box(14px);
        position: absolute;
        z-index: 2;
        background-color: var(--support-alert-default);
        border: 2px solid var(--layer-bg);
        right: 50%;
        transform: translateX(15px);
        top: 3px;
        border-radius: 50%;
        transition: border 0.2s;
      }
    }
  }

  .is-mob-nav-vertical & {
    @media (orientation: landscape) and (max-width: 1023px) {
      top: 0;
      --direction-nav-mob: column;
      --direction-nav-right: auto;
      --height-nav-mob: auto;
      --width-nav-mob: #{rem(64px)};
      --mob-nav-index: 2;
      --display-mob-nav-item: none;
      --display-mob-nav-justify: center;
    }
  }
}
