.nav-static {
  display: var(--display, flex);
  flex-direction: column;
  grid-gap: rem(4px);

  .drawer-minimize & {
    @include media(l) {
      --display: none;
    }
  }

  > a {
    @include font($heading-1);
    color: var(--color, var(--text-secondary));
    padding: rem(4px) rem(20px);
    text-decoration: none;
    display: flex;
    transition: color .2s .2s ease-in-out;

    &.router-link-active {
      --color: var(--text-accent);
    }

    @include use-hover {
      &:not(.router-link-active) {
        &:hover {
          --color: var(--text-primary);
        }
      }
    }

    &:active {
      --color: var(--text-accent);
    }

  }
}
