.nav-user {
  display: grid;
  grid-auto-rows: min-content;
  background-color: var(--layer-02);
  width: var(--width, #{rem(288px)});
  z-index: 1;
  grid-gap: rem(8px);
  box-shadow: var(--shadow-modal);

  top: rem(64px);
  right: 0;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  align-items: flex-start;
  visibility: var(--nav-user-visibility, hidden);
  transform: translateX(var(--nav-user-translate-x, 100%)) rotateY(var(--nav-user-rotate-y, 90deg));
  transform-origin: right;
  transition: all .4s  ease-in;

  @include media(sm) {
    transition: none;
    height: auto;
    border-radius: 8px;
    right: rem(32px);
    top: rem(56px);
    max-width: 232px;
    --nav-user-translate-x: 0;
  }

  &__loyalty {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    background: var(--layer-03-low-contrast);

    hr {
      width: 100%;
      background: var(--border-02-low-contrast);
    }

    .btn-primary {
      margin-bottom: 8px;
      --width: 100%;
      --padding: 9px 24px;

      @include upd-font($heading-2);
    }

    .loyalty-progress {
      --progress-height: 8px;
      --progress-radius: 2px;
    }
  }

  &__common {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: rem(8px);
    width: 100%;

    .nickname {
      @include font($body-1);
      color: var(--color, var(--text-secondary));
      word-break: break-word;
    }

    .external-id {
      --label-color: var(--text-secondary);
      --value-color: var(--text-secondary);
      --icon-color: var(--icon-secondary);
      margin-bottom: 2px;

      @include upd-font($body-0);

      &.is-active {
        --label-color: var(--text-accent);
        --value-color: var(--text-accent);
        --icon-color: var(--text-accent);
      }
    }

    .amount {
      @include font($heading-2);
      color: var(--text-primary);
      word-break: break-word;
    }
  }

  .btn-primary {
    width: 100%;

    @include media(sm) {
      display: none;
    }
  }

  .items {
    display: grid;
    grid-row-gap: rem(8px);
    padding: 0 8px;

    @include media(sm) {
      grid-row-gap: rem(2px);
    }
  }

  .item {
    @include font($body-1);
    color: var(--color, var(--text-primary));
    display: flex;
    align-items: center;
    padding: rem(10px) rem(8px);
    min-height: rem(40px);
    grid-column-gap: rem(8px);
    align-self: stretch;
    flex-grow: 0;
    border-radius: 4px;
    background-color: var(--bg, transparent);
    transition: color .2s ease-in-out;

    .icon {
      --color: var(--icon-primary);
      --icon-size: 20px;
    }

    &:hover {
      cursor: pointer;
      --bg: var(--button-bg-secondary-click);
      --color: var(--text-primary);

      .icon {
        --color: var(--icon-contrast);
      }
    }

    &.is-active {
      --color: var(--text-accent);
      --bg: var(--button-bg-secondary-click);

      .icon {
        color: var(--icon-accent);
      }
    }

    .count {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16px;
      padding: 0 8px;
      margin-left: 8px;
      @include font($subheading-1);
      color: var(--text-inverse);
      background-color: var(--support-brand-default);
      border-radius: 8px;
    }
  }

  hr {
    --margin: 0;
  }

  .btn-logout {
    margin: 0 8px 8px 8px;
  }
}
