.tb-profile {
  color: var(--white);

  .row {
    padding: rem(16px);
    background-color: var(--bg, var(--black-primary));

    display: grid;
    grid-template-columns: repeat(2, 50%);
    @include font($body-2);

    &:nth-of-type(even) {
      --bg: var(--gray-900);
    }
  }

  .th {
    color: var(--gray-400);
  }

  .td {
    color: var(--white);
  }
}
