.tb-profile {
  color: var(--white);

  .row {
    padding: rem(16px);
    background-color: var(--bg, var(--layer-bg));

    display: grid;
    grid-template-columns: repeat(2, 50%);
    @include font($body-2);

    &:nth-of-type(even) {
      --bg: var(--layer-01);
    }
  }

  .th {
    color: var(--text-tertiary);
  }

  .td {
    color: var(--text-primary);
  }
}
