.tb-transactions-history {
  @extend %tb;
  @extend %scrollbar;
  overflow-x: auto;
  overscroll-behavior: auto;
  padding-bottom: rem(8px);

  .row {
    grid-template-columns:
      minmax(rem(100px), 1fr)
      minmax(rem(102px), 1fr)
      minmax(rem(154px), 1fr)
      minmax(rem(128px), 1fr)
      minmax(rem(158px), 1fr)
      minmax(rem(52px), 1fr);

    &:nth-child(2n + 3) {
      .copy-field__content {
        background: var(--layer-02);
      }
    }
  }

  .actions {
    grid-column: 1/7;
    grid-row: 2;
    width: calc(100vw - #{rem(32px)});
    display: flex;
    justify-content: center;
    position: sticky;
    gap: 8px;
    left: 0;
    right: 0;

    @include media(sm) {
      width: auto;
    }

    .btn-get-code,
    .btn-cancel-payment {
      margin: rem(8px) 0 rem(16px);
    }
  }

  .security-code {
    position: sticky;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - #{rem(32px)});
    grid-column: 1/7;
    grid-row: 3;
    gap: 8px;
    padding: rem(16px);
    margin: rem(8px) 0 rem(16px);
    border: 1px dashed var(--border-03);
    border-radius: 16px;
    background-color: var(--bg, var(--layer-03-main));

    @include media(sm) {
      align-items: center;
      justify-content: center;
      width: auto;
    }
  }

  &__short {
    margin-bottom: 32px;

    @include media(md) {
      margin-bottom: 100px;
    }
  }
}
