.form-sign-in {
  display: grid;
  grid-row-gap: rem(16px);

  hr {
    margin: 0;
  }

  .btn-primary {
    --width: 100% !important;

    &.size-md {
      --padding: #{rem(11px) rem(24px)};
    }
  }
}
