.row-status {
  color: var(--color, var(--green-500));
  display: flex;
  align-items: center;
  grid-column-gap: rem(4px);
  @include font($body-2);

  .icon {
    --color: var(--green-500);
    --icon-size: #{rem(20px)};
    min-width: #{rem(20px)};
  }

  &.is-current, &.is-active {
    --color: var(--green-500);

    .icon {
      --color: var(--green-500);
    }
  }

  &.is-closed {
    --color: var(--gray-400);

    .icon {
      --color: var(--gray-400);
    }
  }

  &.is-pending {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-start;

    --color: var(--white);

    .icon {
      --color: var(--yellow-500);
    }
  }

  &.is-success {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-start;
    --color: var(--white);

    .icon {
      --color: var(--green-500);
    }
  }

  &.is-unfinished {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-start;
    --color: var(--white);

    .icon {
      --color: var(--orange-500);
    }
  }

  &.is-failed, &.is-canceled {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-start;
    --color: var(--white);

    .icon {
      --color: var(--red-500);
    }
  }

}
