.promo {
  padding: var(--padding, #{rem(8px)} #{rem(24px)});
  text-align: center;
  display: grid;

  grid-area: promo;
  background-image: url(~/assets/img/promo-sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: var(--margin, #{rem(-16px)} #{rem(-16px)} 0 #{rem(-16px)});

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, #28263B 0%, rgba(40, 38, 59, 0) 100%)
  }

  @include media(md) {
    background-image: url(~/assets/img/promo-lg.png);
    --margin: #{rem(-32px)} 0 #{rem(-32px)} #{rem(-32px)};
    --padding: #{rem(88px)} #{rem(32px)} #{rem(32px)};
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column-gap: rem(4px);
    position: relative;

    @include media(md) {
      align-self: start;
    }
  }

  .title {
    @include font($heading-4);
    width: 100%;
  }

  .sub-title {
    @include font($heading-6);
    display: flex;
    flex-wrap: wrap;
    grid-gap: rem(4px);
    color: var(--color, var(--yellow-500));
    justify-content: center;
    align-items: center;

    &:first-of-type {
      @include media(md) {
        width: 100%;
        @include upd-font($heading-9);
      }
    }

    &:last-of-type {
      @include upd-font($heading-4);
      --color: var(--white);

      @include media(md) {
        width: 100%;
        @include upd-font($heading-6);
      }
    }
  }

  .icon {
    --color: var(--white);
  }

  .items {
    display: var(--display, none);
    grid-gap: rem(8px);
    position: relative;

    @include media(md) {
      align-self: end;
      --display: grid;
    }
  }

  .item {
    background-color: var(--gray-900);
    padding: rem(8px) rem(16px);
    display: flex;
    align-items: center;
    grid-gap: rem(8px);
    border-radius: 8px;
    justify-self: center;
  }


}
