.input-textarea {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;

  @extend %input-label;

  .row {
    position: relative;
  }

  .field {
    background-color: var(--bg, var(--gray-800));
    padding: var(--input-padding-y, #{rem(11px)}) rem(16px);
    border: 1px solid var(--border-color, var(--gray-800));
    color: var(--color, var(--white));
    border-radius: 8px;
    @include font($body-2);
    transition: border-color .2s ease-in-out;
    width: 100%;
    resize: none;
    font-family: inherit;

    &::placeholder {
      color: var(--gray-400);
      @include font($body-2);
    }

    &:focus {
      --border-color: var(--gray-300);
    }
  }

  .hint, .pass-progress {
    margin-top: rem(4px);
  }

  &.has-error {
    --border-color: var(--red-800);
  }


}
