.modal-register {
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;

  .container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-height: 100%;
    background-color: var(--gray-900);

    @include media(xs) {
      border-radius: rem(16px);
    }

    @include media(md) {
      flex-direction: row;
    }
  }

  .slot {
    @include media(md) {
      width: rem(400px);
      margin: #{rem(-4px)} 0 #{rem(-4px)} #{rem(-4px)};
    }
  }

  .scroll {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 16px 16px 24px 24px;
    border-top: 12px solid var(--gray-900);
    border-right: 8px solid var(--gray-900);
    border-bottom: 12px solid var(--gray-900);
    @extend %scrollbar;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: rem(24px);
      grid-column-gap: rem(8px);
      width: 100%;
      position: relative;

      .title {
        @include font($heading-6);
        color: var(--white);
        text-align: var(--text-align, center);
        flex-grow: 1;
      }
    }

    @include media(md) {
      width: rem(400px);
      padding: 16px 16px 24px 32px;
    }
  }
}
