.notification-popover-activator {
  @extend %flex-all-center;
  @include box(40px);
  @include radius(12px);
  position: relative;
  background-color: var(--bg, transparent);
  transition: all .2s ease-in-out;
  text-decoration: none;
  display: var(--display, none);

  @include media(l) {
    --display: flex;
  }

  .icon {
    --color: var(--icon-primary);
    --icon-size: 24px;
  }

  &__count {
    display: inline-flex;
    min-width: 18px;
    color: var(--text-inverse);
    position: absolute;
    top: 4px;
    left: calc(50% - 4px);
    padding: 0 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    border: 2px solid var(--layer-bg);
    background: var(--green-500);
    @include font($heading-0);
  }

  &.is-active {
    --bg: var(--gray-700);

    .icon {
      --color: var(--yellow-500);
    }
  }

  &.is-contrast {
    .icon {
      --color: var(--button-icn-ghost-high-contrast);
    }
  }

  @include use-hover {
    &:hover {
      cursor: pointer;

      &:not(.is-active) {
        --bg: var(--gray-800);

        .icon {
          --color: var(--yellow-500);
        }
      }
    }
  }
}
