.documents-instruction {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 6px 12px;
  background-color: var(--layer-01);
  border-radius: 8px;

  &__img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 4px;
  }

  &__image {
    aspect-ratio: 76/48;
    object-fit: cover;
    width: 100%;
  }

  &__icon {
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 16px;
    height: 16px;
    transform: translateX(-50%);
  }

  &__description {
    @include font($body-0);
    color: var(--text-primary);
  }
}