@import "helpers";

$neutrals-colors: (
  'white': #FFF,
  gray-000: #F5F7F9,
  gray-100: #F2F4F8,
  gray-200: #DCDFE4,
  gray-300: #C9CDD4,
  gray-400: #8E909F,
  gray-500: #656777,
  gray-600: #4F5164,
  gray-700: #3D3D51,
  gray-800: #28263B,
  gray-900: #19192F,
  black-primary: #0E091E,
);

$blue-colors: (
  blue-000: #F1F8FF,
  blue-100: #DBEDFF,
  blue-200: #C8E1FF,
  blue-300: #79B8FF,
  blue-400: #2188FF,
  blue-500: #0371EC,
  blue-600: #005FCC,
  blue-700: #044289,
  blue-800: #032F62,
  blue-900: #05264C,
);

$green-colors: (
  green-000: #F0FFF4,
  green-100: #DCFFE4,
  green-200: #B4FFC6,
  green-300: #6EFF91,
  green-400: #00E034,
  green-500: #00CF2F,
  green-600: #00A828,
  green-700: #038322,
  green-800: #046E1C,
  green-900: #045618,
);

$yellow-colors: (
  yellow-000: #FFF9E5,
  yellow-100: #FFF2C7,
  yellow-200: #FFF2C7,
  yellow-300: #FFDC8A,
  yellow-400: #FFD166,
  yellow-500: #FFC12E,
  yellow-600: #E6A409,
  yellow-700: #B07B00,
  yellow-800: #73550F,
  yellow-900: #73550F,
);

$orange-colors: (
  orange-000: #FFF8F2,
  orange-100: #FFEBDA,
  orange-200: #FFD1AC,
  orange-300: #FFB070,
  orange-400: #FB8C32,
  orange-500: #F6740A,
  orange-600: #E36B09,
  orange-700: #D16004,
  orange-800: #C25700,
  orange-900: #A04800,
);

$red-colors: (
  red-000: #FFEEF2,
  red-100: #FFDCE4,
  red-200: #FFACC1,
  red-300: #FF6F93,
  red-400: #FA3A6A,
  red-500: #FF0D4A,
  red-600: #E5063E,
  red-700: #AE042F,
  red-800: #AE042F,
  red-900: #950428,
);

$violet-colors: (
  violet-000: #F5F0FF,
  violet-100: #EFD5FC,
  violet-200: #E2B3F9,
  violet-300: #CB76F4,
  violet-400: #B133EF,
  violet-500: #9210D0,
  violet-600: #780DAA,
  violet-700: #640B8E,
  violet-800: #37078D,
  violet-900: #320647,
);

$gradients: (
  gradient-new: linear-gradient(224.62deg, #FFC12E 26.06%, #FF4547 116.69%),
  gradient-new-hover: linear-gradient(224.62deg, #E6A409 26.06%, #FF124C 116.69%),
  gradient-new-focus: linear-gradient(224.62deg, #F6740A 26.06%, #AE042F 116.69%),
  gradient-radial: radial-gradient(85.04% 85% at 58.75% 28.13%, #FFC12E 36.46%, #FF4547 100%),
  gradient-radial-hover: radial-gradient(85.04% 85% at 58.75% 28.13%, #E6A409 36.46%, #FF124C 100%),
  gradient-radisl-focus: radial-gradient(85.04% 85% at 58.75% 28.13%, #F6740A 36.46%, #AE042F 100%),
  gradient-orange: linear-gradient(224.62deg, #FFC53A -11.04%, #FF124C 107.78%),
  gradient-dark: linear-gradient(187.95deg, #140D2B 44.73%, #28263B 93.88%),
  gradient-dark-hover: linear-gradient(180deg, rgba(40, 38, 59, 0) 0%, #28263B 100%),
  gradient-dark-img-hover: linear-gradient(180deg, rgba(40, 38, 59, 0) 0%, #28263B 100%),
);


$colors: map-collect(
    $neutrals-colors,
    $blue-colors,
    $green-colors,
    $yellow-colors,
    $orange-colors,
    $red-colors,
    $violet-colors,
    $gradients,
);

