@import "mixins";

%icon {
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--icon-size, #{rem(18px)});
  line-height: 1;
  color: var(--icon-color, var(--gray-400))
}

%flex-items-center {
  display: flex;
  align-items: center;
}

%flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%link {
  text-decoration: var(--text-decoration, none);
  color: var(--color, var(--gray-300));
}

%text-elipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%skip-btn {
  background: var(--bg, transparent);
  color: var(--color, var(--gray-400));
  border: var(--border, 0);
}

%radius-50 {
  border-radius: 50%;
  overflow: hidden;
}

%none {
  display: none;
}

%scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

%scrollbar {
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: rem(6px);
    height: rem(6px);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-700);
    border-radius: 8px;
  }
}

%container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
}

%input-label {
  > .label {
    @include font($body-2);
    color: var(--color, var(--white));
    margin-bottom: rem(8px);
    grid-area: label;
    display: flex;
    grid-column-gap: rem(4px);
  }
}

%icon-btn {
  @extend %flex-all-center;
  @include box(32px);
  border-radius: 50%;
  --color: var(--gray-900);
  --icon-size: 18px;
  background-color: var(--bg, var(--yellow-500));
  box-shadow: var(--shadow, none);

  &:hover {
    --shadow: 0 0 0 3px var(--yellow-900);
  }

  &:focus {
    --shadow: inset 0px 2px 0px #B07B00;
    --bg: var(--yellow-600);
  }

  [disabled] {
    pointer-events: none;
    --bg: var(--yellow-900);
  }

}

%icon-btn-ghost {
  @extend %flex-all-center;
  @include box(32px);
  border-radius: 50%;
  --color: var(--gray-400);
  --icon-size: 22px;
  background-color: var(--bg, transparent);
  box-shadow: var(--shadow, none);

  &:hover {
    --shadow: 0 0 0 3px var(--yellow-900);
  }

  &:focus {
    --shadow: inset 0px 2px 0px #B07B00;
    --bg: var(--yellow-600);
  }

  [disabled] {
    pointer-events: none;
    --bg: var(--yellow-900);
  }
}

%modal {
  padding: var(--padding, rem(16px) rem(16px) rem(24px));
  background-color: var(--gray-900);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.24);
  display: grid;
  color: var(--white);
  position: var(--position, fixed);
  bottom: var(--bottom, 0);
  max-height: 100%;
  overflow-y: auto;
  @extend %scrollbar;
  border-radius: var(--radius, 0);
  grid-row-gap: rem(24px);
  width: 100%;
  max-width: var(--max-width, none);


  @include media(md) {
    bottom: auto;
    padding: rem(32px);
    --radius: #{rem(16px)};
    --max-width: #{rem(664px)};
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  form {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;

    > .btn-primary {
      margin-top: rem(8px);
    }
  }

  > .content {
    grid-area: content;
    position: relative;
    align-self: flex-start;
  }

  > .header {
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--padding, 0);
    grid-area: header;
    align-self: flex-start;

    > .title {
      @include font($heading-6);
      color: var(--white);
      text-align: center;
      flex-grow: 1;
    }
  }
}

%modal-info {
  @extend %modal;
  grid-row-gap: rem(24px);
  --padding: #{rem(16px)};

  grid-template-areas:
    "header"
    "content";

  @include media(md) {
    --padding: #{rem(32px)};
    --max-width: #{rem(400px)};
  }

  .header {
    --padding: 0;
  }

  .content {
    display: grid;
    grid-gap: #{16px};
  }

  .img {
    width: rem(104px);
    height: rem(104px);
    display: flex;
    margin: 0 auto;
  }

  .text {
    text-align: center;
    @include font($body-3);
    margin: 0;
  }

  .btn-primary {
    margin: 0 auto;
    --width: 100%;
  }
}

%tb {
  display: grid;
  position: relative;

  .td:first-of-type, .th:first-of-type {

    position: sticky;
    left: 0;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      top: rem(-10px);
      bottom: 0;
      right: 0;
      border-right: 1px solid var(--gray-400);
    }

    @include media(xs) {
      position: relative;

      &:after {
        visibility: hidden;
      }
    }
  }

  .row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    background-color: var(--bg, var(--black-primary));

    &:first-of-type {
      border-bottom: 1px solid var(--gray-700);
    }

    &:nth-child(2n + 3) {
      --bg: var(--gray-900);
    }
  }

  .th {
    padding: rem(16px);
    color: var(--gray-500);
    @include font($heading-2);
    position: relative;
    background-color: inherit;
  }

  .td {
    padding: rem(16px);
    @include font($body-2);
    color: var(--white);
    position: relative;
    background-color: inherit;

    &:first-of-type {
      @include upd-font($body-1);
    }
  }
}
