@import "mixins";

%icon {
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--icon-size, #{rem(18px)});
  line-height: 1;
  color: var(--icon-color, var(--gray-400))
}

%flex-items-center {
  display: flex;
  align-items: center;
}

%flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%link {
  text-decoration: var(--text-decoration, none);
  color: var(--color, var(--gray-300));
}

%text-elipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%skip-btn {
  background: var(--bg, transparent);
  color: var(--color, var(--gray-400));
  border: var(--border, 0);
}

%radius-50 {
  border-radius: 50%;
  overflow: hidden;
}

%none {
  display: none;
}

%scrollbar-hide {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }
}

%scrollbar {
  scrollbar-color: var(--gray-700);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: rem(6px);
    height: rem(6px);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-700);
    border-radius: 8px;
  }
}

%container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
}

%input-label {
  > .label {
    @include font($body-2);
    color: var(--color, var(--white));
    margin-bottom: rem(8px);
    grid-area: label;
    display: flex;
    grid-column-gap: rem(4px);
  }
}

%icon-btn {
  @extend %flex-all-center;
  @include box(32px);
  border-radius: 50%;
  --color: var(--gray-900);
  --icon-size: 18px;
  background-color: var(--bg, var(--yellow-500));
  box-shadow: var(--shadow, none);

  &:hover {
    --shadow: 0 0 0 3px var(--yellow-900);
  }

  &:focus {
    --shadow: inset 0px 2px 0px #B07B00;
    --bg: var(--yellow-600);
  }

  [disabled] {
    pointer-events: none;
    --bg: var(--yellow-900);
  }

}

%icon-btn-ghost {
  @extend %flex-all-center;
  @include box(32px);
  border-radius: 50%;
  --color: var(--gray-400);
  --icon-size: 22px;
  background-color: var(--bg, transparent);
  box-shadow: var(--shadow, none);

  &:hover {
    --shadow: 0 0 0 3px var(--yellow-900);
  }

  &:focus {
    --shadow: inset 0px 2px 0px #B07B00;
    --bg: var(--yellow-600);
  }

  [disabled] {
    pointer-events: none;
    --bg: var(--yellow-900);
  }
}

%modal {
  display: flex;
  height: 100%;
  align-items: center;
  user-select: none;
  width: 100%;

  @include media(md) {
    width: auto;
  }

  .container {
    overflow-y: auto;
    max-height: 100%;
    background: var(--gray-900);
    border-top: rem(12px) solid var(--gray-900);
    border-right: rem(8px) solid var(--gray-900);
    border-bottom: rem(12px) solid var(--gray-900);
    border-left: rem(8px) solid var(--gray-900);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.24);
    position: relative;
    width: 100%;
    @extend %scrollbar;

    @include media(xs) {
      border-radius: 16px;
    }

    @include media(md) {
      border: none;
      display: flex;
      overflow: hidden;
      width: auto;
    }
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: rem(24px);
    position: absolute;
    padding: #{rem(16px)} #{rem(24px)};
    width: 100%;
    top: 0;
    left: 0;
    grid-gap: rem(8px);

    @include media(md) {
      position: relative;
      padding: 0;
    }

    .title {
      @include font($heading-6);
      color: var(--white);
      text-align: var(--text-align, center);
      flex-grow: 1;
    }
  }

  .slot {
    padding: var(--padding, #{rem(68px)} #{rem(16px)} #{rem(16px)} #{rem(16px)});
    justify-content: flex-start;
    position: relative;
    --height: auto;

    @include media(md) {
      width: #{rem(264px)};
      padding: #{rem(32px)};
      background-color: var(--black-primary);
    }
  }

  .scroll {
    overflow: hidden;
    @extend %scrollbar;
    padding: rem(16px);
    border: rem(12px) solid var(--gray-900);

    hr {
      margin: 0;
    }

    @include media(md) {
      border-top: rem(12px) solid var(--gray-900);
      border-right: rem(8px) solid var(--gray-900);
      border-bottom: rem(12px) solid var(--gray-900);
      width: rem(400px);
      padding: rem(24px);
      overflow-y: auto;
      --text-align: left;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    grid-gap: rem(16px);

    > .btn-primary {
      margin-top: rem(8px);
    }
  }

  .btn-modal-close {
    --top: 0;
    --right: auto;

    @include media(xs) {
      --right: #{rem(8px)};
    }

    @include media(md) {
      --top: #{rem(-24px)};
      --right: #{rem(-8px)};
    }
  }

  .btn-primary {
    --width: 100%;
  }

}

%modal-info {
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 400px;
  width: 100%;
  user-select: none;

  .scroll {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    background: var(--gray-900);
    border-top: rem(12px) solid var(--gray-900);
    border-right: rem(8px) solid var(--gray-900);
    border-bottom: rem(12px) solid var(--gray-900);
    border-left: rem(8px) solid var(--gray-900);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.24);
    position: relative;
    padding: 0 16px 20px 16px;
    grid-row-gap: rem(16px);
    width: 100%;
    @extend %scrollbar;

    @include media(xs) {
      border-radius: 16px;
    }
  }

  .header {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: rem(20px);
    grid-row-gap: rem(8px);

    .title {
      @include font($heading-6);
      color: var(--white);
      text-align: var(--text-align, center);
      flex-grow: 1;
      margin-left: #{rem(-32px)};

      @include media(xs) {
        margin-left: 0;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    grid-gap: rem(16px);

    > .btn-primary {
      margin-top: rem(8px);
    }
  }

  .btn-modal-close {
    --top: 0;
    --right: 0;

    @include media(xs) {
      --right: #{rem(-8px)};
    }
  }

  .img {
    width: rem(104px);
    height: auto;
    display: grid;
    margin: 0 auto;
  }

  .text {
    @include font($body-3);
    text-align: center;
    color: var(--white);
    margin: 0 0;
  }

  .btn-primary {
    --width: 100%;
    //--padding: #{rem(16px)} #{rem(50px)};
    margin: rem(8px) auto 0;

    //@include media(xs) {
    //  --width: fit-content;
    //}
  }
}

%tb {
  display: grid;
  position: relative;

  .td:first-of-type, .th:first-of-type {

    position: sticky;
    left: 0;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      top: rem(-10px);
      bottom: 0;
      right: 0;
      border-right: 1px solid var(--gray-400);
    }

    @include media(xs) {
      position: relative;

      &:after {
        visibility: hidden;
      }
    }
  }

  .row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    background-color: var(--bg, var(--black-primary));

    &:first-of-type {
      border-bottom: 1px solid var(--gray-700);
    }

    &:nth-child(2n + 3) {
      --bg: var(--gray-900);
    }
  }

  .th {
    padding: rem(16px);
    color: var(--gray-500);
    @include font($heading-2);
    position: relative;
    background-color: inherit;
  }

  .td {
    padding: rem(16px);
    @include font($body-2);
    color: var(--white);
    position: relative;
    background-color: inherit;

    &:first-of-type {
      @include upd-font($body-1);
    }
  }
}

%text-page-max {
  max-width: rem(1024px);
  margin: 0 auto;
}

%cards-items {
  border-radius: 12px;
  border: 4px solid var(--black-primary);
}

%cards-items-negative {
  margin-left: rem(-4px);
  margin-right: rem(-4px);
}

