.input-date {
  @extend %input-label;
  position: relative;
  width: 100%;

  .row {
    position: relative;
  }

  .form-control {
    background: none;
    background-color: var(--bg, var(--gray-800));
    padding: var(--input-padding-y, #{rem(11px)}) rem(44px);
    border: 1px solid var(--border-color, var(--gray-800));
    color: var(--color, var(--white));
    border-radius: 8px;
    @include font($heading-2);
    transition: border-color .2s ease-in-out;
    width: 100%;

    &::placeholder {
      color: var(--gray-400);
      @include font($body-1);
    }

    &:focus {
      --border-color: var(--gray-300);
    }

    &.active {
      ~ .mask-toggle {
        --icon-transform: rotate(180deg);
      }
    }
  }

  .mask-placeholder {
    position: absolute;
    left: rem(16px);
    top: 0;
    bottom: 0;
    margin: auto;
    --color: var(--white);

  }

  .mask-toggle {
    position: absolute;
    right: rem(16px);
    top: 0;
    bottom: 0;
    margin: auto;
    color: var(--icon-color, var(--gray-400));
    transform: var(--icon-transform, rotate(0));
    transition: transform .2s ease-in-out;
  }
}

@import "~/scss/flatpickr-calendar.scss";
