.input-date {
  @extend %input-label;
  position: relative;
  width: 100%;

  .row {
    position: relative;
  }

  .form-control {
    background: none;
    background-color: var(--bg, var(--gray-800));
    padding: var(--input-padding-y, #{rem(11px)}) rem(44px);
    border: 1px solid var(--border-color, var(--gray-800));
    color: var(--color, var(--white));
    border-radius: 8px;
    @include font($heading-2);
    transition: border-color .2s ease-in-out;
    width: 100%;

    &::placeholder {
      color: var(--gray-400);
      @include font($body-1);
    }

    &:focus {
      --border-color: var(--gray-300);
    }

    &.active {
      ~ .mask-toggle {
        --icon-transform: rotate(180deg);
      }
    }
  }

  .mask-placeholder {
    position: absolute;
    left: rem(16px);
    top: 0;
    bottom: 0;
    margin: auto;
    --color: var(--white);

  }

  .mask-toggle {
    position: absolute;
    right: rem(16px);
    top: 0;
    bottom: 0;
    margin: auto;
    color: var(--icon-color, var(--gray-400));
    transform: var(--icon-transform, rotate(0));
    transition: transform .2s ease-in-out;
  }
}

@import "~/scss/flatpickr-calendar.scss";

/*
.flatpickr-calendar {
  background-color: var(--gray-800);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: rem(8x) rem(16px) rem(16px);

  &:after, &:before {
    display: none !important;
  }
}

.flatpickr-current-month {
  @include font($heading-2);
  color: var(--white);
  height: 48px;
}

span.flatpickr-weekday {
  @include font($body-0);
  color: var(--gray-400);
}

.flatpickr-weekdays {
  height: auto;
  border-top: 1px solid var(--gray-700);
  padding: rem(8px) 0;
}

.flatpickr-day {
  width: rem(40px);
  height: rem(40px);
  color: var(--white);
  @include font($body-2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
}

.flatpickr-months {
  .flatpickr-prev-month, .flatpickr-next-month {
    position: relative;
    width: rem(24px);
    height: rem(24px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    fill: var(--gray-400);
    border-radius: 50%;

    svg {
      width: rem(10px);
      height: rem(10px);
    }

    &:hover {
      background: var(--gray-700);
      svg {
        fill: var(--white);
      }
    }
  }
}

*/
