.modal-forgot-pass {
  @extend %modal-info;

  .text {
    @include font($body-2);
    color: var(--gray-300);
  }

  &__close,
  &__previous {
    @extend %skip-btn;
    width: rem(32px);
    height: rem(32px);
    position: var(--position, absolute);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--bg, var(--gray-800));
    top: var(--top, 0);
    right: var(--right, 0);
    cursor: pointer;
    --top: 0;
    --right: #{rem(-8px)};
    --bg: transparent;

    &:hover {
      --bg: var(--gray-800);
      transition: background-color .2s ease-in-out;

      .icon {
        --color: var(--yellow-500);
      }
    }

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      margin: auto;
      --icon-size: 24px;
      --color: var(--gray-400);
    }
  }

  &__previous {
    --position: relative;
    --top: auto;
    --right: auto;

    @include media(sm) {
      --position: absolute;
      --top: calc(50% + 10px);
      transform: translateY(-50%);
    }
  }
}
