.nav-list {
  margin: 0;
  padding: 0;

  > .item {
    @extend %flex-column;

    &:not(:last-of-type) {
      margin-bottom: rem(4px);
    }
  }

  .items {
    @extend %flex-column;
    padding-left: rem(32px);
  }

  .link {
    @extend %link;
    @extend %flex-items-center;
    grid-column-gap: #{rem(8px)};
    padding: var(--padding, #{rem(8px) rem(16px)});
    --color: var(--gray-300);

    &:hover {
      --color: var(--white);
    }

    &:focus, &:active, &.is-active {
      --color: var(--yellow-500);
    }
  }

  .text {
    @include font($heading-2);
    @extend %text-elipsis;
  }

  .btn-toggle {
    --margin-left: auto
  }

  .turbo-games {
    margin-top: rem(4px);
  }

  &.is-compact {
    .text, .items, .bage, .btn-toggle {
      display: none;
    }

    //[data-icon] {
    //  @include box-upd(40px);
    //  --icon-size: #{rem(24px)};
    //  transform: translateX(#{rem(2px)});
    //}

    .icon {
      //@include box-upd(40px);
      --icon-size: #{rem(24px)};
      transform: translateX(#{rem(2px)});
    }

    .link {
      --padding: 0;
      justify-content: center;
      @include box(40px);
    }
  }
}
