.nav-list {
  margin: 0;
  padding: 0;
  grid-gap: rem(4px);
  display: grid;

  > .item {
    @extend %flex-column;
  }

  .items {
    @extend %flex-column;
    padding-left: rem(32px);
    grid-gap: rem(4px);
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-in-out;

    .link:first-of-type {
      margin-top: rem(4px);
    }
  }

  .link {
    @extend %link;
    @extend %flex-items-center;
    grid-column-gap: #{rem(8px)};
    padding: var(--padding, #{rem(8px) rem(16px)});
    transition: color .2s ease-in-out;
    min-height: rem(40px);
    --color: var(--gray-300);

    .icon {
      --color: var(--gray-400);
    }


    &:hover {
      cursor: pointer;
      --color: var(--white);

      .icon {
        --color: var(--white);
      }
    }

    &:focus, &:active, &.is-active {
      --color: var(--yellow-500);

      .icon {
        --color: var(--yellow-500);
      }
    }

    &.is-open {

      --color: var(--yellow-500);

      .icon {
        --color: var(--yellow-500);
      }


      ~ .items {
        max-height: 100%;
      }
    }
  }

  .text {
    @include font($heading-2);
    @extend %text-elipsis;
    --color: var(--gray-300);
  }

  .btn-toggle {
    --margin-left: auto
  }

  &.is-compact {
    .text, .items, .bage, .btn-toggle {
      display: none;
    }

    .icon {
      transform: translateX(#{rem(2px)});
      --icon-size: #{rem(24px)};
    }

    .link {
      --padding: 0;
      justify-content: center;
      @include box(40px);
    }
  }
}
