.btn-favorite {
  @include box(24px);
  border-radius: 50%;
  @extend %skip-btn;
  @extend %flex-all-center;
  transition: all .2s ease-in-out;
  box-shadow: var(--shadow, unset);
  padding: 0;

  --icon-size: #{rem(18px)};
  --padding: 0;
  --color: var(--gray-400);

  &:hover {
    cursor: pointer;
    --bg: var(--gray-800);

    .icon {
      --icon-color: var(--yellow-500);
    }
  }

  &.active {
    .icon {
      --color: var(--yellow-500);
    }
  }
}
