.lotteries-timer {
  &__header {
    @include font($body-1);
    color: var(--text-tertiary);
    padding-top: 16px;
    text-align: center;
  }

  &__body {
    padding-top: 4px;
    text-align: center;
    display: flex;
  }

  &__dots {
    @include font($heading-6);
    color: var(--text-helper);
    height: 36px;
    width: 7px;
    margin: 0 8px;
    transform: translateY(-2px);
  }

  &__item {
    display: grid;

    &-digit {
      min-width: 40px;
      height: 36px;
      @include font($heading-6);

      &.has-null {
        color: var(--text-helper);
      }

      &:not(.has-null) {
        color: var(--text-accent);
      }
    }

    &-label {
      color: var(--text-helper);
      margin-top: -4px;
      @include font($body-0);
    }
  }

  color:white
}