.modal-deposit {
  @extend %modal;

  .header {
    padding: rem(4px) rem(8px) 0 rem(8px);

    @include media(md) {
      padding: 0;
    }

    .btn-modal-close {
      --top: 24px;
      --right: auto;
      --bg: var(--gray-800);

      @include media(md) {
        --bg: transparent;
        --top: -16px;
        --right: -8px;
        transform: none;
      }

      .icon {
        &:first-of-type {
          //color: var(--color, var(--white));
          --visibility: visible;
        }

        &:last-of-type {
          --visibility: hidden;
        }

        @include media(md) {
          &:first-of-type {
            --visibility: hidden;
            //color: var(--color, var(--gray-400));
          }

          &:last-of-type {
            --visibility: visible;
          }
        }
      }
    }
  }

  .container {
    .scroll {
      padding-left: 0;
      padding-right: 0;

      @include media(md) {
        padding-top: rem(20px);
        padding-left: rem(16px);
        padding-right: rem(16px);
      }

      hr {
        --bg: var(--border-01)
      }
    }
  }

  .list-currencies {
    .header {
      border-bottom: 1px solid var(--gray-700);
      display: flex;
      padding: 0 0 rem(8px) 0;
      grid-column-gap: rem(4px);
      margin-bottom: rem(8px);
      position: relative;
    }
  }

  &__empty-methods {
    color: var(--white);
  }
}
