.modal-fiat {
  @extend %modal-info;

  .title {
    margin-bottom: rem(8px);
  }

  .scroll {
    grid-row-gap: 0;
    border-top-width: 8px;
    border-bottom-width: 8px;
  }

  .btn-modal-close {
    --top: -4px;
    --left: -16px;
  }

  &__item {
    background-color: var(--gray-800);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(6px) rem(16px);
    grid-column-gap: rem(4px);
    border-radius: 8px;
    color: var(--gray-300);
    transition: all .4s ease-in-out;

    &:hover {
      cursor: pointer;
      color: var(--yellow-500);
      background-color: var(--layer-02);
    }

    &.is-active {
      background-color: var(--gray-800);
      color: var(--yellow-500);
    }

    &-logo {
      @include box(20px);
      display: block;
    }

    &-currency {
      color: inherit;
    }
  }

  &__text {
    @include font($body-1);
    color: var(--gray-400);
    margin: 0 0 rem(24px);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(8px);
  }
}
