.modal-forgot-pass {
  @extend %modal-info;

  .text {
    @include font($body-2);
    color: var(--text-tertiary);
  }

  &__close,
  &__previous {
    @extend %skip-btn;
    width: rem(32px);
    height: rem(32px);
    position: var(--position, absolute);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    @extend %btn-ghost;

    --bg: transparent;
    --color: var(--icon-primary);
  }

  &__previous {
    --position: relative;
  }

  &__close {
    top: rem(-24px);
    right: rem(-16px);
  }
}
