.modal-forgot-pass {
  @extend %modal-info;

  .text {
    @include font($body-2);
    color: var(--text-tertiary);
  }

  &__close,
  &__previous {
    @extend %skip-btn;
    width: rem(32px);
    height: rem(32px);
    position: var(--position, absolute);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    @extend %btn-ghost;

    --bg: transparent;
    --color: var(--icon-primary);
  }

  &__previous {
    --position: relative;
  }

  &__close {
    top: rem(-24px);
    right: rem(-16px);
  }

  .phone-verify {
    &__resend {
      margin-bottom: 16px;
    }
  }

  .scroll {
    overflow: visible !important;
  }

  &__tabs {
    padding: rem(4px);
    grid-gap: rem(4px);
    display: flex;
    align-items: center;
    background-color: var(--layer-02);
    grid-column-gap: rem(4px);
    border-radius: 12px;

    .btn {
      cursor: pointer;
      flex-grow: 1;

      @include use-hover {
        &:hover {
          --bg: var(--button-bg-secondary-click);
        }
      }

      &.is-active {
        --bg: var(--button-bg-secondary-click);
        --color: var(--icon-accent);
        --text-color: var(--text-accent);
      }
    }

    .text {
      @include font($body-1);
      display: var(--text-display, block);
      color: var(--text-color);
      transition: color .2s ease-in-out;
    }

    &-divider {
      margin: rem(8px) 0;
    }
  }
}
