.modal-geo-restricted-game {
  @extend %modal-info;
  --letter-spacing: .016rem;

  .vfm__content {
    --content-gap: #{rem(24px)};
  }

  img {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  .btn-primary {
    --width: fit-content;
  }

  .text {
    color: var(--gray-300);
    @include upd-font($body-2);
  }

  .actions {
    display: grid;
    grid-gap: rem(8px);
  }
}
