.modal-loyalty-level {
  @extend %modal-info;

  .scroll {
    grid-row-gap: 0;
  }

  &__title {
    @include font($heading-6);
    text-align: center;
    color: var(--text-primary);
    margin: 0 auto 4px;
    width: 80%;

    > * {
      margin: 0;
    }
  }

  &__images {
    width: 228px;
    height: 180px;
    flex-shrink: 0;
    position: relative;
    margin: 0 auto 16px;

    &-back-bg {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .btn-primary {
    margin: 24px auto 0;

    @include media(md) {
      --width: fit-content;
    }
  }

  &__avatar-wrap {
    width: 132px;
    height: 132px;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--gradient-orange-line);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;

    .modal-loyalty-level__avatar-container {
      width: 100%;
      height: 100%;
      padding: 6px;
      border-radius: 50%;
      background: rgba(#3d4451, 1);
    }

    .loyalty-avatar {
      border: none;
      box-shadow: 0 0 40px 0 rgba(255, 105, 64, 0.80), 0 0 69px 0 rgba(255, 193, 46, 0.80);
      --avatar-img-size: 100%;
      --level-img-size: 48px;
      --level-img-right: 50%;
      --level-img-bottom: -12px;

      &__level {
        transform: translate(50%, 50%);
      }
    }
  }

  &__description {
    @include font($body-2);
    color: var(--text-tertiary);
    text-align: center;
    margin-bottom: 12px;
  }

  .level-benefits {
    padding: 12px 16px;
    border: 1px dashed var(--border-02-low-contrast);
    border-radius: 8px;
  }
}