.modal-max-bets {
  @extend %modal-info;
  --letter-spacing: .016rem;

  .vfm__content {
    --content-gap: #{rem(24px)};
  }

  .img {
    display: block;
    margin-bottom: 16px;
    max-height: 120px;
    height: 100%;
    max-width: 100%;
    aspect-ratio: 152/120;

    @include media(md) {
       max-height: 180px;
    }

    &.lazyLoad {
      opacity: 0;
      transition: opacity .2s ease-out;

      &.isLoaded {
        opacity: 1;
      }
    }
  }

  .title {
    margin-bottom: 4px;
    color: var(--text-primary);
    text-align: center;
    @include font($heading-5);
    align-self: stretch;

    @include media(md) {
      @include upd-font($heading-6);
    }
  }

  .scroll {
    grid-row-gap: 0;
  }

  .btn-primary {
    @include upd-font($heading-2);
    margin-top: 0;
    --width: 100%;
  }

  .btn-ghost {
    @include upd-font($heading-1);
    --color: var(--button-text-ghost-low-contrast);
    --width: 100%;

    @include use-hover {
      &:hover {
        --color: var(--button-text-secondary-hover);
      }
    }
  }

  .text {
    color: var(--gray-300);
    @include upd-font($body-1);

    @include media(md) {
      @include upd-font($body-2);
    }
  }

  .actions {
    display: grid;
    grid-gap: rem(8px);
  }

  &__info {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: var(--layer-02);
    column-gap: 4px;
    padding: 12px 12px 16px;
    margin: 12px 0 24px;

    svg {
      color: var(--support-warning-default);
    }

    &-label {
      @include font($body-1);
      color: var(--text-tertiary);
      line-height: unset;


    }

    &-value {
      @include font($subheading-1);
      color: var(--text-primary)
    }
  }
}
