.modal-confirm {
  @extend %modal-info;

  .scroll {
    img {
      margin: rem(-22px) auto 0;
    }
  }

  .text {
    @include font($heading-5);
    text-align: center;
    color: var(--text-primary);
    margin: 0 0;
  }

  .btn-primary {
    margin: rem(8px) auto 0;
    --width: 100%;
  }
}
