.modal-register {
  .container {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    max-height: 100%;
    background-color: var(--layer-01);

    @include media(xs) {
      border-radius: 12px;
    }

    @include media(md) {
      flex-direction: row;
    }
  }

  .slot {
    @include media(md) {
      width: rem(400px);
      margin: #{rem(-4px)} 0 #{rem(-4px)} #{rem(-4px)};
    }
  }

  .scroll {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 4px 16px 24px 24px;
    border-top: 12px solid var(--layer-01);
    border-right: 8px solid var(--layer-01);
    border-bottom: 12px solid var(--layer-01);
    @extend %scrollbar;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: rem(24px);
      grid-column-gap: rem(8px);
      width: 100%;
      position: relative;

      .title {
        @include font($heading-6);
        color: var(--text-primary);
        text-align: var(--text-align, center);
        flex-grow: 1;
        margin-left: rem(32px);
      }

      &__back-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--text-tertiary);
        transition: color .1s, color .1s ease-in-out;
        @include font($body-2);

        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: rem(4px);
          border-radius: 8px;
          transition: background-color .1s, color .1s ease-in-out;

          .icon {
            color: var(--text-tertiary);
            transition: inherit;
          }
        }

        &:hover {
          color: var(--text-primary);

          .header__back-btn-icon {
            background-color: var(--button-bg-secondary-hover);
            color: var(--button-text-ghost-hover);
          }
        }

        &:active {
          color: var(--button-text-ghost-click);

          .icon {
            color: var(--button-text-ghost-click);
          }
        }
      }
    }

    @include media(md) {
      width: rem(400px);
      padding: 20px 16px 24px 32px;
    }
  }

  .dropdown-search {
    &.country {
      grid-column: 1;
    }

    &.currency {
      grid-column: 2;
    }
  }

  .btn-modal-close {
    transform: none;
    left: 24px;
    --right: auto;
    --top: 98px;
    --bg: transparent;

    &.close-secondary {
      --bg: var(--button-bg-secondary);
      box-shadow: var(--shadow-layer);
    }

    .icon {
      &:first-of-type {
        --visibility: visible;
      }

      &:last-of-type {
        --visibility: hidden;
      }

      @include media(xs) {
        &:first-of-type {
          --visibility: hidden;
        }

        &:last-of-type {
          --visibility: visible;
        }
      }
    }

    @include media(xs) {
      left: auto;
      --top: #{rem(-4px)};
      --right: #{rem(-14px)};
    }

    @include media(md) {
      --top: #{rem(16px)};
      --right: #{rem(10px)};
    }
  }

  &__tabs {
    padding: rem(4px);
    grid-gap: rem(4px);
    display: flex;
    align-items: center;
    background-color: var(--layer-02);
    grid-column-gap: rem(4px);
    border-radius: 12px;

    .btn {
      cursor: pointer;
      flex-grow: 1;

      @include use-hover {
        &:hover {
          --bg: var(--button-bg-secondary-click);
        }
      }

      &.is-active {
        --bg: var(--button-bg-secondary-click);
        --color: var(--icon-accent);
        --text-color: var(--text-accent);
      }
    }

    .text {
      @include font($body-1);
      display: var(--text-display, block);
      color: var(--text-color);
      transition: color .2s ease-in-out;
    }
  }

  &__tabs-divider {
    flex-shrink: 0;
    margin: rem(24px) 0;
    background-color: var(--border-00-low-contrast);
  }
}
