.wallet-modal {
  .vfm__content {
    padding: 0;
    margin: 0;
    width: 100%;

    @include media(sm) {
      padding: rem(4px);
    }
  }

  &__container {
    overflow-x: visible;
    max-height: 100%;
    height: 100%;
    background: var(--layer-01);
    box-shadow: var(--shadow-modal);
    border: none;
    display: flex;
    width: 100%;
    position: relative;
    transition: transform 0.4s ease-out;

    @media (max-width: 767px) {
      &.show-form {
        transform: translateX(-100%);

        .btn-modal-close {
          transform: translateX(calc(100% + 32px));

          .icon {
            &:first-of-type {
              --visibility: visible;
            }

            &:last-of-type {
              --visibility: hidden;
            }
          }
        }
      }
    }

    @include media(sm) {
      transform: none !important;
      overflow-x: hidden;
      border-radius: 16px;
      width: rem(664px);
      height: auto;
      min-height: 400px;
      max-height: rem(768px);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .identity {
    flex-shrink: 0;
    color: var(--text-helper);
    grid-row: 1/3;
    @include font($body-1);
  }

  .btn-modal-close {
    transform: none;
    top: 16px;
    right: 16px;
    --bg: var(--button-bg-secondary);
    box-shadow: var(--shadow-layer);

    @include media(sm) {
      --bg: transparent;
      box-shadow: none;

      @include use-hover {
        &:hover {
          --bg: var(--button-bg-secondary-hover);

          .icon {
            --color: var(--button-icn-ghost-hover);
          }
        }
      }

      &.close-secondary {
        --bg: var(--button-bg-secondary);
        box-shadow: var(--shadow-layer);
      }
    }

    .icon {
      --color: var(--button-icn-secondary);

      @include media(sm) {
        --color: var(--button-icn-ghost-low-contrast);
      }
    }
  }

  .form-deposit__button-holder {
    position: sticky;
    bottom: 0;
    z-index: 2;

    &:before {
      height: rem(104px);
      background: linear-gradient(0deg, #1C212B 0%, rgba(28, 33, 43, 0) 100%); //its temporatoty solution
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      border-bottom: rem(16px) solid var(--layer-01);
      bottom: rem(-16px);
      pointer-events: none;
    }
  }

  .btn-primary {
    height: rem(48px);
    --width: 100%;
    z-index: 1;
    position: relative;

    &__content {
      display: grid;
      justify-content: center;

      span {
        text-align: center;
        @include font($heading-3);
      }

      span:nth-child(2) {
        @include upd-font($body-1);
      }
    }
  }

  .wallet-modal__empty-methods {
    display: flex;
    gap: rem(4px);
    @include font($body-0);
    color: var(--text-primary);
    padding: rem(12px);
    border: 1px solid var(--support-warning-default);
    border-radius: rem(8px);

    .icon {
      --icon-size: 20px;
      --color: var(--icon-warning);
    }
  }
}
