.modal-wallet-bonus-details {
  .vfm__content {
    max-width: rem(400px);
    margin: 0 rem(16px);
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    position: relative;
    grid-column-gap: rem(8px);
    justify-content: center;
    margin-bottom: rem(24px);

    .img {
      width: rem(32px);
      height: rem(36px);
      object-fit: contain;
      margin: 0;
    }
  }

  &__title {
    @include font($heading-6);
    flex-grow: 0;
    color: var(--text-primary);
    text-align: var(--text-align, center);
  }

  &__scroll {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    background: var(--layer-01);
    border-top: rem(12px) solid var(--layer-01);
    border-right: rem(8px) solid var(--layer-01);
    border-bottom: rem(12px) solid var(--layer-01);
    border-left: rem(8px) solid var(--layer-01);
    box-shadow: var(--shadow-modal);
    position: relative;
    padding: rem(24px) rem(22px) rem(22px) rem(22px);
    width: 100%;
    @extend %scrollbar;
    border-radius: 16px;
  }

  .btn-modal-close {
    position: absolute;
    --bg: transparent;
    --right: #{rem(-16px)};
    --top: #{rem(-8px)};
  }

  .modal-wallet-bonus-details__dl {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0;

    border-radius: 8px;
    border: 1px solid var(--border-01);
    background: var(--layer-03-low-contrast);

    dt, dd {
      padding: rem(12px);
      margin: 0;
    }

    dt {
      @include font($body-1);
      color: var(--text-tertiary);
    }

    dd {
      @include font($heading-1);
      color: var(--text-primary)
    }

    dt:nth-of-type(odd), dd:nth-of-type(odd) {
      background-color: var(--layer-01);
    }

    dt:nth-of-type(even), dd:nth-of-type(even) {
      background-color: var(--layer-03-low-contrast);
    }
  }

  .btn-ghost {
    @include font($heading-1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(16px);
    color: var(--button-text-ghost-low-contrast);
    --width: 100%;
    --icon-size: #{rem(20px)};

    .icon {
      --color: var(--button-text-ghost-low-contrast);
    }

    @include use-hover {
      &:hover {
        color: var(--button-text-ghost-hover);

        .icon {
          --color: var(--button-icn-ghost-hover);
        }
      }
    }
  }
}