.modal-withdraw {
  @extend %modal;

  .vfm__content {
    max-width: rem(400px);
    width: 100%;

    @include media(md) {
      max-width: rem(664px);
    }
  }

  .titles {
    margin-bottom: rem(16px);
  }

  .container {
    min-height: 450px;

    @include media(md) {
      min-height: 400px;
    }

    .scroll {
      border: 0;

      @include media(md) {
          border: 8px solid var(--gray-900);
      }
    }
  }

  .header {
    padding: 4px 8px 0 8px;

    @include media(md)  {
      padding: 0;
    }

    .btn-modal-close {
      left: 8px;
      --top: 24px;
      --right: auto;
      --bg: var(--gray-800);

      @include media(md) {
        left: auto;
        --bg: var(--gray-900);
        --top: -16px;
        --right: -16px;
        transform: none;
      }

      .icon {
        &:first-of-type {
          color: var(--color, var(--white));
          --visibility: visible;
        }

        &:last-of-type {
          --visibility: hidden;
        }

        @include media(md) {
          &:first-of-type {
            color: var(--color, var(--gray-400));
            --visibility: hidden;
          }

          &:last-of-type {
            --visibility: visible;
          }
        }
      }
    }
  }

  &__empty-methods {
    color: var(--white);
  }
}
