.turbo-games {
  @extend %flex-items-center;
  grid-column-gap: rem(8px);
  padding-left: var(--padding-left, #{rem(12px)});

  .item {
    overflow: hidden;
    display: block;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
  }

  .img {
    display: block;
    max-width: 100%;
    transition: max-width .2s ease-in-out;
    width: var(--img-width, #{rem(56px)});
    height: var(--img-height, #{rem(56px)});
  }

  &.is-compact {
    .item:not(:first-child) {
      display: none;
    }

    --padding-left: 0;
    --img-width:§ #{rem(40px)};
    --img-height: #{rem(40px)};
  }
}
