.await-invoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 16px 24px;
  border: 1px solid var(--support-brand-default);
  border-radius: 16px;
  margin-top: 40px;

  @include media(md) {
    margin-top: 0;
  }

  &__title {
    text-align: center;
    @include font($heading-4);
    color: var(--text-primary);
    margin-top: 8px;
  }

  &__description {
    text-align: center;
    @include font($body-1);
    color: var(--text-tertiary);
    margin-top: 4px;
  }
}