.turn-over-wager {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    display: block;
    margin-bottom: 16px;
    height: 140px;

    img {
      height: 100%;
      aspect-ratio: 228/180;

      &.lazyLoad {
        opacity: 0;
        transition: opacity .2s ease-out;

        &.isLoaded {
          opacity: 1;
        }
      }
    }

    @include media(md) {
      height: 180px;
    }
  }

  &__title {
    margin-bottom: 4px;
    color: var(--text-primary);
    text-align: center;
    @include font($heading-5);
    align-self: stretch;

    @include media(md) {
      @include upd-font($heading-6);
    }
  }

  &__description {
    color: var(--text-tertiary);
    @include upd-font($body-1);
    margin: 0;
    text-align: center;

    @include media(md) {
      @include upd-font($body-2);
    }
  }

  &__info {
    width: 100%;
    border-radius: 8px;
    background: var(--layer-02);
    padding: 12px;
    margin: 12px 0 24px;

    &-wager {
      display: flex;
      align-items: center;
      column-gap: 4px;
      @include upd-font($subheading-2);
      margin-bottom: 12px;

      &-label {
        color: var(--text-tertiary);
        line-height: unset;
      }

      &-value {
        color: var(--text-primary)
      }
    }

    &-progress {
      background: var(--support-system-low-contrast);
      border-radius: 2px;
      height: 4px;
      align-self: stretch;
      position: relative;

      &-filled {
        background: var(--blue-500);
        position: absolute;
        left: 0;
        top: 0;
        height: inherit;
        width: var(--progress);
        border-radius: 2px;

        &:after {
          display: flex;
          align-items: center;
          justify-content: center;
          content: attr(data-progress);
          padding: 0 rem(4px);
          width: fit-content;
          height: 12px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(calc(100% - #{var(--progress)}), -50%);
          background: var(--blue-500);
          color: var(--blue-100);
          @include font($body-0);
          border-radius: 6px;
          line-height: 12px;
        }
      }
    }

    &-amount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 6px;

      div {
        display: flex;
        align-items: center;
        column-gap: 4px;
      }

      &-label {
          color: var(--text-tertiary);
          @include font($body-0);
      }

      &-value {
          color: var(--text-primary);
          @include font($body-1);
      }
    }
  }
}
