.is-game-page {
  .app-footer, .app-header,  .nav-game, .panel-mode {
    display: none;
  }

  .app-main {
    height: var(--height-main, calc(100vh - #{rem(64px)}));

    @media (orientation: landscape) and (max-width: #{rem(1024px)}) {
      --padding: 0 0 0 #{rem(64px)};
      --height-main: 100vh;
    }

    @include media(md) {
      --height-main: auto;
    }
  }

  @include media(md) {
    .app-footer {
      display: grid;
    }

    .app-header {
      display: flex;
    }

    .nav-game {
      display: grid;
    }

    .panel-mode {
      display: flex;
    }
  }
}
