.is-game-page {
  .app-footer, .app-header,  .nav-game, .panel-mode {
    display: none;
  }

  .app-main {
    --padding: 0;

    @media (orientation: landscape) and (max-width: #{rem(1024px)}) {
      --padding: 0 0 0 #{rem(64px)};
    }

    .cards {
      display: none;
      margin-top: rem(40px);
    }

    @include media(md) {
      --padding: #{rem(24px)} #{rem(32px)};

      .cards {
        display: grid;
      }
    }
  }

  @include media(md) {
    .app-footer {
      display: grid;
    }

    .app-header {
      display: flex;
    }

    .nav-game {
      display: grid;
    }

    .panel-mode {
      display: flex;
    }
  }
}
