.activity-board {
  --show-items-count: 10;
  --item-height: 48px;
  --item-gap: 4px;

  @include media(md) {
    --nav-border-radius: 12px;
    --selected-display: none;
    --items-visibility: visible;
    --items-directions: row;
    --item-padding: 4px 12px;
    --item-active-bg: var(--button-bg-secondary-click);
    --item-border-radius: 8px;
    --selected-icon-visibility: hidden;
    --nav-bg: var(--layer-02);
    --nav-padding: 0;
    --items-translate: 0;
    --nav-height: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    height: var(--nav-height, 32px);

    &-icon {
      --icon-size: 20px;
      --color: var(--icon-primary);
      flex-grow: 0;
      margin-right: 8px;
    }

    &-title {
      color: var(--text-primary);
      @include font($heading-4);
    }
  }

  &__nav {
    margin-left: auto;
    position: relative;
    z-index: 2;
    padding: var(--nav-padding, 0);
    background-color: var(--nav-bg, transparent);
    height: var(--nav-height, 32px);
    border-radius: var(--nav-border-radius, 8px);

    &.is-open {
      --selected-border-color: var(--border-click);
      --selected-color: var(--text-primary);
      --selected-bg: var(--field-00-click);
      --selected-icon-transform: rotate(180deg);
      --items-visibility: visible;
      --selected-icon-visibility: visible;
    }

    &-selected {
      display: var(--selected-display, flex);
      min-width: 104px;
      padding: 6px 16px;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      border-radius: 8px;
      background: var(--field-00);
      color: var(--selected-color, var(--text-primary));
      box-shadow: 0 0 0 1px var(--selected-border-color, var(--field-00));
      cursor: pointer;
      user-select: none;
      background-color: var(--selected-bg, var(--field-00));
      position: relative;
      transition: border-color .2s ease-in-out;

      .icon {
        --selected-icon-color: var(--icon-contrast);
        --icon-size: 20px;
        position: relative;
        transform: var(--selected-icon-transform, rotate(0deg));
        transition: transform .2s ease-in-out;
        flex-grow: 0;
        //right: 8px;
      }

      &-title {
        @include font($body-1);
      }
    }

    &-items {
      position: relative;
      max-width: 100%;
      width: 100%;
      padding: 4px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: var(--layer-02);
      transform: var(--items-translate, translateY(8px));
      box-shadow: var(--shadow-group);
      border-radius: 12px;
      display: flex;
      grid-column-gap: 4px;
      flex-direction: var(--items-directions, column);
      visibility: var(--items-visibility, hidden);
      max-height: calc((38px * 4) + 4px);
    }

    &-item {
      color: var(--text-secondary);
      padding: var(--item-padding, 4px 20px 4px 20px);
      background-color: var(--bg, transparent);
      transition: background-color .2s ease-in-out;
      grid-column-gap: 8px;
      user-select: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      align-items: center;
      height: 24px;
      display: flex;
      border-radius: var(--item-border-radius, 8px);
      @include font($body-1);

      &.is-active {
        color: var(--text-primary);
        background: var(--item-active-bg, transparent);
      }

      @include use-hover {
        &:hover:not(.is-active) {
          cursor: pointer;
          --bg: var(--button-bg-secondary-click);
        }
      }

      .icon {
        visibility: var(--selected-icon-visibility, hidden);
        position: absolute;
        right: 8px;
      }
    }
  }

  &__tb {
    min-width: calc(240px + 140px + 140px + 32px);

    &-scroll {
      overflow-x: auto;
      margin-top: 16px;
      margin-left: -16px;
      margin-right: -16px;
      padding: 0 16px;

      @include scrollbar-hide;

      @include media(xs) {
        margin: 16px -32px 0 -32px;
        scroll-padding: 32px;
        padding: 0 32px;
      }
    }

    &-head {
      @include font($heading-2);
      color: var(--text-tertiary);
      background: var(--layer-01);
      align-items: center;
      position: relative;
      border-radius: 8px;
      height: 32px;
      display: flex;
      z-index: 1;
    }

    &-th {
      display: var(--th-display, flex);
      width: var(--column-width, 100%);
      flex-grow: 0;
      white-space: nowrap;
      padding: 0 16px;

      &.th-1 {
        flex: 1 1 240px;
      }

      &.th-3 {
        flex: 0 0 140px;
      }

      &.th-6 {
        flex: 0 0 140px;
      }

      &.th-2, &.th-4, &.th-5 {
        --th-display: none;

        @include media(md) {
          --th-display: flex;
        }
      }

      @include media(md) {
        &.th-1 {
          flex: 1 1 240px;
          min-width: 20%;
        }

        &.th-2 {
          flex: 0 1 120px;
          min-width: 16%;
        }

        &.th-3 {
          flex: 0 1 120px;
          min-width: 16%;
        }

        &.th-4 {
          flex: 0 1 120px;
          min-width: 16%;
        }

        &.th-5 {
          flex: 0 1 120px;
          min-width: 16%;
        }

        &.th-6 {
          flex: 0 1 120px;
          min-width: 16%;
        }
      }
    }

    &-body {
      display: grid;
      max-height: calc((var(--item-height) + var(--item-gap)) * var(--show-items-count));
      margin-top: 4px;
      margin-bottom: 24px;
      grid-row-gap: 4px;
      position: relative;
      overflow: hidden;
      @include font($body-2);
    }

    &-row {
      display: var(--th-display, flex);
      background-color: var(--layer-01);
      width: var(--th-width, 100%);
      border-radius: 8px;
      flex-grow: 0;

      .animate & {
        will-change: transform;
      }

      .push & {
        animation: push .5s ease-out;
      }
    }

    &-td {
      display: var(--td-display, flex);
      color: var(--td-color, var(--text-primary));
      width: var(--column-width, 100%);
      height: 48px;
      align-items: center;
      grid-column-gap: 4px;
      padding: 0 16px;

      &.td-1 {
        flex: 1 0 240px;
        min-width: 240px;

        span {
          @extend %text-elipsis;
        }
      }

      &.td-3 {
        flex: 0 0 140px;

        span {
          @extend %text-elipsis;
        }
      }

      &.td-6 {
        flex: 0 0 140px;
      }

      &.td-2, &.td-4, &.td-5 {
        --td-display: none;

        @include media(md) {
          --td-display: flex;
        }
      }


      @include media(md) {
        &.td-1 {
          flex: 1 1 240px;
          min-width: 20%;
        }

        &.td-2 {
          flex: 0 1 120px;
          min-width: 16%;
        }

        &.td-3 {
          flex: 0 1 120px;
          min-width: 16%;
        }

        &.td-4 {
          flex: 0 1 120px;
          min-width: 16%;
        }

        &.td-5 {
          flex: 0 1 120px;
          min-width: 16%;
        }

        &.td-6 {
          flex: 0 1 120px;
          min-width: 16%;
        }
      }

      &-img {
        width: 32px;
        height: 32px;
        display: block;
        border-radius: 4px;
      }

      &-icon {
        width: 20px;
        height: 20px;
        display: block;
      }

      .is-accented {
        color: var(--text-success);
      }
    }
  }
}

@keyframes push {
  0% {
    transform: translateY(-48px);
  }

  to {
    transform: translateY(0);
  }
}
