.balance {
  border-radius: 12px;
  margin: var(--margin, 0);
  align-items: flex-start;
  width: 100%;
  position: relative;
  z-index: 5;

  &__rows {
    background-color: var(--layer-03-low-contrast);
    padding: var(--items-padding, #{rem(8px)} #{rem(16px)} #{rem(8px)} #{rem(16px)});
    border-radius: 12px;

    @include media(sm) {
      background-color: transparent;
      --items-padding: 0;
      display: flex;
      flex-direction: column;
      grid-row-gap: rem(16px);
    }
  }

  @include media(md) {
    min-width: 144px;
    border-radius: unset;
  }

  hr {
    margin: rem(16px) 0;
  }

  @include media(md) {
    --items-bg: transparent;
    --items-padding: 0;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "label value" "label sub-value";
    align-items: center;
    grid-template-rows: 1fr;
    min-height: rem(32px);

    &:nth-of-type(even) {
      .label {
        --color: var(--text-tertiary);
      }

      .value {
        @include upd-font($body-2);
        --color: var(--text-tertiary);
        text-align: right;

        @include media(md) {
          text-align: left;
        }
      }
    }

    &:nth-of-type(odd) {
      .value {
        text-align: right;
        --color: var(--text-primary);

        @include media(md) {
          text-align: left;
        }
      }
    }

    .amount {
      display: flex;
      align-items: center;
      color: var(--text-primary);
      @include font($body-1);
      grid-column-gap: rem(4px);
      margin-right: 8px;
    }

    .select {
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding: rem(6px) rem(8px) rem(6px) rem(16px);
      align-items: center;
      @include font($body-1);
      border-radius: 8px;
      transition: all 0.2s;
      border: 1px solid var(--border-color, transparent);

      @include media(md) {
        width: 100%;
        justify-content: space-between;
      }

      .icon-expand {
        --icon-size: 20px;
        --color: var(--icon-primary);
      }

      &.is-open {
        background-color: var(--field-00-click);
        --border-color: var(--border-click);
      }

      @include use-hover {
        &:hover {
          cursor: pointer;
        }
      }

      &.is-open {
        .icon-expand {
          --icon-transform: rotate(-180deg);
          --color: var(--icon-contrast);
        }
      }

      .list-currencies {
        right: 0;
        left: auto;
        min-width: 144px;
        width: 100%;
        top: calc(100% + 6px);
        transform: none;

        @include media(md) {
          right: auto;
          left: -1px;
          min-width: initial;
          width: calc(100% + 2px);
        }
      }
    }

    .icon-expand {
      transform: var(--icon-transform, rotate(0));
      transition: transform 0.2s ease-in-out;
      --color: var(--gray-400);
      --icon-size: 20px;
    }

    @include media(md) {
      grid-row-gap: rem(4px);
      align-items: flex-start;
      display: flex;
      flex-direction: column;

      .select {
        background-color: var(--field-00-click);
        justify-content: space-between;
        margin-top: rem(4px);
        width: 100%;
      }
    }
  }

  .label {
    @include font($body-2);
    color: var(--text-tertiary);
    flex-grow: 1;
    margin: 0;
    grid-area: label;
    display: flex;
    align-items: center;
    word-break: break-all;
  }

  .value {
    @include font($body-2);
    color: var(--color, var(--gray-500));
    flex-grow: 1;
    margin: 0;
    grid-area: value;

    &--accented {
      --color: var(--white);
    }
  }

  .items {
    @include media(md) {
      position: relative;
      --items-visibility: visible
    }
  }

  .input-payments {
    .selected {
      @include media(md) {
        display: none;
      }
    }
  }

  .converted-value {
    color: var(--gray-500);
    @include font($body-0);
    grid-area: sub-value;
    display: flex;
    justify-content: flex-end;
  }
}
