.betting-slider {
  position: relative;
  display: var(--display, none);

  @media (min-width: 992px) {
    --display: block
  }

  --slides-gap: #{rem(8px)};
  --shadow-width: #{rem(16px)};
  --shadow-inset: #{rem(-16px)};
  --viewport-height: #{rem(128px)};

   @include media(xs) {
    --shadow-width: #{rem(32px)};
    --shadow-inset: #{rem(-32px)};
  }

  @include media(sm) {
    --shadow-width: #{rem(48px)};
    --shadow-inset: #{rem(-48px)};
  }

  @include media(md) {
    --slides-gap: #{rem(16px)};
    --shadow-width: #{rem(64px)};
    --shadow-inset: #{rem(-64px)};
  }

  &__viewport {
    display: flex;
    position: relative;
    z-index: 0;
    grid-column-gap: var(--slides-gap);
    height: var(--viewport-height, #{rem(168px)});
  }

  &__slide {
    flex-grow: 0;
    flex-shrink: 0;
    aspect-ratio: 344/190;

    width: rem(416px);

    @include media(xl) {
      width: 30%;
    }
  }

  &__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    position: relative;
    z-index: 1;
  }

  &__bullet {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    --bullet-bg: var(--icon-secondary);

    &:after {
      content: '';
      display: block;
      width: #{rem(8px)};
      height: #{rem(8px)};
      border-radius: 50%;
      background: var(--bullet-bg);
    }

    &.is-selected {
      --bullet-bg: var(--gradient-orange-radial);
    }
  }

  &:before, &:after {
    content: '';
    top: -1px;
    bottom: -1px;
    width: var(--shadow-width);
    position: absolute;
    background: linear-gradient(270deg, var(--layer-bg) 0%, rgba(17, 20, 28, 0) 100%);
    z-index: 1;
    box-shadow: 16px 0 0 var(--layer-bg);
  }

  &:before {
    transform: rotate(180deg);
    left: var(--shadow-inset);
  }

  &:after {
    right: var(--shadow-inset);
  }
}
