.dropzone {
  padding: var(--dropzone-padding, #{rem(16px)} #{rem(24px)});
  min-height: rem(154px);
  border: 1px dashed var(--border-01);
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon content";
  grid-column-gap: rem(16px);
  background-color: var(--dropzone-bg, transparent);
  transition: background-color .4s ease-in-out;
  align-content: center;

  @include media(sm) {
    grid-template-areas: "icon" "content";
    grid-template-columns: 1fr;
    --dropzone-padding: #{rem(16px)} #{rem(16px)} #{rem(24px)}
  }

  &.is-active {
    --dropzone-bg: var(--border-01);
  }

  &.is-error {
    border-color: var(--border-alert);
  }

  .hint {
    @include upd-font($body-0);
    justify-content: center;
    text-align: center;
    color: var(--text-alert);
  }

  &__content {
    grid-area: content;
  }

  .icon.dropzone__icon {
    color: var(--icon-primary);
    grid-area: icon;
    align-self: center;
    --icon-size: 24px;

    @include media(sm) {
      margin: 0 auto;
    }
  }

  &__files {
    display: grid;
    grid-row-gap: rem(12px);
  }

  &__title {
    @include font($heading-1);
    margin: 0 0 rem(4px);
    padding: 0;
    color: var(--text-primary);

    @include media(sm) {
      text-align: center;
    }
  }

  .btn-select-file {
    margin-top: rem(8px);
    --width: 100%;

    @include media(sm) {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      --width: fit-content;
    }
  }
}
