.main-slider {
  position: relative;
  --slides-gap: 8px;
  --shadow-width: 16px;
  --shadow-inset: -16px;

  @include media(xs) {
    --shadow-width: 32px;
    --shadow-inset: -32px;
  }

  @include media(sm) {
    --shadow-width: 48px;
    --shadow-inset: -48px;
  }

  @include media(xxxl) {
    --slides-gap: 16px;
    --shadow-width: 64px;
    --shadow-inset: -66px;
  }

  &--high {
    margin-bottom: 24px;

    @include media(xs) {
      --viewport-height: 190px;
    }

    @include media(sm) {
      --viewport-height: 190px;
    }

    @include media(md) {
      margin-bottom: 32px;
      --viewport-height: 240px;
      --slides-gap: 16px;
    }

    @include media(l) {
      --viewport-height: 256px;
    }

    @include media(xl) {
      --viewport-height: 230px;
    }

    @include media(xxl) {
      --viewport-height: 270px;
    }
  }

  &--low {
    display: var(--display, none);
    --viewport-height: 128px;
    @media (min-width: 1280px) { --display: block }
  }

  &__viewport {
    display: flex;
    position: relative;
    z-index: 0;
    grid-column-gap: var(--slides-gap);
    min-height: var(--viewport-height, 168px);
    max-height: 200px;
  }

  &__slide {
    flex-grow: 0;
    flex-shrink: 0;

    .main-slider--high & {
      width: 304px;

      @include media(xs) {
        width: 344px;
      }

      @include media(md) {
        width: 436px;
      }

      @include media(l) {
        width: 464px;
      }

      @include media(xxl) {
        width: calc(100% / 3.8);
      }
    }


    .main-slider--low & {
      width: 416px;

      @include media(xl) {
        width: 30%;
      }

      @include media(xxl) {
        width: calc(100% / 3.8);
      }
    }
  }

  &__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    position: relative;
    z-index: 1;
  }

  &__bullet {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    --bullet-bg: var(--icon-secondary);

    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--bullet-bg);
    }

    &.is-selected {
      --bullet-bg: var(--gradient-orange-radial);
    }
  }

  &:before, &:after {
    content: '';
    top: -2px;
    bottom: -2px;
    width: var(--shadow-width);
    position: absolute;
    background: linear-gradient(270deg, var(--layer-bg) 0%, rgba(17, 20, 28, 0) 100%);
    z-index: 1;
    box-shadow: 16px 0 0 var(--layer-bg);
  }

  &:before {
    transform: rotate(180deg);
    left: var(--shadow-inset);
  }

  &:after {
    right: var(--shadow-inset);
  }
}
