.panel-mode {
  display: flex;
  background-color: var(--layer-01);
  padding: rem(8px) rem(16px);
  align-items: center;
  grid-column-gap: rem(8px);
  user-select: none;

  .title {
    @include font($body-2);
    color: var(--text-secondary);
  }

  .btn-primary {
    margin-right: auto;
  }
}
