.form-deposit {
  .input-toggle {
    width: 100%;
    height: rem(42px);

    .slider {
      --slider-bg: var(--black-primary);
    }
  }

  .input-text {
    .field {
      text-align: center;
      padding: rem(11px) rem(8px);
      max-width: rem(130px);
      margin-left: auto;
    }
  }

  .row {
    display: flex;
    grid-column-gap: rem(8px);
  }
}
