.tb-bets-history {
  @extend %tb;
  @extend %scrollbar;
  overflow-x: auto;
  overscroll-behavior: auto;

  .row {
    grid-template-columns:
      minmax(rem(152px), 1fr)
      minmax(rem(158px), 1fr)
      minmax(rem(158px), 1fr)
      minmax(rem(100px), 1fr);

    @include media(md) {
      grid-template-columns:
      minmax(rem(278px), 1fr)
      minmax(rem(158px), 1fr)
      minmax(rem(158px), 1fr)
      minmax(rem(100px), 1fr)
    }
  }
}
