:root {
  --shadow-group: 0px 0px 10px rgba(0, 0, 0, 0.2);
  --shadow-layer: 0px 0px 12px rgba(0, 0, 0, 0.16);
  --shadow-modal: 0px 0px 16px rgba(0, 0, 0, 0.24);

  --base-card-glow-gradient: linear-gradient(
      224.62deg,
      rgba(255, 193, 46, 0.24) 26.06%,
      rgba(255, 69, 71, 0.24) 116.69%
  );
  --base-card-info-bg: rgba(50, 6, 71, 0.8);
  --base-card-title: var(--text-primary);
  --base-card-provider-color: var(--violet-100);

  --base-card-btn-color: var(--violet-100);
  --base-card-btn-hover-color: var(--button-text-ghost-hover);
  --base-card-btn-hover-bg: var(--violet-900);

  --card-category-casino-gradient: linear-gradient(-94.47deg, rgba(96, 12, 135, 0) 1.41%, rgba(95, 12, 135, 0.44) 97.61%),
  linear-gradient(240.53deg, rgba(17, 20, 28, 0) 56.15%, rgba(17, 20, 28, 0.24) 87.99%);
  --card-category-betting-gradient: linear-gradient(94.47deg, rgba(230, 164, 9, 0) 1.41%, rgba(230, 164, 9, 0.44) 97.61%),
  linear-gradient(240.53deg, rgba(17, 20, 28, 0) 56.15%, rgba(17, 20, 28, 0.24) 87.99%);


  --alpha-fade-layer-01: rgba(28,33,43,0.88);
  --alpha-game-tumb: rgba(50,6,71,0.8);
  --alpha-modal: rgba(0,0,0,0.88);
  --gradient-tint-dark-b2t-half: linear-gradient(182deg, rgba(28, 33, 43, 0) 44.46%, rgba(28, 33, 43, 0.8) 98.37%);
  --gradient-gray-dark-line: linear-gradient(182deg, #161a22 44.27%, #272d3a 100%);
  --gradient-gray-lite-line: linear-gradient(134deg, #1c212b 0%, #3d4451 100%);
  --gradient-gold-line: linear-gradient(89deg, #ffdc8a 0%, #ffc12e 49.8%, #e6a409 100%);
  --gradient-gold-radial: radial-gradient(66.29% 66.25% at 58.75% 28.13%, #FFC12E 36.46%, #FFDC8A 100%);
  --gradient-orange-radial-focus: radial-gradient(85.04% 85% at 58.75% 28.13%, #F6740A 36.46%, #AE042F 100%);
  --gradient-orange-radial-hover: radial-gradient(85.04% 85% at 58.75% 28.13%, #E6A409 36.46%, #FF124C 100%);
  --gradient-orange-radial: radial-gradient(85.04% 85% at 58.75% 28.13%, #FFC12E 36.46%, #FF4547 100%);
  --gradient-orange-line-focus: linear-gradient(225deg, #f6740a 36.46%, #ae042f 100%);
  --gradient-orange-line-hover: linear-gradient(225deg, #e6a409 36.46%, #ff124c 100%);
  --gradient-orange-line: linear-gradient(225deg, #ffc12e 36.46%, #ff4547 100%);
  --gradient-old: linear-gradient(225deg, #ffc53a 10.44%, #ff124c 93.75%);
  --violet-900: #320647;
  --violet-800: #500972;
  --violet-700: #640b8e;
  --violet-600: #780daa;
  --violet-500: #9210d0;
  --violet-400: #b133ef;
  --violet-300: #cb76f4;
  --violet-200: #e2b3f9;
  --violet-100: #efd5fc;
  --violet-000: #f8ecfe;
  --red-900: #950428;
  --red-800: #ae042f;
  --red-700: #cb0537;
  --red-600: #e5063e;
  --red-500: #ff0d4a;
  --red-400: #fa3a6a;
  --red-300: #ff6f93;
  --red-200: #ffacc1;
  --red-100: #ffdce4;
  --red-000: #ffeef2;
  --orange-900: #a04800;
  --orange-800: #c25700;
  --orange-700: #d16004;
  --orange-600: #e36b09;
  --orange-500: #f6740a;
  --orange-400: #fb8c32;
  --orange-300: #ffb070;
  --orange-200: #ffd1ac;
  --orange-100: #ffebda;
  --orange-000: #fff8f2;
  --yellow-900: #563f0b;
  --yellow-800: #73550f;
  --yellow-700: #b07b00;
  --yellow-600: #e6a409;
  --yellow-500: #ffc12e;
  --yellow-400: #ffd166;
  --yellow-300: #ffdc8a;
  --yellow-200: #ffe7a3;
  --yellow-100: #fff2c7;
  --yellow-000: #fff9e5;
  --green-900: #045618;
  --green-800: #046e1c;
  --green-700: #038322;
  --green-600: #00a828;
  --green-500: #00cf2f;
  --green-400: #00e034;
  --green-300: #6eff91;
  --green-200: #b4ffc6;
  --green-100: #dcffe4;
  --green-000: #f0fff4;
  --blue-900: #05264c;
  --blue-800: #032f62;
  --blue-700: #044289;
  --blue-600: #005fcc;
  --blue-500: #0371ec;
  --blue-400: #2188ff;
  --blue-300: #79b8ff;
  --blue-200: #c8e1ff;
  --blue-100: #dbedff;
  --blue-000: #f1f8ff;
  --black-primary: #11141c;
  --gray-900: #1c212b;
  --gray-850: #222834;
  --gray-800: #282f3e;
  --gray-700: #3d4451;
  --gray-600: #4f5664;
  --gray-500: #656b77;
  --gray-400: #8e949f;
  --gray-300: #c9ccd4;
  --gray-200: #dcdee4;
  --gray-100: #f2f4f8;
  --gray-000: #f5f6f9;
  --white: #ffffff;
  --data-cta-bonus-4: var(--violet-900);
  --data-cta-bonus-3: var(--green-900);
  --data-cta-bonus-2: var(--orange-900);
  --data-cta-bonus-1: var(--red-900);
  --data-banner-betting-bg: var(--violet-700);
  --data-banner-casino-bg: var(--orange-700);
  --side-bar-expand-active: var(--gray-700);
  --side-bar-expand-click: var(--gray-600);
  --side-bar-expand-hover: var(--gray-700);
  --side-bar-link-click: var(--gray-700);
  --side-bar-link-hover: var(--gray-600);
  --button-bg-secondary-disabled: var(--gray-800);
  --button-bg-secondary-click: var(--gray-700);
  --button-bg-secondary-hover: var(--gray-800);
  --button-bg-secondary: var(--gray-800);
  --button-bg-primary-icn-only-click: var(--gradient-orange-radial-focus);
  --button-bg-primary-icn-only-hover: var(--gradient-orange-radial-hover);
  --button-bg-primary-icn-only: var(--gradient-orange-radial);
  --button-bg-primary-disabled: var(--yellow-900);
  --button-bg-primary-click: var(--gradient-orange-line-focus);
  --button-bg-primary-hover: var(--gradient-orange-line-hover);
  --button-bg-primary: var(--gradient-orange-line);
  --icon-disabled: var(--gray-600);
  --icon-inverse: var(--black-primary);
  --icon-contrast: var(--white);
  --icon-tertiary: var(--gray-400);
  --icon-secondary: var(--gray-600);
  --icon-primary: var(--gray-400);
  --text-link-visited: var(--yellow-700);
  --text-inverse: var(--black-primary);
  --text-helper: var(--gray-500);
  --text-tertiary: var(--gray-400);
  --text-secondary: var(--gray-300);
  --text-primary: var(--white);
  --border-cta: var(--gradient-gold-line);
  --border-click: var(--gray-300);
  --border-hover: var(--gray-400);
  --border-03: var(--gray-700);
  --border-02: var(--gray-600);
  --border-01: var(--gray-700);
  --border-00: var(--gray-700);
  --border-00-low-contrast: var(--gray-800);
  --support-brand-high-contrast: var(--yellow-400);
  --support-brand-default: var(--yellow-500);
  --support-brand-low-contrast: var(--yellow-600);
  --support-system-high-contrast: var(--gray-400);
  --support-system-default: var(--gray-400);
  --support-system-low-contrast: var(--gray-700);
  --support-warning-high-contrast: var(--orange-400);
  --support-warning-default: var(--orange-500);
  --support-warning-low-contrast: var(--orange-700);
  --support-success-high-contrast: var(--green-400);
  --support-success-default: var(--green-500);
  --support-success-low-contrast: var(--green-700);
  --support-info-high-contrast: var(--blue-400);
  --support-info-default: var(--blue-500);
  --support-info-low-contrast: var(--blue-600);
  --support-alert-high-contrast: var(--red-300);
  --support-alert-default: var(--red-500);
  --support-alert-low-contrast: var(--red-700);
  --field-02-click: var(--gray-600);
  --field-00-click: var(--gray-700);
  --field-02: var(--gray-700);
  --field-00: var(--gray-800);
  --layer-03-low-contrast: var(--gray-850);
  --layer-03-main: var(--gray-900);
  --layer-02: var(--gray-800);
  --layer-01: var(--gray-900);
  --layer-bg: var(--black-primary);
  --data-banner-fade-gradient: linear-gradient(240.53deg, rgba(17, 20, 28, 0) 56.15%, var(--layer-01) 87.99%);
  --side-bar-link-active: var(--layer-02);
  --side-bar-link: var(--layer-02);
  --button-icn-ghost-disabled: var(--icon-disabled);
  --button-icn-ghost-high-contrast: var(--icon-contrast);
  --button-icn-ghost-low-contrast: var(--icon-tertiary);
  --button-icn-secondary-disabled: var(--icon-disabled);
  --button-icn-secondary: var(--icon-contrast);
  --button-icn-primary-disabled: var(--icon-inverse);
  --button-icn-primary-click: var(--icon-inverse);
  --button-icn-primary-hover: var(--icon-inverse);
  --button-icn-primary: var(--icon-inverse);
  --button-text-ghost-disabled: var(--text-helper);
  --button-text-ghost-high-contrast: var(--text-primary);
  --button-text-ghost-low-contrast: var(--text-tertiary);
  --button-text-secondary-disabled: var(--text-helper);
  --button-text-secondary: var(--text-primary);
  --button-text-primary-disabled: var(--text-inverse);
  --button-text-primary-click: var(--text-inverse);
  --button-text-primary-hover: var(--text-inverse);
  --button-text-primary: var(--text-inverse);
  --button-bg-primary-icn-only-disabled: var(--button-bg-primary-disabled);
  --icon-info: var(--support-info-default);
  --icon-warning: var(--support-warning-default);
  --icon-success: var(--support-success-default);
  --icon-alert: var(--support-alert-default);
  --icon-accent: var(--support-brand-default);
  --text-warning: var(--support-warning-high-contrast);
  --text-success: var(--support-success-high-contrast);
  --text-alert: var(--support-alert-high-contrast);
  --text-link-hover: var(--support-brand-low-contrast);
  --text-link: var(--support-brand-default);
  --text-accent: var(--support-brand-default);
  --border-accent: var(--support-brand-default);
  --border-success: var(--support-success-low-contrast);
  --border-alert: var(--support-alert-low-contrast);
  --field-01-click: var(--field-00-click);
  --field-01: var(--field-00);
  --layer-01-fade-gradient-r2l: linear-gradient(270deg, var(--layer-01) 0%, rgba(28, 33, 43, 0) 100%);
  --layer-01-fade-gradient-l2r: linear-gradient(90deg, var(--layer-01) 0%, rgba(28, 33, 43, 0) 100%);
  --gradient-tint-dark-b2t-whole: linear-gradient(180deg, rgba(28, 33, 43, 0) 0%, var(--layer-01) 100%);
  --side-bar-expand: var(--side-bar-link);
  --button-icn-ghost-click: var(--icon-accent);
  --button-icn-ghost-hover: var(--icon-accent);
  --button-icn-secondary-click: var(--icon-accent);
  --button-icn-secondary-hover: var(--icon-accent);
  --button-text-ghost-click: var(--text-accent);
  --button-text-ghost-hover: var(--text-accent);
  --button-text-secondary-click: var(--text-accent);
  --button-text-secondary-hover: var(--text-accent);
}
