.not-found {
  @include text-page-max;
  display: grid;
  grid-gap: rem(8px);
  justify-content: center;
  margin: 0 auto;

  &.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .img {
    display: block;
    max-width: 100%;
  }

  .title {
    @include font($heading-5);
    color: var(--white);
    text-align: center;

    @include media(l) {
      @include upd-font($heading-7);
    }
  }

  .text {
    @include font($body-2);
    color: var(--gray-500);
    text-align: center;
    max-width: rem(480px);
    justify-self: center;
    margin: 0;

    @include media(l) {}
  }

  .btn-primary {
    justify-self: center;
  }
}
