@use "assets/styles/theme-colors";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-webkit-autofill-strong-password,
input:-webkit-autofill-strong-password-viewable,
input:-webkit-autofill-and-obscured {
  -webkit-text-fill-color: var(--color, var(--text-primary)) !important;
  -webkit-box-shadow: inset 0 0 0 1000px var(--bg, var(--field-01)) !important;
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid var(--text-primary) !important;
  background-color: var(--field-01) !important;
}

@mixin radius($size) {
  border-radius: $size;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:focus-visible,
input,
textarea,
button,
select,
a {
  outline: none;
}

html {
  font-size: $base-font-size;
  scroll-behavior: smooth;
}

html, body {
  overscroll-behavior: none;
}

img:not([src]){ visibility:hidden; }

body {
  margin: 0;
  background-color: var(--layer-bg);
  @extend %scrollbar-hide;
  width: 100%;

  &.nav-user-open {
    --nav-user-visibility: visible;
    --nav-user-translate-x: 0;
    --nav-user-translate-y: 0deg;
    --nav-user-rotate-y: 0;
    --opacity-layer-visibility: visible;
    --header-z-index: 3;
    --close-decor-index: 2;
    --close-btn-visibility: visible;
    --drawer-transition: (transform .2s ease-in);

    @include media(sm) {
      --close-btn-visibility: hidden;
      --drawer-transition: none;
      --opacity-layer-visibility: hidden;
    }
  }

  &.drawer-open {
    --drawer-translate-x: translateX(0);
    --opacity-layer-visibility: visible;
    --drawer-visibility: visible;
  }

  &.nav-currency-open {
    --opacity-layer-visibility: visible;
    --body-overflow: hidden;
    --nav-currency-visibility: visible;
    --nav-currency-translate-y: 0;

    @include media(sm) {
      --opacity-layer-visibility: hidden;
      --body-overflow: auto;
    }
  }

  &.hidden-overflow {
    overflow: hidden !important;
  }
}

.main-layout {
  display: grid;
  grid-template-areas:
    "drawer app-header-root"
    "drawer app-main"
    "drawer app-footer";
  grid-template-columns: var(--body-template-columns, 0 1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  align-items: flex-start;

  @include media(l) {
    grid-template-areas:
    "app-header-root app-header-root"
    "drawer app-main"
    "drawer app-footer";
    --body-template-columns: #{rem(240px)} 1fr;
    --drawer-translate-x: translateX(0);

    &.drawer-minimize {
      --body-template-columns: #{rem(72px)} 1fr;
    }
  }
}

.app-main {
  grid-area: app-main;
  @extend %container;
  padding: var(--main-padding, #{24px} #{16px});
  pointer-events: var(--main-pointer-events, initial);
  position: relative;
  z-index: 0;
  min-height: calc(var(--vh-static)*100 - var(--header-height) - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  overflow: hidden;

  &.is-overflow {
    overflow: hidden;
  }

  &.is-overflow-initial {
    overflow: initial;
  }

  @include media(xs) {
    --main-padding: #{rem(24px)} #{rem(32px)}
  }

  @include media(sm) {
    --main-padding: #{rem(24px)} #{rem(32px)}
  }

  @include media(l) {
    --main-padding: #{rem(24px)} #{rem(48px)}
  }

  .group-games,
  .group-winners,
  .group-promotions,
  .favorite-recently,
  .cards-wrap,
  .group-turbo,
  .group-providers,
  .group-aero {
    margin-bottom: rem(32px);

    @include media(l) {
      margin-bottom: rem(40px);
    }
  }

  &[data-route="games"] {
    overflow: initial;
  }
}

.form {
  display: grid;
  grid-gap: rem(24px);

  .group {
    display: flex;
  }
}

.label {
  .required {
    display: inline-block;
    transform: translate(2px, -2px) scale(0.8);
  }
}

.vfm {
  display: flex;
  justify-content: center;
  animation-name: opacityFadeIn;
  animation-duration: .2s;
}

.vfm__overlay {
  background-color: var(--alpha-modal) !important;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
}

.vfm__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(8px) 0;
  margin: auto;
}

.stop-transition * {
  transition: none !important;
}

.vue-skeletor {
  background-color: var(--layer-01) !important;
}

.vue-skeletor:not(.vue-skeletor--shimmerless):after {
  background-image: linear-gradient(90deg, rgba(#282f3e, 0), rgba(#282f3e, 0.8), rgba(#282f3e, 0)) !important;
  animation-duration: 2s !important;
}

// CLASSES FOR VUE TRANSITIONS ELEMENT
.fade-down {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(100%);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-100%);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: all 0.8s;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }
}

.vue-notification-group {
  @include media(md) {
    top: #{rem(72px)} !important;
    right: #{rem(32px)} !important;
    left: auto !important;
    bottom: auto !important;
  }
}

.card {
  &-move {
    transition: all .4s ease;
  }
}

@keyframes opacityFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
