.is-game-page {
  .app-footer, .nav-game, .panel-mode, .text-wrap {
    display: none;
  }

  .app-main {
    --padding: 0;

    .group-games {
      display: none;
      margin-top: 40px;
      margin-bottom: 0;
    }

    .text-wrap {
      margin-top: 40px;
    }

    @include media(md) {
      --padding: #{rem(24px)} #{rem(32px)};

      .group-games {
        display: grid;
      }
    }
  }

  @include media(md) {
    .app-footer {
      display: grid;
    }

    .app-header {
      display: flex;
    }

    .nav-game {
      display: grid;
    }

    .panel-mode {
      display: flex;
    }

    .text-wrap {
      display: block;
    }
  }
}
