.category {
  display: grid;
  grid-gap: rem(16px);

  .grid, .empty {
    min-height: 40vh;

    @include media(md) {
      min-height: 50vh;
    }
  }
}

.game-filter {
  display: grid;
  grid-template-areas: "dropdown actions" "search search";
  grid-template-columns: 1fr auto;
  grid-column-gap: rem(8px);
  position: relative;
  align-items: center;

  @include media(l) {
    grid-template-areas: "search dropdown filter";
  }

  .icon {
    --icon-size: 20px;
    --color: var(--icon-primary);
  }

  .input-providers {
    grid-area: dropdown;

    width: 100%;

    @include media(l) {
      width: fit-content;
    }
  }

  &__actions {
    grid-area: actions;
    display: flex;
    grid-column-gap: rem(8px);

    @include media(l) {
      display: none;
    }
  }

  &__search {
    grid-area: search;
    margin-top: rem(16px);

    .row {
      flex-grow: 1;
    }

    @include media(l) {
      display: flex !important;
      margin-top: 0;
    }
  }

  &__sort {
    height: rem(40px);
    margin-top: rem(16px);
    z-index: 1;

    @include media(l) {
      display: flex !important;
      height: auto;
      margin-top: 0;
      margin-left: rem(32px);
    }
  }
}
