.category {
  display: grid;
  grid-gap: rem(16px);

  .nav-cat-wrap {
    --margin-top: 0;
    --margin-bottom: 0;
  }
}

.game-filter {
  display: grid;
  grid-template-areas: "dropdown actions" "search search";
  grid-template-columns: 1fr auto;
  grid-column-gap: rem(8px);
  position: relative;
  align-items: center;

  @include media(l) {
    grid-template-areas: "search dropdown filter";
  }

  .icon {
    --icon-size: 20px;
    --color: var(--icon-primary);
  }

  &__dropdown {
    grid-area: dropdown;

    @media (max-width: 1280px) {
      width: 100% !important;
    }

    @include media(l) {
      width: fit-content;
    }

    .items {
      max-width: none;
      left: auto;
      border-radius: 8px;
      right: 0;
      width: auto;

      @media (max-width: 1280px) {
        width: 100% !important;
      }

      @include media(l) {
        width: fit-content;
      }
    }

    .selected {
      grid-template-columns: 1fr auto;
      padding-right: rem(10px);
      min-height: rem(40px);
    }

    .item {
      padding: rem(8px) rem(24px) rem(8px) rem(8px);

      span {
        max-width: none;
        overflow: unset;
      }

      .icon {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        --icon-transform: rotate(0) translatex(0);
      }
    }
  }

  &__actions {
    grid-area: actions;
    display: flex;
    grid-column-gap: rem(8px);

    @include media(l) {
      display: none;
    }
  }

  &__search {
    grid-area: search;
    margin-top: rem(16px);

    .row {
      flex-grow: 1;
    }

    @include media(l) {
      display: flex !important;
      margin-top: 0;
    }
  }

  &__sort {
    height: rem(40px);
    margin-top: rem(16px);
    z-index: 1;

    @include media(l) {
      display: flex !important;
      height: auto;
      margin-top: 0;
      margin-left: rem(32px);
    }
  }
}
