.categories {
  display: grid;
  grid-gap: rem(16px);

  .grid, .empty {
    min-height: 40vh;

    @include media(md) {
      min-height: 50vh;
    }
  }
}

.game-filter {
  display: grid;
  grid-template-areas:
  "actions actions actions"
  "search search toggle"
  "sort sort sort"
  "tags tags tags";

  grid-template-columns: 1fr 1fr auto;
  gap: 8px;

  @include media(sm) {
    grid-template-areas:
    "search actions toggle"
    "sort sort sort"
    "tags tags tags";
  }

  @include media(md) {
    grid-template-areas:
    "search actions sort"
    "tags tags tags";
    grid-template-columns: auto auto 1fr;
  }

  .nav-category {
    grid-area: actions;
    grid-template-columns: unset;
  }

  &__search {
    grid-area: search;

    .icon {
      --color: var(--icon-primary);
    }

    @include media(md) {
      max-width: 240px;
    }
  }

  &__sort {
    grid-area: sort;

    @include media(md) {
      display: flex !important;
      margin-left: auto;
    }
  }

  .btn-toggle-filter {
    grid-area: toggle;

    @include media(md) {
      display: none;
      grid-area: unset;
    }
  }

  .nav-category {
    margin-bottom: 0;
  }

  .btn-categories, .btn-providers, .input-search .field {
    height: 40px;
  }
}
