.payments {
  &-page {
    &__title {
      @include font($heading-7);
      color: var(--text-primary);

      * {
        margin: 0;
        font: inherit;
      }
    }

    &__description {
      color: var(--text-tertiary);
      @include font($body-2-paragraph);
      display: grid;
      gap: 8px;

      @include line-clamp(2);

      * {
        margin: 0;
      }

      @include media(l) {
        @include skip-line-clamp();
      }

      &.is-expanded {
        @include skip-line-clamp();
      }
    }

    &__tabs {
      background-color: var(--layer-02);
      border: 4px solid var(--layer-02);
      border-radius: 12px;
      display: flex;
      margin-bottom: 16px;
      margin-top: 24px;
      align-items: center;

      &-item {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 32px;
        @include font($body-1);
        padding: rem(2px);
        border-radius: 8px;
        background-color: var(--bg, inherit);
        color: var(--color, inherit);
        transition: all .2s ease-in-out;
        grid-column-gap: rem(4px);
        --color: var(--text-secondary);

        &:hover {
          cursor: pointer;
        }

        &.is-active {
          --bg: var(--button-bg-secondary-click);
          --color: var(--text-primary) !important;
        }
      }
    }
  }

  .btn-expand {
    font-family: 'Rubik', sans-serif;
    @include font($heading-1);
    @extend %flex-all-center;
    @extend %skip-btn;
    width: 100%;
    padding: rem(2px) rem(16px);
    margin-top: rem(8px);
    grid-gap: rem(4px);
    cursor: pointer;
    transition: color .2s ease-in-out;

    @include media(l) {
      display: none;
    }

    --color: var(--button-text-ghost-high-contrast);
    --icon-size: 20px;

    .icon {
      --color: var(--button-icn-ghost-high-contrast);
    }

    &:hover {
      --color: var(--button-text-ghost-hover);

      .icon {
        --color: var(--button-icn-ghost-hover);
      }
    }
  }
}
