.promotion {
  @include text-page-max;
  margin: 0 auto;

  hr {
    --margin: 40px 0;
  }

  > .title {
    padding: 0;
    margin: 0 0 8px 0;
    @include font($heading-7);
    color: var(--text-primary);
  }

  > .sub-title {
    padding: 0;
    margin: 0 0 24px 0;
    @include font($body-2-paragraph);
    color: var(--text-tertiary);
  }
}

.steps {
  background: var(--gradient-gray-dark-line);
  border-radius: 16px;
  display: flex;
  position: relative;
  flex-direction: var(--direction, column);
  padding: var(--padding, 24px);
  grid-gap: var(--gap, 16px);

  .title {
    @include font($heading-3);
    color: var(--text-primary);

  }

  @include media(sm) {
    --direction: row;
    --padding: 16px 106px 16px 16px;
    --gap: 8px;
  }

  @include media(md) {
    --padding: 24px 106px 24px 24px;
  }

  .items {
    display: var(--display, grid);
    grid-gap: 8px;

    @include media(sm) {
      --display: flex;
    }
  }

  .title {
    @include font($heading-3);

    @include media(sm) {
      align-self: center;
      padding-right: 8px;
      min-width: 120px;
    }
  }

  .text {
    @include font($body-1);
    color: var(--text-primary);
    margin: 0;
  }

  .item {
    position: relative;
    background-color: var(--layer-02);
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding: 4px 16px;
    border-radius: 8px;
    width: 100%;
  }

  .number {
    display: block;
    @include font($heading-7);
    background: var(--button-bg-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .picture {
    display: block;
    position: var(--position, absolute);
    width: var(--width, 88px);
    height: 100%;
    top: var(--top, 0);
    right: 0;
    transform: var(--transform, translateY(-4px));

    @include media(sm) {
      --top: 50%;
      --transform: translateY(-50%) translateX(-10px);
      --object-position: right;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: var(--object-position, top);
    }
  }
}

.welcome {
  display: grid;

  .title {
    @include font($heading-5);
    color: var(--text-primary);
    margin: var(--margin, 0 0 24px 0);
    position: relative;
    z-index: 1;
  }

  .items {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    position: relative;
    z-index: 1;

    @include media(sm) {
      flex-direction: row;
    }

    .title {
      --margin: 0;
      grid-area: title;
      @include upd-font($heading-3);

      @include media(sm) {
        padding: 0 16px;
      }
    }

    .sub-title {
      grid-area: sub-title;
      @include font($heading-1);
      color: var(--text-accent);
    }
  }

  .item {
    border-radius: 16px;
    padding: var(--padding, 16px);
    display: grid;
    grid-template-areas:
      "img sub-title"
      "img title"
      "img actions";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 8px;
    position: relative;
    width: 100%;

    &:before {
      background: var(--bgc, transparent);
      background-image: var(--gradient-tint-dark-b2t-half);
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: 16px;
    }

    @include media(sm) {
      grid-template-areas:
        "sub-title"
        "img"
        "title"
        "actions";
      --padding: 24px 16px;
      grid-template-columns: 1fr;

      &:last-child {
        .arrow {
          display: none !important;
        }
      }
    }

    &:nth-of-type(1) {
      --bgc: var(--data-cta-bonus-1);
      .arrow {
        display: none;
      }

      @include media(sm) {
        .arrow {
          display: flex;
        }
      }
    }

    &:nth-of-type(2) {
      --bgc: var(--data-cta-bonus-2);
    }

    &:nth-of-type(3) {
      --bgc: var(--data-cta-bonus-3);
    }

    &:nth-of-type(4) {
      --bgc: var(--data-cta-bonus-4);
    }

    .title,
    .sub-title {
      @include media(sm) {
        text-align: center;
      }
    }
  }

  .arrow {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--button-bg-secondary);
    box-shadow: var(--shadow-modal); // project var
    z-index: 2;
    width: 40px;
    height: 40px;
    --color: var(--button-icn-secondary);

    @include media(sm) {
      top: 50%;
      left: auto;
      right: 0;
      transform: translateX(50%) translateY(-50%) rotate(-90deg);
    }
  }

  .picture {
    grid-area: img;
    display: block;
    width: var(--width, 80px);
    height: auto;
    align-self: center;

    @include media(sm) {
      margin: auto;
    }

    @include media(md) {
      --width: 104px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .btn-primary,
  .btn-ghost {
    white-space: nowrap;
    --padding: 11px 24px;

    @include media(sm) {
      --padding: 11px 16px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    grid-area: actions;
    margin-top: var(--margin-top, 8px);
    position: relative;
    z-index: 1;

    .btn-primary {
      @include upd-font($heading-2);
    }

    .btn-ghost {
      @include upd-font($heading-1);
    }

    @include media(sm) {
      flex-direction: column;
      --margin-top: 24px;

      min-height: 77px;

      .btn-primary,
      .btn-ghost {
        --width: 100%;
        max-width: 320px;
      }
    }
  }
}

.bonuses {
  display: grid;

  .title {
    @include font($heading-5);
    color: var(--text-primary);
    margin: var(--margin, 0 0 24px 0);
  }

  .items {
    display: grid;
    grid-gap: 16px;
    overflow: hidden;

    @include media(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    .title {
      @include upd-font($heading-4);
      order: 2;
      --margin: 0;
    }

    .sub-title {
      @include font($heading-1);
      order: 1;
      color: var(--text-accent);
    }
  }

  .item {
    border-radius: 16px;
    background: var(--bg, var(--layer-02));
    padding: 24px 136px 24px 24px;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    position: relative;

    @include media(md) {
      padding: 24px 200px 24px 24px;
      min-height: 232px;
      justify-content: center;
    }
  }

  .picture {
    display: block;
    width: var(--width, 136px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;

    @include media(md) {
      --width: 232px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .btn-primary,
  .btn-ghost {
    white-space: nowrap;
    --padding: 11px 8px;

  }

  .btn-primary {
    @include upd-font($heading-2);

    @include media(xs) {
      --width: 100%;
    }

  }

  .btn-ghost {
    @include upd-font($heading-1);
  }

  .actions {
    display: flex;
    align-items: center;
    margin-top: 8px;
    grid-gap: 8px;
    order: 3;

    @include media(sm) {
      flex-direction: var(--direction, column);
    }

    @include media(md) {
      --direction: row;
    }
  }
}
