.wheel-page {
  .wheel-general {
    margin-bottom: 48px;

    @include media(md) {
      margin-bottom: 72px;
    }
  }

  .terms-expander {
    margin-top: 32px;

    @include media(md) {
      margin-top: 56px;
    }
  }
}