.card-turbo {
  min-width: var(--min-width, #{rem(221px)});
  display: grid;
  grid-template-areas: "img content";
  grid-template-columns: rem(94px) 1fr;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  background-image: linear-gradient(187.95deg, #140D2B 44.73%, #28263B 93.88%);
  padding: 4px;
  margin-right: 16px;
  //border: 8px solid var(--red-400);

  .thumb {
    grid-area: img;
    width: var(--card-width, #{rem(94px)});
    min-height: var(--card-height, #{rem(140px)});
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    background-position: center center;
    background-size: rem(124px);
    margin-top: rem(-11px);
    margin-bottom: rem(-11px);
    filter: drop-shadow(0px 0px 12px rgba(255, 13, 73, 0.24));
    transform: translateX(-3px);
  }

  .content {
    grid-area: content;
    display: grid;
    padding: rem(12px) rem(12px) rem(12px) rem(10px);
    width: rem(130px);
    grid-row-gap: 8px;
    align-content: flex-start;
    grid-template-rows: auto auto 1fr;
  }

  .title {
    @include font($heading-2);
    color: var(--white);
    align-self: flex-start;
  }

  .dl {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: rem(34px) 1fr;
    grid-column-gap: rem(4px);
    align-self: flex-end;

    &__title {
      padding: 0;
      @include font($body-0);
      color: var(--gray-400);
    }

    &__value {
      padding: 0;
      margin: 0;
      @include font($body-0);
      color: var(--gray-400);
    }

    &__sub-title {
      padding: 0;
      @include font($heading-0);
      color: var(--yellow-500);
    }

    &__sub-value {
      padding: 0;
      margin: 0;
      @include font($heading-0);
      color: var(--gray-400);
    }
  }

  .btn-secondary {
    align-self: flex-start;

    &:hover {
      cursor: pointer;
    }
  }

  &:first-of-type {
    .btn-secondary {
      background: var(--gradient-new);
      --color: var(--gray-900)
    }
  }


  @include media(xs) {
    --min-width: #{column(4)};
  }

  @include media(sm) {
    --min-width: #{column(4)};
  }

  @include media(md) {
    --min-width: #{column(4)};
  }

  @include media(l) {
    --min-width: #{column(4)};
  }

  @include media(xl) {
    --min-width: #{column(5)};
  }

  @include media(xxl) {
    --min-width: #{column(6)};
  }
}
