.geo-restricted {
  position: relative;
  width: 100wv;
  height: 100vh;
  background-color: var(--layer-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  &__logo {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);

    @include media(md) {
      top: 44px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    width: 100%;
    background-color: var(--layer-01);
    border: 1px solid var(--border-01);
    border-radius: 24px;
    padding: 24px 24px 32px;

    @include media(md) {
      padding: 32px 48px 48px;
    }
  }

  &__image {
    max-width: 100%;
    max-height: 120px;
    margin-bottom: 16px;

    @include media(md) {
      max-height: 180px;
    }
  }

  &__title {
    color: var(--text-primary);
    @include font($heading-5);
    margin: 0;
    text-align: center;
  }

  &__description {
    margin-top: 4px;
    @include font($body-1);
    color: var(--text-tertiary);
    text-align: center;

    @include media(md) {
      @include upd-font($body-2);
    }

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: var(--text-link);
    }
  }

  &__geo {
    display: flex;
    align-items: center;
    grid-column-gap: 4px;
    padding: 8px 16px;
    background-color: var(--layer-02);
    border-radius: 8px;
    margin-top: 20px;

    &-flag {
      height: 16px;
      border-radius: 4px;
    }

    &-country {
      @include font($subheading-1);
      color: var(--text-primary);
    }

    &-ip {
      @include font($body-1);
      color: var(--text-secondary);
    }
  }
}
