.group-favorites {
  display: grid;
  align-items: center;
  grid-template-areas:
    "icon heading heading arrows"
    "items items items items"
    "btn-show-all btn-show-all btn-show-all btn-show-all";
  grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto) minmax(0, auto);
  grid-column-gap: var(--column-gap, 8px);

  @include media(xs) {
    grid-template-areas:
    "icon heading heading arrows"
    "items items items items"
    "btn-show-all btn-show-all btn-show-all btn-show-all";
  }

  @include media(sm) {
    > .icon, > .title {
      display: block;
      @include upd-font($heading-2);
    }

    grid-template-areas:
    "icon heading btn-show-all arrows"
    "items items items items";
  }

  > [data-icon] {
    font-size: rem(20px);
    grid-area: icon;
  }

  > .icon {
    display: none;
    grid-area: icon;
    --icon-size: 20px;
    --color: var(--gray-400);

    @include media(sm) {
      display: initial;
    }
  }

  .btn-show-all {
    grid-area: btn-show-all;
    @include font($heading-1);
    transform: translateX(8px);
    margin-top: 4px;
    --padding: 4px 16px;

    --font-size: #{rem(12px)};
    --color: var(--gray-500);
    --width: 100%;

    @include media(sm) {
      margin-top: 0;
      background: none;

      &:hover {
        --color: var(--white);
      }
    }
  }

  > .title {
    display: none;
    flex-grow: 1;
    grid-area: heading;
    @include font($heading-4);
    color: var(--white);
    margin: 0;

    @include media(sm) {
      display: initial;
    }
  }

  > .items {
    grid-area: items;
    display: var(--display, flex);
    align-items: flex-start;

    @include media(sm) {
      margin-top: 16px;
    }
  }
}
