.group-turbo {
  display: grid;
  align-items: center;
  grid-template-areas:
    "icon heading heading arrows"
    "items items items items"
    "btn-show-all btn-show-all btn-show-all btn-show-all";
  grid-template-columns: minmax(0, auto) minmax(0, 1fr) minmax(0, auto) minmax(0, auto);
  grid-column-gap: var(--column-gap, #{rem(8px)});
  grid-row-gap: var(--row-gap, #{rem(16px)});
  position: relative;
  background-color: var(--layer-01);
  padding: rem(16px);
  border-radius: rem(16px);

  @include media(xs) {
    grid-template-areas:
    "icon heading btn-show-all arrows"
    "items items items items";
    padding: rem(16px) rem(16px) rem(24px);
  }

  @include media(sm) {
    padding: rem(16px) rem(24px) rem(16px);
  }

  @include media(md) {
    @include scroll-overlay;
    padding: rem(24px);
  }

  > [data-icon] {
    font-size: rem(20px);
    grid-area: icon;
  }

  > .icon {
    grid-area: icon;

    --icon-size: #{rem(20px)};
    --color: var(--icon-primary);
  }

  .btn-show-all {
    @include font($heading-1);
    grid-area: btn-show-all;

    --color: var(--button-text-ghost-high-contrast);
    --width: 100%;

    @include media(xs) {
      padding: 0;
      background: none;

      &:hover {
        --color: var(--button-bg-secondary-hover);
      }
    }

    @include media(sm) {
      @include upd-font($heading-2);

      &:hover {
        --color: var(--button-bg-ghost-hover);
        --bg: transparent;
      }
    }
  }

  .arrows {
    grid-area: arrows;
    margin-left: rem(16px);

    @include media(sm) {
      margin-left: rem(24px);
    }
  }

  > .title {
    @include font($heading-4);
    grid-area: heading;
    color: var(--text-primary);
    flex-grow: 1;
    margin: 0;
  }

  .items {
    grid-area: items;
    display: var(--display, flex);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: rem(36px) rem(32px) 0 rem(32px);
    margin: 0 rem(-32px) 0;
    scroll-padding: rem(32px);
    grid-column-gap: rem(8px);

    @include media(sm) {
      margin: 0;
      padding: rem(36px) 0 rem(32px);
      scroll-padding: 0;
      grid-column-gap: rem(16px);
    }

    @include media(md) {
      padding: rem(36px) 0 0;
      margin: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
