.loyalty-banner {
  background: linear-gradient(180deg,
          var(--banner-color-top, rgba(73, 15, 119, 0.7)) 0%,
          var(--banner-color-bottom, rgba(0, 0, 0, 0)) 100%);
  margin: -24px -16px 0;

  @include media(xs) {
    margin: -24px -32px 0;
  }

  @include media(md) {
    margin: -24px -48px 0;
  }

  &__container {
    max-width: 1376px;
    position: relative;
    margin: 0 auto;
    padding: 48px 16px 56px 16px;

    @include media(xs) {
      padding: 48px 32px 56px 32px;
    }

    @include media(md) {
      padding: 48px 48px 72px;
    }
  }

  &__content {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    grid-column-gap: 20px;
    position: relative;
    z-index: 1;

    @include media(xs) {
      max-width: 480px;
    }

    > .btn-primary {
      margin-top: 24px;
      --padding: 12px 32px;
      --width: 100%;

      @include media(xs) {
        --width: fit-content;
        --padding: 12px 50px;
      }
    }
  }

  &__picture {
    position: absolute;
    top: -30px;
    bottom: 0;
    right: 0;
    width: 50%;
    transform: translateX(40%);

    @include media(md) {
      transform: translateX(0%);
      width: 37%;
      right: 72px;
      bottom: 72px;
    }

    img {
      max-height: 100%;
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: right top;

      @include media(md) {
        object-position: center;
      }
    }
  }

  &__title, &__sub-title, &__description {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);

    > * {
      margin: 0;
      font-size: inherit;
    }
  }

  &__title {
    @include font($heading-7);
    color: var(--text-primary);
    padding-right: 90px;
    --line-height: auto;

    @include media(md) {
      padding-right: 0;
      @include upd-font($heading-8);
    }
  }

  &__sub-title {
    @include font($heading-uppercase-3);
    margin-top: 8px;
    color: var(--text-accent);

    @include media(md) {
      margin-top: 4px;
    }
  }

  &__description {
    @include font($body-3);
    color: var(--text-tertiary);
    margin-top: 20px;
    padding-right: 10%;

    @include media(md) {
      margin-top: 24px;
      padding-right: 0;
    }
  }

  &__loyalty {
    margin-top: 32px;
    padding: 16px;
    background: var(--layer-01);
    box-shadow: var(--shadow-group);
    border-radius: 16px;

    @include media(sm) {
      padding: 24px;
    }

    &-level {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 16px;
      grid-template-areas:
        "avatar nickname"
        "avatar progress";
    }

    .loyalty-avatar {
      grid-area: avatar;
      --avatar-img-size: 80px;
      --level-img-size: 32px;
    }

    &-nickname {
      grid-area: nickname;
      @include font($heading-3);
      color: var(--text-primary);
      margin-bottom: 6px;
      align-self: flex-end;
    }

    .loyalty-progress {
      grid-area: progress;
      align-self: flex-start;
    }

    .btn-primary {
      width: 100%;
    }
  }
}
