.loyalty-benefits-grid {
  margin: 40px auto 0;

  &__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--gradient-gold-radial);

    &.is-numeric {
      counter-reset: item;
    }

    @include media(md) {
      gap: 16px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      background: var(--layer-01);
      border-radius: 16px;
    }
  }
}
