.loyalty-info {
  display: grid;
  padding: 16px;
  border-radius: 16px;
  background: var(--layer-01);
  grid-column-gap: 12px;
  grid-template-areas: "avatar nickname" "avatar progress" "actions actions";
  grid-template-columns: auto 1fr;
  position: relative;
  grid-column: 1/3;
  margin-top: 32px;
  box-shadow: var(--shadow-group);

  @include media(md) {
    padding: 20px 24px 24px 24px;
  }

  &__avatar {
    grid-area: avatar;
    --avatar-size: 80px;
  }

  &__nickname {
    grid-area: nickname;
    color: var(--text-primary);
    @include font($heading-3);
  }

  &__progress {
    grid-area: progress;
  }

  .loyalty-progress-display {
    margin-top: 0;
    padding: 0;
    box-shadow: none;
  }

  .loyalty-progress-display__images {
    position: absolute;
    left: 62px;
    top: 60px;
    --face-bg-size: 40px;
    --back-bg-size: 40px;

    @include media(md) {
      left: 68px;
      top: 66px;
    }
  }

  .loyalty-progress-display__images-back-bg {
    display: none;
  }

  .avatar-logo {
    border-width: 4px;
  }

  &__actions {
    grid-area: actions;
  }

  hr {
    width: 100%;
    --margin: 16px 0;
  }

  .loyalty-progress-display__levels-points-prev-label {
    display: block;
  }

  .btn-primary {
    --width: 100%;
    --btn-border-radius: 12px;
    @include font($heading-2);
  }
}
