.loyalty-progress-display {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 12px 16px;
  border-radius: 16px;
  background: var(--layer-01);
  box-shadow: var(--shadow-group);
  margin-top: 24px;
  width: 100%;

  &.is-user-nav {
    padding: 0;
    margin-top: 0;
  }

  &.is-sidebar {
    margin-top: 8px;
    border-radius: 8px;
    --progress-height: 8px;
    --progress-radius: 2px;
    --progress-margin-top: 8px;
  }

  &.is-user-nav {
    background: none;
    box-shadow: none;
    --progress-height: 8px;
    --progress-radius: 2px;
  }

  &__container {
    flex-grow: 1;
  }

  &__prev {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;

    &-label {
      color: var(--text-primary);
      @include font($subheading-1);
      margin-right: 2px;
      display: none;

      .is-sidebar & {
        display: block;
      }
    }

    &-value {
      color: var(--text-primary);
      @include font($subheading-0);
      --line-height: auto;
    }

    &-icon {
      width: 12px;
      height: 12px;
    }
  }

  &__next {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;

    .is-sidebar & {
      display: none;
    }

    &-label {
      color: var(--text-secondary);
      @include font($body-0);
      margin-right: 2px;
      --line-height: auto;
    }

    &-value {
      color: var(--text-tertiary);
      @include font($subheading-0);
      --line-height: auto;
    }

    &-icon {
      width: 12px;
      height: 12px;
    }
  }

  &__points {
    display: flex;
    align-items: center;
    gap: 2px;

    &-prev {
      color: var(--text-primary);
      @include font($heading-0);
      display: flex;
      align-items: center;
      gap: 2px;
      --line-height: auto;

      .is-sidebar & {
        color: var(--text-accent);
      }

      &-label {
        .is-user-nav & {
          display: none;
        }
      }
    }

    &-divider {
      @include font($heading-0);
      color: var(--text-tertiary);
      --line-height: auto;
    }

    &-next {
      color: var(--text-tertiary);
      @include font($heading-0);
      display: flex;
      align-items: center;
      gap: 2px;
      --line-height: auto;
    }

    &-info {
      --color: var(--icon-secondary);
      --icon-size: 14px;
      cursor: pointer;

      &:hover {
        --color: var(--icon-accent);
      }
    }
  }
}