.loyalty-rewards {
  margin: 60px auto;

  &__title {
    @include font($heading-6);
    color: var(--text-primary);
    text-align: center;

    > * {
      margin: 0;
    }
  }

  &__description {
    @include font($body-2);
    color: var(--text-tertiary);
    text-align: center;

    > * {
      margin: 0;
    }
  }
}
