.vue-notification-wrapper {
  overflow: unset !important;
}

.alert {
  margin-top: 12px;
  background-color: var(--layer-01);
  padding: rem(16px);
  display: flex;
  grid-column-gap: rem(8px);
  box-shadow: var(--shadow-layer);
  border-radius: 8px;
  align-items: center;

  .title {
    @include font($heading-2);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
  }

  .content {
    flex-grow: 1;
  }

  .text {
    @include font($body-1);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
  }

  .btn-alert-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(24px);
    height: rem(24px);
    @extend %skip-btn;
    padding: 0;
    align-self: flex-start;

    .icon {
      --icon-size: 22px;
      --color: var(--button-icn-ghost-low-contrast);
    }

    &:hover {
      cursor: pointer;

      .icon {
        --color: var(--button-icn-ghost-hover);
      }
    }
  }

  &.variant-info {
    > .icon {
      --color: var(--icon-primary);
    }
  }

  &.variant-error {
    > .icon {
      --color: var(--icon-alert);
    }
  }

  &.variant-done {
    > .icon {
      --color: var(--icon-success);
    }
  }

  &.variant-warning,
  &.variant-pending {
    > .icon {
      --color: var(--icon-warning);
    }
  }
}
