.avatar {
  padding: var(--padding, 0);
  position: relative;
  background-color: var(--bg, var(--layer-01));
  @extend %flex-column;
  transition: box-shadow .2s ease-in-out;
  text-decoration: none;
  align-items: center;
  width: var(--width, auto);
  user-select: none;
  border: 0;
  border-radius: 12px;

  .close-decor {
    position: absolute;
    z-index: var(--close-decor-index, 1);
    background-color: var(--button-bg-secondary-click);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    --color: var(--button-icn-ghost-click);
    cursor: pointer;
    visibility: var(--close-btn-visibility, hidden);

    .icon {
      transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
    }
  }

  .thumb {
    position: relative;
    border-radius: 12px;
    @include box(40px);
    display: block;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      bottom: 0;
      display: flex;
      @include box(24px);
      color: var(--color, var(--icon-secondary));
      transition: color .2s ease-in-out;
      z-index: 0;
    }

    --icon-size: #{rem(18px)};

    @include use-hover {
      &:hover {
        cursor: pointer;

        .icon {
          --color: var(--icon-accent);
        }
      }
    }
  }

  .img {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .bulb {
    position: absolute;
    right: 0;
    bottom: rem(-2px);
    z-index: 3;
  }

  > .label {
    @extend %flex-column;
    @include radius(8px);
    @include font($body-0);
    align-items: center;
    padding: 0 rem(8px);
    white-space: nowrap;
    background-color: var(--yellow-500);
    color: var(--text-primary);
    position: relative;
    z-index: 1;
    margin-top: rem(-12px);
  }

  .nickname {
    @include font($heading-2);
    color: var(--color, var(--text-secondary));
  }
}
