.bet-status {
  display: flex;
  align-items: center;
  grid-column-gap: rem(8px);
  @include font($body-0);
  color: var(--text-primary);

  &:before {
    content: '';
    min-width: rem(6px);
    min-height: rem(6px);
    border-radius: 4px;
    background-color: var(--dot-bg, transparent);
    align-self: center;
  }

  &.variant-1,
  &.variant-4,
  &.variant-5 {
    --dot-bg: var(--icon-accent);
  }

  &.variant-2 {
    --dot-bg: var(--icon-success);
  }

  &.variant-3 {
    --dot-bg: var(--icon-alert);
  }
}
