.cat-heading {
  display: flex;
  align-items: center;
  @include font($heading-4);
  color: var(--text-primary);
  grid-column-gap: rem(8px);
  padding-top: rem(8px);
  padding-left: rem(16px);

  @include media(md) {
    padding-left: 24px;
  }

  .icon {
    --color: var(--icon-primary);
  }
}
