.cat-heading {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  grid-column-gap: 8px;
  padding-top: 8px;
  @include font($heading-4);

  .icon {
    --color: var(--icon-primary);
  }
}
