.detail {
  background-color: var(--layer-01);
  border-radius: 16px;
  color: var(--text-tertiary);
  padding: rem(16px) rem(24px);

  .header {
    display: flex;
    align-items: center;
    grid-gap: rem(8px);
    cursor: pointer;

    .icon {
      @include box(24px);
      border-radius: 8px;
      background-color: var(--bg, transparent);
    }
  }

  .title {
    flex-grow: 1;
    color: var(--color, var(--text-accent));
    @include font($heading-3);
    transition: color 0.2s ease-in-out;
  }

  .detail-content {
    padding: 0;
    height: var(--items-height, 0);
    overflow: hidden;
    transition: height 0.2s ease-in-out;
  }

  &.is-open {
    .title {
      --color: var(--text-accent);
    }

    .icon {
      --bg: var(--side-bar-expand-active);
      --color: var(--button-icn-ghost-click);
      --transform: rotate(-180deg);
    }

    .detail-content {
      max-height: 100%;
    }
  }

  .icon {
    transform: var(--transform, rotate(0deg));
    transition: all 0.2s ease-in-out;
    --color: var(--button-icn-ghost-low-contrast);
  }

  ol {
    @include font($body-2-paragraph);
    padding: 0;

    li {
      margin: rem(12px) 0;
    }
  }

  ul {
    @include font($body-2-paragraph);
    margin: 0;
    padding: 0 0 0 rem(20px);
    list-style: disc inside;

    li {
      margin: rem(12px) 0;
    }
  }
}
