hr {
  display: block;
  height: 1px;
  background-color: var(--bg, var(--border-02-low-contrast));
  margin: var(--margin, 24px 0);
  border: 0;

  .app-footer & {
    --margin: 24px 0;
  }

  .drawer & {
    --margin:  16px 0;
  }
}
