.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-bottom, #{rem(40px)});

  .title {
    @include font($heading-4);
    color: var(--color, var(--text-helper));
    margin-bottom: var(--margin-bottom, #{rem(8px)});
  }

  .sub-title {
    @include font($body-2);
    color: var(--color, var(--text-helper));

    p {
      margin: 0;
    }
  }

  .icon {
    width: var(--icon-width);
    height: var(--icon-height);
    display: block;
    margin-bottom: var(--margin-bottom, #{rem(16px)});
  }

  &__image {
    display: block;
    width: rem(267px);
    height: auto;
    margin: 0 auto;
  }

  &.variant-bonuses {
    --icon-width: #{rem(240px)};
    --icon-height: #{rem(240px)};
  }

  &.variant-notification {
    --icon-width: #{rem(212px)};
    --icon-height: #{rem(284px)};
  }

  &.variant-bets-history {
    --icon-width: #{rem(240px)};
    --icon-height: #{rem(260px)};
  }

  &.variant-transactions {
    --icon-width: #{rem(240px)};
    --icon-height: #{rem(260px)};
  }

  &.variant-search {
    --icon-width: #{rem(240px)};
    --icon-height: #{rem(240px)};
  }
}
