.fiat-display {
  position: relative;
  align-items: center;
  z-index: 1;
  column-gap: rem(4px);

  display: grid;
  grid-template: "logo currency" "logo amount";

  @include media(l) {
    display: flex;
  }

  &.is-show-fiat-tooltip {
    --fiat-tooltip-opacity: 1;
    --fiat-tooltip-events: initial;

    .icon-expand {
      --icon-transform: rotate(-180deg);
      --color: var(--white);
    }
  }

  &__logo {
    display: block;
    @include box(20px);
    grid-area: logo;
  }

  &__amount {
    color: var(--white);
    grid-area: amount;
    @include font($heading-1);

    @include media(l) {
      @include upd-font($heading-2);
    }
  }

  &__currency {
    color: var(--gray-500);
    grid-area: currency;
    @include font($heading-1);

    @include media(l) {
      @include upd-font($heading-2);
    }
  }

  &__tooltip {
    background-color: var(--layer-01);
    display: none;
    align-items: center;
    position: absolute;
    column-gap: 4px;
    padding: 0 16px;
    height: rem(40px);
    width: fit-content;
    transform: translateX(-50%);
    top: rem(34px);
    left: 50%;
    border-radius: 12px;
    opacity: var(--fiat-tooltip-opacity, 0);
    pointer-events: var(--fiat-tooltip-events, none);
    transition: all .4s ease-in-out;

    @include media(l) {
      display: flex;
    }
  }
}