.fiat-toggler {
  display: flex;
  align-items: center;
  padding-top: rem(16px);
  border-top: 1px solid var(--border-00);
  margin-top: rem(8px);

  &__label {
    @include font($heading-1);
    @extend %text-elipsis;
    color: var(--text-primary);
    flex-grow: 1;
  }

  &__selected {
    height: rem(24px);
    display: flex;
    align-items: center;
    column-gap: rem(4px);
    padding: 0 rem(8px);
    background-color: var(--layer-02);
    border-radius: 8px;
    margin-right: rem(4px);

    &-logo {
      display: block;
      @include box(16px);

    }

    &-currency {
      @include font($heading-1);
      color: var(--text-accent);
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
