.file {
  min-height: rem(32px);
  padding-bottom: rem(8px);

  &__rm-btn {
    @extend %skip-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: color .2s ease-in-out;

    &:hover {
      cursor: pointer;

      .icon {
        --color: var(--button-icn-ghost-hover);
      }
    }

    .icon {
      --color: var(--button-icn-ghost-high-contrast);
    }
  }

  &__status-icon {
    --icon-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.status-pending .icon {
      --color: var(--icon-accent);
    }

    &.status-approve .icon {
      --color: var(--icon-success);
    }

    &.status-canceled .icon {
      --color: var(--icon-alert);
    }
  }

  &__name {
    @include font($body-1);
    color: var(--name-color, var(--text-primary));
    transition: color .4s ease-in-out;
    flex-grow: 1;
    max-width: calc(100% - 65px);
    margin-right: auto;
    word-break: break-word;

    .is-loading & {
      --name-color: var(--text-primary)
    }
  }

  &__progress {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: rem(4px);
    position: relative;
    width: 100%;
  }

  &__error {
    @include font($body-1);
    color: var(--text-alert);
    width: 100%;
  }
}
