.game-sort {
  display: flex;
  align-items: center;
  grid-column-gap: rem(4px);

  .label {
    @include font($body-1);
    color: var(--text-helper);
    margin-right: rem(4px);
  }

  button {
    @extend %skip-btn;
    padding: rem(4px) rem(8px);
    border-radius: 8px;
    color: var(--color, var(--text-secondary));
    transition: all .2s ease-in-out;
    cursor: pointer;
    @include font($body-1);

    @include use-hover {
      &:hover:not(.is-selected) {
        --bg: var(--button-bg-secondary-click);
        --color: var(--text-accent);
      }
    }

    &.is-selected {
      --color: var(--text-accent);
    }
  }
}
