.geo-info {
  display: flex;
  align-items: center;
  grid-column-gap: 4px;
  padding: 8px 16px;
  background-color: var(--layer-02);
  border-radius: 8px;
  margin-top: 20px;

  &__flag {
    height: 16px;
    border-radius: 4px;
  }

  &__country {
    @include font($subheading-1);
    color: var(--text-primary);
  }

  &__ip {
    @include font($body-1);
    color: var(--text-secondary);
  }
}