.gift-notification {
  display: var(--display, none);
  @include box(40px);
  @extend %skip-btn;
  background-color: var(--bgc, transparent);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:after {
    display: block;
    content: '';
    @include box(12px);
    position: absolute;
    background-color: var(--bulb-color, transparent);
    border: 2px solid var(--bulb-border-color, transparent);
    right: 8px;
    top: 8px;
    border-radius: 50%;
  }

  &[data-display="mobile"] {
    --display: flex;

    @include media(l) {
      --display: none;
    }
  }

  &[data-display="desktop"] {
    @include media(l) {
      --display: flex;
    }
  }

  .icon {
    --color: var(--button-icn-ghost-low-contrast);
    --icon-size: 22px;
  }

  &.is-active {
    --bgc: transparent;

    --bulb-color: var(--support-success-default);
    --bulb-border-color: var(--button-bg-secondary-hover);

    &:hover {
      --bgc: var(--button-bg-secondary-hover);
    }

    .icon {
      --color: var(--button-icn-ghost-high-contrast);
    }
  }

  @include use-hover {
    &:hover {
      --bgc: var(--button-bg-secondary-hover);

      .icon {
        --color: var(--button-icn-ghost-hover);
      }
    }
  }

  &:active {
    --bgc: var(--button-bg-secondary-click);
  }

}
