.hint {
  @include font($body-1);
  display: flex;
  align-items: center;
  grid-column-gap: rem(4px);
  color: var(--color, var(--text-tertiary));

  &.variant-error {
    --color: var(--icon-alert);
  }

  &.variant-success, &.variant-verified {
    --color: var(--icon-success);
  }

  &.variant-unverified {
    --color: var(--icon-warning);
  }

  &.variant-verified {
    --color: var(--icon-success);
  }
}
