.invoice-status {
  color: var(--color, var(--icon-success));
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column-gap: rem(4px);
  @include font($body-2);

  > .icon {
    --color: var(--icon-success);
    --icon-size: #{rem(20px)};
    min-width: #{rem(20px)};
  }

  &--variant-1,
  &--variant-4 {
    --color: var(--text-primary);

    > .icon {
      --color: var(--yellow-500);
    }
  }

  &--variant-2 {
    --color: var(--text-primary);

    > .icon {
      --color: var(--icon-success);
    }
  }

  &--variant-3 {
    --color: var(--text-primary);

    > .icon {
      --color: var(--icon-alert);
    }
  }

  &--variant-5 {
    --color: var(--text-primary);

    > .icon {
      --color: var(--support-info-default);
    }
  }
}
