.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .page, .prev, .next, .total {
    @extend %skip-btn;
    min-width: var(--min-width, rem(32px));
    height: var(--height, rem(32px));
    border-radius: 8px;
    background-color: var(--bg, transparent);
    display: flex;
    align-items: center;
    justify-content: center;

    @include use-hover {
      &:hover {
        cursor: pointer;
        --bg: var(--button-bg-secondary-hover);
        --color: var(--text-accent);
      }
    }
  }

  .dots {
    @include font($heading-1);
    @extend %skip-btn;
    padding: rem(8px) rem(11px);
    height: var(--height, rem(32px));
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none !important;
    color: var(--text-tertiary);
  }

  .total {
    @extend %skip-btn;
    @include font($heading-1);
    padding: rem(8px);
    --min-width: auto;
  }

  .page {
    @include font($heading-1);
    color: var(--color, var(--text-primary));

    &.is-selected {
      --bg: var(--button-bg-secondary-hover);
      --color: var(--text-accent);
    }
  }

  .icon {
    --color: var(--icon-contrast);
  }

  .prev, .next {
    --color: var(--icon-contrast);

    &[disabled] {
      pointer-events: none;

      .icon {
        --color: var(--icon-secondary);
      }
    }

    &:active {
      --bg: var(--button-bg-secondary-hover);

      .icon {
        --color: var(--text-accent);
      }
    }
  }
}
