.promo {
  padding: var(--padding, #{rem(8px)});
  text-align: center;
  display: grid;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-area: promo;
  background-image: url(/img/promo-sm.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  user-select: none;

  @include media(md) {
    background-image: url(/img/promo-lg.png);
    --padding: #{rem(88px)} #{rem(32px)} #{rem(38px)} #{rem(32px)};
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column-gap: rem(4px);
    position: relative;

    @include media(md) {
      align-self: start;
    }
  }

  .title {
    @include font($heading-4);
    width: 100%;
    color: var(--text-primary);
  }

  .sub-title {
    @include font($heading-6);
    display: flex;
    flex-wrap: wrap;
    grid-gap: rem(4px);
    color: var(--color, var(--text-accent));
    justify-content: center;
    align-items: center;

    &:first-of-type {
      @include media(md) {
        width: 100%;
        @include upd-font($heading-9);
      }
    }

    &:last-of-type {
      @include upd-font($heading-4);
      --color: var(--text-primary);

      @include media(md) {
        width: 100%;
        @include upd-font($heading-6);
      }
    }
  }

  .icon {
    --color: var(--icon-accent);
  }

  .items {
    display: var(--display, none);
    grid-gap: rem(8px);
    position: relative;

    @include media(md) {
      align-self: end;
      --display: grid;
    }
  }

  .item {
    background-color: var(--layer-01);
    padding: rem(8px) rem(16px);
    display: flex;
    align-items: center;
    grid-gap: rem(8px);
    border-radius: 8px;
    justify-self: center;
    color: var(--text-primary);
  }
}
