.row-user-agent {
  color: var(--color, var(--white));
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-column-gap: rem(4px);
  @include font($body-2);

  .tooltip {
    margin-left: auto;
  }
}