.row-status {
  color: var(--color, var(--icon-success));
  display: flex;
  align-items: center;
  grid-column-gap: rem(4px);
  @include font($body-2);

  > .icon {
    --color: var(--icon-success);
    --icon-size: #{rem(15px)};
    min-width: #{rem(15px)};
  }

  &.is-current, &.is-active {
    --color: var(--icon-success);

    > .icon {
      --color: var(--icon-success);
    }
  }

  &.is-closed {
    --color: var(--icon-primary);

    > .icon {
      --color: var(--icon-primary);
    }
  }

  &.is-pending,
  &.is-processing {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-start;

    --color: var(--text-primary);

    > .icon {
      --color: var(--yellow-500);
    }
  }

  &.is-success {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-start;
    --color: var(--text-primary);

    > .icon {
      --color: var(--icon-success);
    }
  }

  &.is-unfinished,
  &.is-review {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-start;
    --color: var(--text-primary);

    > .icon {
      --color: var(--support-warning-default);
    }
  }

  &.is-failed, &.is-canceled, &.is-rejected {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-start;
    --color: var(--text-primary);

    > .icon {
      --color: var(--icon-alert);
    }
  }
}
