.select-lang {
  position: relative;
  margin-bottom: rem(4px);

  .selected, .item {
    display: flex;
    align-items: center;
    grid-column-gap: rem(8px);
    text-decoration: none;
    @include font($body-2);
  }

  .selected {
    background-color: var(--bg, var(--layer-03-low-contrast));
    transition: background-color .2s ease-in-out;
    color: var(--text-primary);
    border: 1px solid var(--selected-border-color, transparent);
    border-radius: 12px;
    cursor: pointer;
    padding: rem(8px) rem(8px) rem(8px) rem(16px);

    .is-compact & {
      @include media(l) {
        padding-left: rem(8px);
      }
    }

    .icon {
      transform: var(--rotate, rotate(0deg));
      transition: all .2s ease-in-out;
      --color: var(--icon-primary);
    }

    &:hover {
      --selected-border-color: var(--border-hover);
      --bg: var(--field-00);
      --color: var(--text-primary);

      .icon {
        --color: var(--icon-primary);
      }
    }
  }

  &.is-open {
    .selected {
      --bg: var(--field-00-click);
      --rotate: rotate(180deg);
      --selected-border-color: var(--border-click);
    }

    --items-visibility: visible;
    --items-opacity: 1;
  }

  .item {
    color: var(--color, var(--text-primary));
    background-color: var(--bg, transparent);
    cursor: pointer;
    padding: rem(8px) 0 rem(8px) rem(8px);
    border-radius: 4px;

    .icon {
      --color: transparent;
    }

    &.is-selected {
      .icon {
        --color: var(--icon-contrast);
      }
    }

    @include use-hover {
      &:hover {
        &:not(.is-selected) {
          --bg: var(--button-bg-secondary-click);

          .title {
            --color: var(--text-primary);
          }
        }
      }
    }
  }

  .items {
    position: absolute;
    background-color: var(--layer-01);
    box-shadow: var(--shadow-group);
    border-radius: 8px;
    visibility: var(--items-visibility, hidden);
    opacity: var(--items-opacity, 0);
    transition: all .2s ease-in-out;
    min-width: rem(40px);
    padding: var(--padding, #{rem(8px)});
    top: var(--top, #{rem(44px)});
    right: 0;
    left: 0;

    .is-compact & {
      @include media(l) {
        z-index: 1;
        --padding: 0;
      }
    }

    .title {
      --color: var(--text-primary);
    }
  }

  .title {
    color: var(--color, var(--text-secondary));
    @include font($body-1);
    flex-grow: 1;
    transition: color .2s ease-in-out;
    visibility: var(--title-visibility, visible);

    .is-compact & {
      @include media(l) {
        --title-visibility: hidden;
      }
    }
  }

  .img {
    display: block;
    width: rem(24px);
    height: rem(20px);
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 4px;
  }
}
