.text-wrap {
  color: var(--text-helper);
  margin-bottom: -24px;

  h1, h2 {
    @include font($heading-4);
  }

  h3, h4, h5, h6 {
    @include font($heading-2);
  }

  p {
    @include font($body-1-paragraph);
    margin: 0;
  }

  a {
    color: var(--text-helper);
    text-decoration: underline;
  }
}
