.card-benefit {
  text-decoration: none;
  padding: rem(24px) rem(16px);
  background-color: var(--gray-800);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  display: grid;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: flex-start;

  .icon {
    width: var(--width, #{rem(48px)});
    height: var(--height, #{rem(48px)});
    display: block;
    justify-self: center;

    @include media(l) {
      --width: #{rem(88px)};
      --height: #{rem(88px)};
    }
  }

  .title {
    @include font($heading-3);
    color: var(--white);
    text-align: center;
  }
}
