.list-currencies {
  display: var(--display, none);
  min-width: rem(200px);
  max-height: rem(360px);
  padding: rem(16px);
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  background-color: var(--gray-800);
  z-index: var(--z-index, 3);
  transform: translateX(-50%) translateY(44px);
  transition: all .2s ease-in-out;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.24);
  border-radius: 8px;

  &.is-show {
    --display: block;
  }

  .header {
    border-bottom: 1px solid var(--gray-700);
    display: flex;
    padding: 0 0 rem(8px) 0;
    grid-column-gap: rem(4px);
    margin-bottom: rem(8px);
  }

  .btn-ghost {
    @include upd-font($body-2);
    white-space: nowrap;
    --padding: #{rem(4px)} #{rem(6px)} !important;
    --color: var(--gray-300);
    --width: 100%;

    &.is-active {
      --color: var(--white);
    }

    @include media(sm) {
      @include upd-font($body-1);
    }

    @include use-hover {
      &:hover {
        --color: var(--yellow-500);
      }
    }
  }

  .items {
    display: grid;
    max-height: calc(calc(calc(#{rem(32px)} + #{rem(4px)}) * 6) - #{rem(4px)});
    overflow-y: scroll;
    @include scrollbar;
    margin-right: -6px;
    grid-row-gap: 4px;
  }

  .item {
    height: rem(32px);
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 8px;
    grid-column-gap: rem(4px);
    transition: all .2s ease-in-out;

    &.is-active {
      cursor: text;
      background-color: var(--gray-700);

      .amount {
        --color: var(--yellow-500);
      }
    }

    @include use-hover {
      &:hover {
        &:not(.is-active) {
          cursor: pointer;
          background-color: var(--gray-700);
        }
      }
    }

    .img {
      @include box(20px);
    }

    .code-title, .amount {
      @include font($body-1);
    }

    .code-title {
      color: var(--color, var(--gray-400));
      flex-grow: 1;
    }

    .amount {
      color: var(--color, var(--white));
      justify-self: flex-end;
      transition: all .2s ease-in-out;
    }
  }
}
