.grid {
  --col-gap: 8px;

  .items {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    grid-gap: var(--col-gap);

    @include media(sm) {
      --col-gap: 16px;
      grid-template-columns: repeat(6, 1fr);
    }

    @include media(xl) {
      grid-template-columns: repeat(9, 1fr);
    }

    .card-base {
      width: 100%;
    }
  }

  .item {
    background: var(--gray-500);
    border-radius: rem(8px);
  }

  .btn-load-more {
    margin: auto;
    visibility: hidden !important;
    opacity: 0 !important;
  }

  .card-base {
    --min-width: 100%;
  }
}
