.paysis {
  display: flex;
  align-items: center;
  grid-gap: rem(24px);
  overflow-x: auto;

  @include media(sm) {
    overflow-x: hidden;
    justify-content: center;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  > .logo {
    display: block;
    height: rem(24px);
    width: auto;
    user-select: none;
  }
}
