.paysis {
  overflow: hidden;
  position: relative;

  &:before, &:after {
    content: '';
    top: -1px;
    bottom: -1px;
    width: var(--shadow-width);
    position: absolute;
    background: linear-gradient(270deg, var(--layer-bg) 0%, rgba(17, 20, 28, 0) 100%);
    z-index: 1;
    box-shadow: 16px 0 0 var(--layer-bg);
  }

  &:before {
    transform: rotate(180deg);
    left: var(--shadow-inset);
  }

  &:after {
    right: var(--shadow-inset);
  }


  &.is-logged {
    --cursor: pointer;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    display: flex;
    grid-column-gap: 24px;
    align-items: center;
  }

  &__item {
    width: auto;
  }

  .logo {
    display: block;
    width: auto;
    height: 24px;
    user-select: none;
    cursor: var(--cursor, default);
  }
}
