.result-search {
  border-radius: 8px;
  max-height: rem(360px);
  overflow: hidden;
  padding: rem(8px);
  background-color: var(--layer-02);
  transform: translateY(rem(4px));
  position: absolute;
  left: var(--left, #{rem(16px)});
  right: var(--right, #{rem(16px)});
  display: none;
  box-shadow: var(--shadow-layer);

  @include media(l) {
    --left: 0;
    --right: 0;
  }

  .box {
    max-height: calc(#{rem(360px)} - #{rem(16px)});
    overflow-y: auto;
    overflow-x: hidden;

    @extend %scrollbar;
  }

  .items {
    padding: rem(8px) rem(8px) rem(8px) rem(8px);
  }

  img {
    display: inline-block;
    width: rem(40px);
    height: rem(40px);
    object-fit: cover;
  }

  .item {
    display: flex;
    align-items: center;
    padding: rem(4px);
    grid-column-gap: rem(8px);
    background-color: var(--bg, transparent);
    color: var(--color, var(--text-primary));
    @include font($heading-1);
    min-height: rem(48px);
    white-space: nowrap;
    border-radius: 8px;
    transition: all .2s ease-in-out;

    &:hover {
      cursor: pointer;
      --bg: var(--layer-01);
      --color: var(--text-accent);
    }

    span {
      display: inline-block;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &.is-show {
    display: block;
  }

  .header {
    display: grid;
    grid-gap: rem(8px);
    padding: rem(8px) rem(16px);
    border-bottom: 1px solid var(--border-02);
  }

  .heading {
    @include font($heading-2);
    color: var(--text-primary);
    padding: 0;
    margin: 0;
  }

  .label {
    @include font($body-2);
    color: var(--text-primary);
    padding: rem(8px) rem(16px) rem(8px) 0;
  }

  .text {
    @include font($body-1);
    color: var(--text-tertiary);
    padding: 0;
    margin: 0;
  }

  .footer {
    margin-top: rem(8px);
    border-top: 1px solid var(--border-02);
    padding: rem(8px) 0 0 0;
  }

  .btn-ghost {
    --width: 100%;
  }
}
