.tournament-banner {
  position: relative;
  overflow: hidden;
  margin: -24px -32px 16px;
  padding: 0 32px;
  background: linear-gradient(180deg, rgba(73, 15, 119, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%), var(--layer-bg);

  @include media(md) {
    margin: -24px -48px 56px -48px;
    padding: 0 48px;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--card-container-padding, 40px 136px 40px 0);
    align-items: flex-start;

    @include media(md) {
      margin: 0 auto;
      max-width: 1024px;
    }
  }

  &__content {
    z-index: 1;
  }

  &__title {
    color: var(--text-primary);
    margin-top: 16px;
    @include font($body-2);

    @include media(l) {
      margin-top: 24px;
      @include font($body-4);
    }
  }

  &__finished-date {
    color: var(--text-secondary);
    margin-top: 8px;
    @include font($subheading-2);

    @include media(l) {
      @include font($subheading-4);
      margin-top: 16px;
    }
  }

  &__sub-title {
    color: var(--text-accent);
    text-shadow: var(--shadow-layer);
    margin-top: 4px;
    @include font($heading-5);

    @include media(l) {
      @include font($heading-8);
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: 100%;
    transform: translateY(-50%) translateX(20%);
    opacity: 1;

    @include media(md) {
      transform: translateY(-50%) translateX(0%);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    margin-right: -100px;
    position: relative;
    z-index: 1;
    min-height: 42px;

    @include media(l) {
      margin-top: 32px;
    }

    .btn-primary, .btn-ghost, .btn-secondary {
      white-space: nowrap;
    }
  }

  &--finished {
    background: linear-gradient(180deg, rgba(17, 20, 28, 0.70) 0%, rgba(40, 47, 62, 0.70) 100%), var(--layer-bg);

    .tournament-banner__title {
      color: var(--text-helper) !important;
    }

    .tournament-banner__sub-title {
      color: var(--text-helper) !important;
    }
  }
}