.tournament-card-finished {
  border-radius: var(--card-radius, 16px);
  background: var(--layer-03-main);
  padding: var(--card-padding, 0);
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    padding: var(--card-container-padding, 24px 120px 24px 24px);
    align-items: flex-start;
    position: relative;

    @include media(l) {
      --card-container-padding: 32px 180px 32px 24px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__header {

  }

  &__badge {
    display: flex;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--corner-radius-mapped-system-default, 8px);
    background: var(--layer-02);
    color: var(--gray-300);
    width: max-content;
    @include font($subheading-2);
  }

  &__date {
    color: var(--text-secondary);
    margin-top: 8px;
    display: flex;
    --line-height: auto;
    @include font($subheading-2);

  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: var(--text-helper);
    margin-top: 16px;
    @include font($body-2);

    @include media(l) {
      margin-top: 16px;
      @include font($body-4);
    }
  }

  &__sub-title {
    color: var(--text-helper);
    text-shadow: var(--shadow-layer);
    margin-top: 4px;
    margin-right: -100px;
    @include font($heading-5);

    @include media(l) {
      @include font($heading-8);
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: 100%;
    transform: translateY(-50%) translateX(20%);
    opacity: 0.5;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    margin-right: -100px;
    position: relative;
    z-index: 1;

    @include media(l) {
      margin-top: 32px;
    }

    .btn-primary, .btn-ghost, .btn-secondary {
      white-space: nowrap;
    }
  }
}
