.tournament-games {
  display: grid;
  align-items: center;
  grid-row-gap: var(--row-gap, 16px);
  position: relative;
  margin-top: 40px;

  &__header {
    display: flex;
    align-items: center;

    [data-icon] {
      font-size: 20px;
      grid-area: icon;
    }

    .icon {
      --icon-size: 20px;
      --color: var(--icon-primary);
    }
  }

  &__title {
    flex-shrink: 0;
    grid-area: heading;
    color: var(--text-primary);
    margin: 0 16px 0 8px;
    @include font($heading-4);
  }

  &__total-rows {
    margin-left: auto;
    color: var(--text-secondary);
  }

  &__items {
    --column-count: 3;
    --column-gap: 8px;
    width: 100%;
    display: var(--display, flex);
    align-items: center;
    flex-wrap: wrap;
    grid-gap: var(--column-gap, 8px);

    @include media(xs) {
      --column-count: 4;
    }

    @include media(sm) {
      --column-count: 6;
      --column-gap: 16px;
    }
  }

  &__more {
    --line-height: auto;
    --padding: 6px 16px;
    --width: 100%;
    height: 32px;
    @include font($heading-1);
    @extend %btn-ghost-low-contrast;

    @include media(sm) {
      @include upd-font($heading-2);
    }

    @keyframes tournament-games-spin {
      from {
        transform: rotate(0);
      }
      to{
        transform: rotate(-359deg);
      }
    }

    &.loading .icon {
      animation: tournament-games-spin .8s linear 0s infinite;
    }
  }

  .vue-skeletor--text {
    border-radius: 8px;
  }
}