.tournament-info {
  margin-bottom: 40px;

  &__title {
    color: var(--text-primary);
    margin-bottom: 12px;
    @include font($heading-5);

    @include media(md) {
      @include upd-font($heading-7);
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin: 12px 0 8px;
  }

  &__item {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    border-radius: var(--corner-radius-mapped-system-default, 8px);
    background: var(--layer-01);

    img {
      display: flex;
      width: 40px;
      justify-content: center;
      align-items: center;
      height: 40px;
      object-fit: contain;
      margin-right: 8px;
    }

    &-label {
      --line-height: auto;
      color: var(--text-primary);
      margin-right: 4px;
      @include font($body-3);
    }

    &-count {
      --line-height: auto;
      color: var(--text-accent);
      @include font($body-3);
    }
  }

  &__description {
    color: var(--text-tertiary);
    margin: 8px 0;
    @include font($body-3-paragraph);

    &:not(.is-expanded) {
      @include line-clamp(2);
    }

    > * {
      margin: 0;
    }
  }

  &__more-btn {
    --width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    gap: 4px;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      @include font($heading-1);
    }

    .icon {
      --icon-size: 20px;
      --color: var(--button-icn-ghost-high-contrast);
      display: flex;
      align-items: flex-start;
      gap: 10px;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &__spinner {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    border-top: 1px solid var(--text-accent);
    border-right: 1px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}