.drawer {
  background-color: var(--layer-02);
  grid-area: drawer;
  transition: var(--drawer-transition, (transform .2s ease-out));
  width: var(--drawer-width, #{rem(288px)});
  position: var(--drawer-position, fixed);
  top: 0;
  left: 0;
  height: calc(var(--vh, 1vh) * 100);
  visibility: var(--drawer-visibility, visible);
  transform: var(--drawer-translate-x, translateX(calc(-100% - #{rem(32px)})));
  z-index: 3;
  will-change: transform;

  @include media(xs) {
    --drawer-width: 340px;
  }

  @include media(l) {
    top: rem(64px);
    --drawer-width: 240px;
    --drawer-visibility: visible;
  }

  .header {
    background-color: var(--drawer-header-bg, var(--layer-01));
    padding: var(--drawer-header-padding, 0);
    position: sticky;
    display: grid;
    top: 0;
    z-index: 1;
    grid-row-gap: var(--drawer-header-row-gap, 0);
    height: 72px;

    @include media(l) {
      display: none;
    }
  }

  .content {
    @include scrollbar-hide;
    position: relative;
    z-index: 0;
    padding: var(--drawer-content-padding, (#{rem(16px)} #{rem(16px)} #{rem(40px)} #{rem(16px)}));
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    height: calc(var(--vh, 1vh) * 100 - #{rem(72px)});

    @include media(l) {
      .drawer-minimize & {
        @include scrollbar-hide;
      }
    }
  }

  &.is-compact {
    @include media(l) {
      --drawer-width: #{rem(72px)};
      --drawer-header-row-gap: #{rem(16px)};
    }
  }

  .avatar {
    border-radius: 16px;
  }

  hr {
    --bg: var(--border-01)
  }

  .chat-indicator {
    position: relative;
    overflow: visible !important;

    &:after {
      display: block;
      content: '';
      @include box(8px);
      position: absolute;
      z-index: 2;
      background-color: var(--red-800);
      right: -12px;
      top: -4px;
      border-radius: 50%;
    }
  }
}
