.app-footer {
  grid-area: app-footer;
  color: var(--text-helper);
  display: grid;
  padding: var(--padding, #{rem(16px)} #{rem(16px)} #{rem(110px)} #{rem(16px)});
  @extend %container;

  .heading-primary {
    @include font($heading-4);
  }

  .heading-secondary {
    @include font($heading-2);
  }

  p {
    @include font($body-1-paragraph);
    margin: 0;
  }

  .info {
    display: flex;
    flex-direction: column;

    iframe {
      margin: var(--img-margin, 0 auto 24px);
      background-color: var(--gray-600);
      border-radius: 8px;
      border: rem(8px) solid var(--gray-600);
      box-sizing: content-box;
      width: calc(106px + 16px);
      height: calc(34px + 16px);
    }

    &__text {
      a {
        color: var(--text-helper);
        text-decoration: underline;
      }
    }

    @include media(l) {
      flex-direction: row;
      grid-column-gap: rem(16px);
      align-items: center;
      --img-margin: 0;
    }

  }

  .copy-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: var(--margin-bottom, 16px)
    }

    @include media(l) {
      flex-direction: row;
      grid-column-gap: rem(16px);
      align-items: center;
      justify-content: center;
      --margin-bottom: 0;
    }

  }

  .header {
    @include media(xs) {
      --padding: 0 0 #{rem(16px)} 0
    }
  }

  .group {
    display: grid;
    grid-gap: rem(8px);
    margin-top: rem(40px);
    align-items: flex-start;

    @include media(xs) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: rem(24px);

      .btn-toggle {
        visibility: hidden;
      }

      .items {
        grid-template-columns: repeat(2, auto);
        --display: grid;
      }
    }

    @include media(sm) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  @include media(sm) {
    --padding: #{rem(16px)} #{rem(32px)} #{rem(110px)} #{rem(32px)}
  }

  .partners {
    justify-content: flex-start;
    margin-bottom: 0;

    &:after {
      display: none;
    }

    &__title {
      padding: 8px 0;
      display: flex;
      min-height: 32px;

      @include media(sm) {
        padding: 0 0 16px 0;
      }
    }

    &__items {
      margin-bottom: 0;
      display: flex;
      justify-content: flex-start;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 8px;

      @include media(sm) {
        display: grid;
        grid-template-columns: repeat(2, auto);
      }
    }

    .partners__logo {
      width: 40px;
    }
  }
}
