.app-header {
  grid-area: app-header;
  height: rem(64px);
  @extend %flex-items-center;
  padding: var(--padding, 0 #{rem(16px)});
  position: sticky;
  top: 0;
  box-shadow: var(--shadow-layer);
  background-color: var(--layer-bg);
  z-index: var(--header-z-index, 2);
  grid-column-gap: 2px;
  @extend %container;

  .avatar {
    --padding: 0;
    --bg: transparent;
  }

  > .items {
    @extend %flex-items-center;
    justify-self: flex-end;
    margin-left: auto;
    grid-column-gap: rem(8px);
  }

  > .notification {
    margin-right: rem(16px);
  }

  @include media(sm) {
    --padding: 0 #{rem(32px)};
  }

  @include media(l) {
    --padding: 0 #{rem(48px)};
  }

  .list-balance {
    min-width: rem(248px);
    z-index: 0;
  }
}
