.bonus-package {
  padding: 2px;
  background: var(--bg, var(--layer-02));
  border-radius: 16px;

  &.is-active {
    --bg: linear-gradient(89deg, #FFDC8A -2766.21%, #FFC12E 38.74%, #E6A409 2866.21%);
  }

  &__container {
    background: var(--layer-02);
    padding: 22px 22px 26px 22px;
    border-radius: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-gap: 16px;
  }

  &__title {
    color: var(--text-primary);
    text-shadow: var(--shadow-layer);
    @include font($subheading-6);

    > * {
      margin: 0;
    }

    span {
      color: var(--text-accent);
    }
  }

  &__badge {
    --color: var(--icon-inverse);
    --icon-size: 16px;
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 4px;
    color: var(--text-inverse);
    @include font($subheading-1);
    background: var(--support-brand-default);
    border-radius: 8px;
  }

  .bonuses-progress {
    --propgress-line-bg: var(--support-info-default);
    --propgress-bar-bg: var(--support-info-default,);
    --propgress-bar-color: var(--blue-100);
  }

  &__tb {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 8px;

    &-th {
      @include font($body-1);
      color: var(--text-tertiary);
    }
  }
}
