.bonus-percent {
  padding: 2px;
  background: var(--bg, var(--layer-02));
  border-radius: 16px;

  &.is-active {
    --bg: linear-gradient(89deg, #FFDC8A -2766.21%, #FFC12E 38.74%, #E6A409 2866.21%);
  }

  &__container {
    background: var(--layer-02);
    padding: 22px 22px 26px 22px;
    border-radius: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-gap: 16px;
  }

  &__badge {
    --color: var(--icon-contrast);
    --icon-size: 16px;
    display: inline-flex;
    padding: 4px 8px;
    align-items: center;
    gap: 4px;
    color: var(--violet-100);
    @include font($subheading-1);
    background: var(--violet-500);
    border-radius: 8px;
  }


  .bonuses-progress {
    --propgress-bar-bg: var(--support-info-default);
    --propgress-bar-color: var(--white);
  }
}
