.arrows {
  @extend %flex-items-center;
  grid-column-gap: 8px;

  .btn-prev, .btn-next {
    @include box(32px);
    @extend %flex-all-center;
    @extend %skip-btn;
    @extend %btn-secondary;
    border-radius: 8px;
  }

  .btn-prev {
    transform: rotate(90deg);
  }

  .btn-next {
    transform: rotate(-90deg);
  }
}
