.btn-copy {
  background-color: var(--copy-btn-bg, transparent);
  @extend %skip-btn;
  @include font($heading-1);
  padding: rem(2px) rem(16px);
  display: flex;
  align-items: center;
  grid-column-gap: rem(4px);
  color: var(--color, var(--text-tertiary));
  cursor: pointer;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  min-height: rem(24px);
  transform: translateX(16px);
  transition: color .2s, background-color .2s;

  &__wrap {
    position: relative;
  }

  .icon {
    --color: var(--icon-contrast);
    --icon-size: 20px;
    transition: inherit;
  }

  @media (hover: hover) {
    &:hover {
      --color: var(--button-text-ghost-hover);
      --copy-btn-bg: var(--button-bg-secondary-click);

      .icon {
        --color: var(--icon-accent);
      }
    }
  }

  &__tooltip {
    position: absolute;
    bottom: calc(100% + 4px);
    right: -24px;
    padding: 2px 8px;
    background-color: var(--green-700);
    color: var(--text-primary);
    white-space: nowrap;

    @include font($body-1);
  }
}
