.btn-deposit {
  @extend %skip-btn;
  @include box(40px);
  @extend %flex-all-center;
  border-radius: var(--radius, 12px);
  padding: var(--btn-padding, 0);
  grid-column-gap: rem(4px);

  span {
    @include font($heading-2);
    display: var(--display, none);
  }

  @include media(md) {
    --width: auto;
    --radius: 12px;
    --btn-padding: #{rem(11px)} #{rem(24px)};

    span {
      --display: block;
    }
  }

  @extend %btn-primary
}
