.btn-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %skip-btn;
  padding: 0;
  border-radius: 8px;
  background-color: var(--bgc, transparent);
  transition: all .2s ease-in-out;
  width: rem(24px);
  height: rem(24px);
  margin-left: auto;
  --icon-size: 20px;
  --color: var(--base-card-btn-color);

  &.active {
    --color: var(--base-card-btn-color);
    --bgc: var(--base-card-btn-hover-bg);
  }

  @include use-hover {
    &:hover {
      cursor: pointer;
      --color: var(--base-card-btn-hover-color);
      --bgc: var(--base-card-btn-hover-bg);
    }
  }
}
