.btn-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %skip-btn;
  padding: 0;
  border-radius: 8px;
  background-color: var(--bgc, transparent);
  transition: all .2s ease-in-out;
  width: rem(24px);
  height: rem(24px);
  margin-left: auto;
  --icon-size: 20px;
  --color: var(--game-tumb-btn-content);

  &.active {
    --color: var(--game-tumb-btn-content);
    --bgc: var(--game-tumb-btn-bg-hover);
  }

  @include use-hover {
    &:hover {
      cursor: pointer;
      --color: var(--game-tumb-btn-content-hover);
      --bgc: var(--game-tumb-btn-bg-hover);
    }
  }
}
