.btn-logout {
  @extend %skip-btn;
  padding: rem(6px) rem(8px);
  display: flex;
  align-items: center;
  @include font($body-1);
  grid-column-gap: rem(8px);
  color: var(--color, var(--text-primary));
  background-color: var(--bg, transparent);
  transition: color .2s ease-in-out;
  border-radius: 8px;

  .icon {
    --color: var(--icon-primary);
  }

  &:hover {
    --bg: var(--button-bg-secondary-click);
    --color: var(--text-primary);
    cursor: pointer;

    .icon {
      --color: inherit;
    }
  }

  &:focus {
    --bg: var(--button-bg-secondary-click);
    --color: var(--text-accent);

    .icon {
      --color: var(--icon-accent);
    }
  }

  &[disabled] {
    pointer-events: none;
    --bg: transparent;
    --color: var(--text-helper);

    .icon {
      --color: var(--icon-secondary);
    }
  }
}
