.btn-play {
  display: flex;
  position: relative;
  padding: 0;
  @extend %skip-btn;
  @extend %flex-all-center;
  border-radius: 50%;
  margin: auto;
  align-self: center;
  justify-self: center;
  transition: opacity .4s ease-in-out;
  opacity: var(--play-btn-opacity, 1);
  --glow-offset: 0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + var(--glow-offset));
    height: calc(100% + var(--glow-offset));
    background: var(--base-card-glow-gradient);

    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
  }

  .icon-box {
    width: var(--icon-box-size);
    height: var(--icon-box-size);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-image: var(--bgi, var(--button-bg-primary-icn-only));
    border-radius: 50%;
    transition: all .2s ease;
    --icon-box-size: 48px;

    [data-size="min"] & {
      --icon-box-size: 48px;
    }

    [data-size="def"] & {
      --icon-box-size: 64px;
    }

    [data-size="max"] & {
      --icon-box-size: 96px;
    }
  }

  .icon {
    transform: translateX(1px);
    width: var(--icon-size);
    height: var(--icon-size);
    --icon-size: 24px;
    --color: var(--button-icn-primary);

    [data-size="min"] & {
      --icon-size: 24px;
    }

    [data-size="def"] & {
      --icon-size: 32px;
    }

    [data-size="max"] & {
      --icon-size: 48px;
    }
  }

  @include use-hover {
    &:hover {
      cursor: pointer;
      --glow-offset: 12px;
      --bgi: var(--button-bg-primary-icn-only-hover);

      [data-size="min"] & {
        --glow-offset: 12px;
      }

      [data-size="def"] & {
        --glow-offset: 16px;
      }

      [data-size="max"] & {
        --glow-offset: 20px;
      }

      &:before {
        animation: pulse-border 2000ms ease-out infinite;
      }
    }
  }


  &:active {
    --bgi: var(--button-bg-primary-icn-only-click);
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
