.btn-popup {
  margin: 0 auto;
  color: var(--button-text-ghost-high-contrast);
  text-decoration: none;
  cursor: pointer;
  @include font($heading-1);

  span {
    color: var(--text-accent);
  }
}
