.btn-ref-promo {
  grid-column-gap: rem(4px);
  margin: 0 auto;
  @include font($body-2);
  color: var(--color, var(--text-secondary));
  transition: color .2s ease-in-out;

  &:hover {
    cursor: pointer;
    --color: var(--text-accent);
  }

  .icon {
    --color: var(--icon-primary);
  }
}
