.btn-search {
  display: var(--display, none);
  @include box(40px);
  @include radius(12px);
  @extend %skip-btn;
  @extend %flex-all-center;
  position: relative;
  background-color: var(--bgc, transparent);
  right: 0;
  --padding: 0 0;

  &[data-show="mobile"] {
    --display: block;

    @include media(l) {
      --display: none;
    }
  }

  &[data-show="desktop"] {

    @include media(l) {
      --display: block;
    }
  }

  .icon {
    --color: var(--button-icn-ghost-low-contrast);
    --icon-size: 22px;
  }

  &.is-active {
    --bgc: transparent;

    --bulb-color: var(--support-success-default);
    --bulb-border-color: var(--button-bg-secondary-hover);

    &:hover {
      --bgc: var(--button-bg-secondary-hover);
    }

    .icon {
      --color: var(--button-icn-ghost-high-contrast);
    }

  }

  @include use-hover {
    cursor: pointer;

    &:hover {
      --bgc: var(--button-bg-secondary-hover);

      .icon {
        --color: var(--button-icn-ghost-hover);
      }
    }
  }

  &:active {
    --bgc: var(--button-bg-secondary-click);
  }
}
