.btn-show-more {
  @include font($heading-1);
  @extend %flex-all-center;
  @extend %skip-btn;
  width: 100%;
  padding: rem(4px);
  margin-top: rem(8px);
  grid-gap: rem(4px);
  cursor: pointer;
  transition: color .2s ease-in-out;

  --color: var(--button-text-ghost-low-contrast);
  --icon-size: #{rem(20px)};

  &:hover {
    --color: var(--button-text-ghost-hover);
  }
}
