.btn-toggle {
  @include box(24px);
  @extend %flex-all-center;
  @extend %skip-btn;
  border-radius: 8px;
  padding: 0;
  transition: all .2s ease-in-out;
  transform: rotate(var(--deg, 0));
  margin-left: var(--margin-left, 0);

  &:hover {
    cursor: pointer;
  }

  &.is-active, .is-open &  {
    --bg: var(--gray-700);
    --color: var(--yellow-500);
    --deg: -180deg;
  }
}
