.toggler-btn {
  padding: var(--padding, #{rem(16px)} #{rem(31px)} #{rem(16px)} #{rem(16px)});
  grid-gap: 3px;
  display: flex;
  flex-direction: var(--direction, row);
  justify-self: center;
  background-color: var(--layer-01);
  flex-grow: 1;
  width: 100%;

  .btn {
    overflow: hidden;
    flex-grow: 1;

    --padding: #{rem(4px) rem(12px)};
    --btn-border-radius: 8px;
    --bg: transparent;
    --color: var(--icon-contrast);
    --text-color: var(--text-primary);


    @include use-hover {
      &:hover {
        cursor: pointer;
        --bg: var(--button-bg-secondary-click);
      }
    }

    &:active, &.is-active {
      --bg: var(--button-bg-secondary-click);
      --color: var(--icon-accent);
      --text-color: var(--text-accent);
    }
  }

  .text {
    @include font($body-2);
    @extend %text-elipsis;
    display: var(--text-display, block);
    color: var(--text-color);
    transition: color .2s ease-in-out;
  }

  .is-compact & {
    @include media(l) {
      border-radius: 8px;
      width: fit-content;
      align-items: center;

      --direction: column;
      --padding: #{rem(4px)};
      --margin: 0;
      --text-display: none;

      .btn {
        @include box(32px);
        --padding: 0;
      }

      .icon {
        --icon-size: #{rem(22px)};
      }
    }
  }
}
