.toggle-drawer {
  .btn {
    @include box(32px);
    @extend %flex-all-center;
    display: var(--btn-display, none);
    justify-content: center;
    align-items: center;
    @extend %skip-btn;
    border-radius: 8px;
    padding: 0;
    position: var(--position, absolute);
    transform: var(--translate, translate(50%, 50%));
    transition: unset;
    right: var(--right, 0);
    box-shadow: var(--shadow-layer);

    --bg: var(--button-bg-secondary);
    --color: var(--button-icn-secondary);
    --icon-size: #{rem(24px)};

    .icon {
      transform: rotate(90deg) scaleY(var(--scaleY, 1));
    }

    &:hover {
      cursor: pointer;
      --bg: var(--button-bg-secondary-hover);
      --color: var(--button-icn-secondary-hover);
    }

    &.is-compact {
      @include media(l) {
        --bg: var(--button-bg-secondary);
      }
    }

    &[data-action="minimize"] {
      @include media(l) {
        --btn-display: flex;
      }

    }

    &[data-action="open"] {
      --btn-display: flex;

      @include media(l) {
        --btn-display: none;
      }
    }
  }

  .is-compact & {
    @include media(l) {
      padding: rem(16px) rem(20px);
      background-color: var(--layer-01);

      --scaleY: -1;
      --position: relative;
      --translate: 0 0;
      --right: auto
    }
  }
}
