.toggle-drawer {
  position: relative;
  @include box(40px);
  display: none;
  margin-right: 12px;

  @include media(l) {
    display: block;
  }

  .btn {
    @include box(40px);
    @extend %flex-all-center;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %skip-btn;
    border-radius: 8px;
    padding: 0;
    position: var(--position, absolute);
    transition: unset;
    flex-shrink: 0;
    top: 0;
    left: 0;

    --bg: transparent;
    --color: var(--icon-primary);
    --icon-size: #{rem(24px)};

    .icon {
      transform: rotate(180deg);

      .main-layout.drawer-minimize & {
        transform: rotate(0deg);
        --color: var(--icon-accent);
      }
    }

    @include use-hover {
      &:hover {
        cursor: pointer;

        .icon {
          --color: var(--icon-accent);
        }
      }
    }
  }

  .is-compact & {
    @include media(l) {
      padding: rem(16px) rem(20px);
      background-color: var(--layer-01);

      --position: relative;
      --translate: 0 0;
      --right: auto
    }
  }
}
