.notification {
  @extend %flex-all-center;
  @include box(40px);
  @include radius(50%);
  position: relative;
  background-color: var(--bg, transparent);
  transition: all .2s ease-in-out;
  text-decoration: none;

  .icon {
    --color: var(--white);
  }

  .bulb {
    position: absolute;
    top: rem(8px);
    right: rem(8px);
    display: var(--display, none);
  }

  &.is-active {
    .bulb {
      --display: block;
    }

    &:before {
      --icon-color: var(--white);
    }
  }

  &:hover {
    cursor: pointer;
    --bg: var(--gray-800);

    &:before {
      --icon-color: var(--yellow-500);
    }
  }

  &.is-shown {
    box-shadow: inset 0 3px 0 var(--gray-800);
    --bg: var(--gray-700);

    &:before {
      --icon-color: var(--yellow-500);
    }

    ~ .popover-notifications {
      --visibility: visible;
    }
  }
}
