.balance {
  background-color: var(--black-primary);
  padding: var(--items-padding, #{rem(16px)});
  margin: var(--margin, 0);
  align-items: flex-start;
  width: 100%;

  hr {
    display: var(--hr-display, none);
    margin: rem(16px) 0;

    @include media(md) {
      --hr-display: block;
    }
  }

  @include media(md) {
    --items-bg: transparent;
    --items-padding: 0;
  }

  .row {
    display: grid;
    grid-row-gap: rem(8px);
    grid-template-columns: repeat(2, 1fr);

    @include media(md) {
      grid-row-gap: rem(2px);
      grid-template-columns: unset;
    }

    &:nth-of-type(even) {
      margin-bottom: rem(16px);

      .value {
        @include upd-font($body-2);
        --color: var(--white);
        text-align: right;

        @include media(md) {
          text-align: left;
        }
      }
    }

    &:nth-of-type(odd) {
      margin-bottom: rem(16px);
      .value {
        text-align: right;

        @include media(md) {
          text-align: left;
        }
      }
    }
  }

  .label {
    @include font($body-2);
    color: var(--gray-400);
    flex-grow: 1;
    margin: 0;
  }

  .value {
    @include font($body-2);
    color: var(--color, var(--white));
    flex-grow: 1;
    margin: 0;
  }

  .items {
    @include media(md) {
      position: relative;
      --items-visibility: visible
    }
  }

  .input-payments {
    .selected {
      @include media(md) {
        display: none;
      }
    }
  }
}
