.security {
  .form-change {
    grid-template-areas:
      "old"
      "new"
      "reenter"
      "save";

    @include media(xs) {
      grid-template-areas:
      "old ."
      "new reenter"
      "save save";
    }
  }

  .row-currentPassword {
    grid-area: old;
  }

  .row-newPassword {
    grid-area: new;
  }

  .row-repeatNewPassword {
    grid-area: reenter;
  }

  .btn-primary {
    grid-area: save;
  }

}
