.card-providers {
  background-color: var(--gray-800);
  position: relative;
  padding: rem(16px);
  flex-shrink: 0;
  width: var(--width, #{column(3)});
  cursor: pointer;
  @extend %cards-items;

  .img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  @include media(xs) {
    --width: #{column(4)};
  }

  @include media(sm) {
    --width: #{column(6)};
  }

  @include media(xl) {
    --width: #{column(9)};
  }
}
