.card-providers {
  background-color: var(--gray-800);
  position: relative;
  border-radius: 8px;
  padding: rem(16px);
  flex-shrink: 0;
  width: var(--width, #{column(3, 8px)});
  scroll-snap-align: var(--scroll-snap-align, unset);
  cursor: pointer;

  &:nth-of-type(3n + 1) {
    --scroll-snap-align: start;
  }

  .img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  @include media(xs) {
    &:nth-of-type(3n + 1) {
      --scroll-snap-align: unset;
    }

    &:nth-of-type(5n + 1) {
      --scroll-snap-align: start;
    }

    --width: #{column(4, 16px)};
  }

  @include media(sm) {
    &:nth-of-type(5n + 1) {
      --scroll-snap-align: unset;
    }

    &:nth-of-type(6n + 1) {
      --scroll-snap-align: start;
    }

    --width: #{column(6, 16px)};
  }

  @include media(md) {
    --width: #{column(6, 8px)};
  }

  @include media(l) {
    --width: #{column(6, 16px)};
  }

  @include media(xl) {
    &:nth-of-type(6n + 1) {
      --scroll-snap-align: unset;
    }

    &:nth-of-type(7n + 1) {
      --scroll-snap-align: start;
    }

    --width: #{column(7, 16px)};
  }

  @include media(xxl) {
    &:nth-of-type(7n + 1) {
      --scroll-snap-align: unset;
    }

    &:nth-of-type(9n + 1) {
      --scroll-snap-align: start
    }

    --width: #{column(9, 16px)};
  }
}
